<section id="sidebar-page" class="usa-section usa-content">
  <div class="usa-grid">
    <aside class="usa-width-one-third usa-layout-docs-sidenav">
      &nbsp;
      <ul id="sidebar-nav" class="usa-sidenav-list">
        <li>
          <a href="#">General guidelines</a>
        </li>
        <li>
          <a href="#">Tree selection</a>
          <ul class="usa-sidenav-sub_list">
            <li>
              <a href="#">Tree species</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Cutting instructions</a>
          <ul class="usa-sidenav-sub_list">
            <li>
              <a href="#">Cutting and clean up</a>
            </li>
            <li>
              <a href="#">Tools</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Trip planning</a>
        </li>
        <li>
          <a href="#">Safety first</a>
        </li>
        <li>
          <a href="#">Contact information</a>
        </li>

      </ul>
    </aside>
    <div class="usa-width-two-thirds sidebar-page-main-content">
      <h1>2017 Christmas tree permit requirements</h1>
      <h2>General Guidelines</h2>
      <app-tree-guidelines-text [forest]="forest"></app-tree-guidelines-text>
      <h2>Tree Selection</h2>
      <app-tree-selection [forest]="forest"></app-tree-selection>
      <h3>Types of trees</h3>
      <app-tree-species [forest]="forest"></app-tree-species>
      <h2>Cutting instructions</h2>
      <app-tree-cutting [forest]="forest"></app-tree-cutting>
      <h3>Tools</h3>
      <app-tree-tools [forest]="forest"></app-tree-tools>
      <h3>Cutting and clean up</h3>
      <app-tree-cutting-cleanup [forest]="forest"></app-tree-cutting-cleanup>
      <h2>Trip planning</h2>
      <div>
        Res ipsum locquitor... blah blah
      </div>
      <h2>Safety first</h2>
      <div>
        Res ipsum locquitor... blah blah
      </div>
      <h2>Contact information</h2>
      <app-tree-contact-info [forest]="forest"></app-tree-contact-info>


    </div>
  </div>
</section>
