$font-sans: 'Arial', 'helvetica';
$font-sans-alt: 'Verdana';

$black: #212121;
$dark-grey: #656565;
$white: #FFFFFF;

$fs-blue-light: #3e94cf;
$fs-brown: #2e1e12;
$fs-brown-dark: #261f1b;
$fs-green-darker: #0a531b;
$fs-green-darkest: #073d11;
$fs-green: #076727;
$fs-red: #e31c3d;
$fs-red-darker: #cd2026;
$fs-red-darkest: #981b1e;
$fs-tan-dark: #e2dfd3;
$fs-tan-darker: #d6d2c1;
$fs-tan: #eeece5;

// color demos for the style guide

.demo-black {
  background: $black;
  color: $white;
  padding: 1em;
}

.demo-dark-grey {
  background: $dark-grey;
  color: $white;
  padding: 1em;
}

.demo-white {
  background: $white;
  border: 1px solid $black;
  color: $black;
  padding: 1em;
}

.demo-fs-blue-light {
  background: $fs-blue-light;
  border: 1px solid $black;
  color: $white;
  padding: 1em;
}

.demo-fs-brown {
  background: $fs-brown;
  color: $white;
  padding: 1em;
}

.demo-fs-brown-dark {
  background: $fs-brown-dark;
  color: $white;
  padding: 1em;
}

.demo-fs-tan {
  background: $fs-tan;
  border: 1px solid $black;
  color: $black;
  padding: 1em;
}

.demo-fs-tan-dark {
  background: $fs-tan-dark;
  border: 1px solid $black;
  color: $black;
  padding: 1em;
}

.demo-fs-tan-darker {
  background: $fs-tan-darker;
  border: 1px solid $black;
  color: $black;
  padding: 1em;
}

.demo-fs-green {
  background: $fs-green;
  color: $white;
  padding: 1em;
}

.demo-fs-green-darker {
  background: $fs-green-darker;
  color: $white;
  padding: 1em;
}

.demo-fs-green-darkest {
  background: $fs-green-darkest;
  color: $white;
  padding: 1em;
}

.demo-fs-red {
  background: $fs-red;
  color: $white;
  padding: 1em;
}

.demo-fs-red-darker {
  background: $fs-red-darker;
  color: $white;
  padding: 1em;
}

.demo-fs-red-darkest {
  background: $fs-red-darkest;
  color: $white;
  padding: 1em;
}
