$font-sans: 'Arial', 'helvetica';
$font-sans-alt: 'Verdana';

$transparent: rgba(0,0,0,0);
$black: #212121;
$dark-grey: #656565;
$white: #FFFFFF;

$fs-blue-light: #3e94cf;
$fs-brown: #2e1e12;
$fs-brown-dark: #261f1b;
$fs-green-dark: #0a531b;
$fs-green-darker: #073d11;
$fs-green: #076727;
$fs-red: #e31c3d;
$fs-red-dark: #cd2026;
$fs-red-darker: #981b1e;
$fs-tan-dark: #e2dfd3;
$fs-tan-darker: #d6d2c1;
$fs-tan: #eeece5;
