<div>

  <markdown *ngIf="forest && forest.content" [data]="forest.content.prohibitedRules"></markdown>

  <ng-container *ngIf="(forest.species | Filter: 'status':'prohibited').length">
    <h3>It is prohibited to gather:</h3>
    <div class="usa-grid">
      <ul>
        <li [attr.id]="'tree-rules-prohibited-species-'+ i"
        *ngFor="let tree of forest.species | Filter: 'status':'prohibited'; let i=index">
          <span class="usa-width-two-thirds">{{ tree.name }}</span>
          <span class="usa-width-one-third">
            <span aria-hidden='true' class='tree-status tree-status-prohibited usa-label danger'>
              Prohibited
            </span>
            <figure>
              <img src="/assets/img/{{ tree.name | SpacesToDashes }}.jpg" alt="{{ tree.name }}"/>
              <figcaption>{{tree.name}}</figcaption>
            </figure>
          </span>
      </ul>
    </div>
  </ng-container>

  <markdown *ngIf="forest && forest.content" [data]="forest.content.cuttingYourTree"></markdown>
</div>
