<ul>
  <li>Pack the tools needed to cut down your tree. Recommended items include a tarp, sturdy work gloves, rope, and a hacksaw or axe. Loppers or pruners may be useful for trimming the tree. Chainsaws are prohibited.</li>
  <li>Bring a tarp with you. It can be used to sit on so you don’t get wet and to drag your tree back to the car.</li>
  <li>Bring a spare key and give it to someone else in your party. Don’t get locked out of your car!</li>
  <li>Roads may not be plowed. Carry tire chains, shovel(s) & tow chain. Bring an overnight survival kit in case you become stranded. Also, have a full tank of gas.</li>
  <li>Check the latest weather conditions and road hazards before you leave on your trip as conditions may have changed since you purchased your permit.</li>
  <li>Expect winter conditions, including below-freezing temperatures and cold winds. Dress warmly and take extra dry clothes.</li>
  <li>Don’t rely on GPS because it may not be up-to-date with forest service roads. Bring a <a href="#" (click)="service.gotoHashtag('tree-locations', $event)">forest or district map</a> with you.</li>
  <li>Start your day early. Be sure to find your tree and leave the woods before dark.</li>
  <li>Be sure someone knows where you are and when to expect you back. Cell service is spotty, or non-existent, in many National Forests.</li>
  <li>When you park, be sure other vehicles can get by safely. Do not block gates.</li>
</ul>
