<h3>Planning your trip</h3>
<ul>
  <li>
    Be sure someone knows where you are and when to expect you back. Cell service is
    spotty, or non-existent, in many National Forests.
  </li>
  <li>Check the latest weather conditions and road hazards before you leave on your trip as
    conditions may have changed since you purchased your permit.</li>
  <li>Pack the tools needed to harvest your tree. Recommended items include a tarp, sturdy
    work gloves, rope, and a chainsaw or axe.</li>
  <li>Expect winter conditions, including below-freezing temperatures and cold winds.
    Dress warmly and take extra dry clothes.</li>
  <li>Roads may not be plowed. Carry tire chains, shovel (s) &amp; tow chain. Bring an overnight
    survival kit in case you become stranded. Also, have a full tank of gas.</li>
  <li>Snowmobiles, motorcycles and ATVs are prohibited.</li>
  <li>Pets are not recommended. If they join you, they must be on a leash.</li>
  <li>Each year a number of people either lose their keys or lock them in their vehicle. Bring
    a spare key and give it to another member of your party.</li>
</ul>