<ng-container>
  <section class="usa-section">
    <div class="usa-grid">

      <h1 id="skip-nav-target" tabindex="-1">Feedback</h1>

      <table id="feedback-table" *ngIf="entries">
        <caption>
          <button id="download-report" class="usa-button-primary" (click)="downloadReport()">Download as Excel/CSV</button>
        </caption>
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Forest/s</th>
            <th scope="col">Feedback</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of entries">
            <td>{{entry.created}}</td>
            <td>{{entry.forests}}</td>
            <td>{{entry.message}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </section>
</ng-container>
