<ng-container *ngIf="!mobileMenu">
  <aside role="navigation" aria-label="left" class="sidebar-container">
    &nbsp;
    <ul id="sidebar-nav" class="usa-sidenav-list" [style.bottom]="bottom" [style.top]="top" [style.position]="position">
      <li class="usa-current" *ngFor="let item of items | Filter:'type':'anchor'">
        <a [ngClass]="{'usa-current': util.currentSection && util.currentSection === util.createId(item.sectionName) }"
          href="#" [routerLink]="[route]" [fragment]="util.createId(item.sectionName)">{{item.sectionName}}</a>
      </li>
      <li *ngFor="let item of items | Filter:'type':'button'">
        <button type="button" class="usa-button-primary" [routerLink]="[item.routerLink]">{{item.title}}</button>
      </li>
    </ul>
  </aside>
</ng-container>

<ng-container *ngIf="mobileMenu">
  <div class="usa-overlay" [ngClass]="{'is-visible' : showMobileNav}"></div>
  <button id="mobile-menu-btn" [attr.aria-expanded]="showMobileNav" class="usa-menu-btn mobile-menu-btn" (click)='toggleMobileNav()' [style.position]="menuBtnPosition" [style.top]="menuBtnTop">Menu</button>
  <nav aria-label="left" [ngClass]="{'is-visible' : showMobileNav}" [attr.aria-expanded]="showMobileNav" class="usa-nav sidenav-mobile">
    <div class="usa-nav-inner">
      <button class="usa-nav-close" (click)="toggleMobileNav()" aria-label="close navigation menu">
        <img src="/assets/img/site-wide/close.svg" alt="x">
      </button>

      <ul id="sidenav-mobile" class="usa-nav-primary usa-accordion">
        <li *ngIf="user && user.role === 'admin' && user.forests && user.forests.length">
          <button class="usa-accordion-button usa-nav-link" (click)="showAdminNav = !showAdminNav" [attr.aria-expanded]="showAdminNav" aria-controls="forest-admin-nav-item-container">
            <span>Forest admin</span>
          </button>
          <ul id="forest-admin-nav-item-container" *ngIf="showAdminNav" class="usa-nav-submenu">
            <li *ngFor="let navItem of forestAdminNavItems">
              <a *ngIf="navItem.routerLink" id="{{navItem.id}}-mobile" routerLink="{{navItem.routerLink}}" [routerLinkActive]="'usa-current'"><span>{{navItem.title}}</span></a>
              <a *ngIf="navItem.href" id="{{navItem.id}}-mobile-link" href="{{navItem.href}}"><span>{{navItem.title}}</span></a>
            </li>
          </ul>
        </li>
        <li *ngFor="let item of items | Filter:'type':'anchor'">
          <a href="#" id="mobile-{{item.id}}-link" (click)="toggleMobileNav();" [routerLink]="[route]" [fragment]="item.id">{{item.title}}</a>
          <ul class="usa-sidenav-sub_list" *ngIf="item.sections">
            <li *ngFor="let section of item.sections">
              <a href="#" id="mobile-{{section.id}}-link" (click)="toggleMobileNav()" [routerLink]="[route]" [fragment]="section.id">{{section.title}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <aside class="sidebar-container" role="navigation" aria-label="left">
    &nbsp;
    <ul id="sidebar-nav" class="usa-sidenav-list" [style.bottom]="bottom" [style.top]="top" [style.position]="position">
      <li *ngFor="let item of items | Filter:'type':'anchor'">
        <a href="#" id="{{item.id}}-link"
          [ngClass]="{'usa-current': util.currentSection && util.currentSection.startsWith(item.id)}"
          [routerLink]="[route]"
          [fragment]="item.id"
          (click)="util.gotoHashtag(item.id, $event)">{{item.title}}</a>
        <ul class="usa-sidenav-sub_list"
          *ngIf="item.sections && util.currentSection && util.currentSubSection && util.currentSection.startsWith(item.id) && util.currentSubSection.startsWith(item.id)">
          <li *ngFor="let section of item.sections">
            <a href="#" id="{{section.id}}-link"
              [ngClass]="{'usa-current': util.currentSection && util.currentSection  === section.id}"
              [routerLink]="[route]"
              [fragment]="section.id"
              (click)="util.gotoHashtag(item.id, $event)">{{section.title}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </aside>
</ng-container>
