extends ../layout.pug
block content
  section.usa-section
    .usa-grid
      h2 Apply for a noncommercial group use permit
      
      p All form fields are required unless otherwise noted.
      
      form
        fieldset
          legend Applicant Information
        
          label.usa-input(for="name") Name of group or event
          input#name(name="name" type="text" required)
            
          label.usa-input(for="address") Address of group or contact
          input#address(name="address" type="text" required)
            
          label.usa-input(for="address-line-2") Address Line 2 (optional)
          input#address-line-2(name="address-line-2" type="text")
            
          label.usa-input(for="city" required) City
          input#city(name="city" type="text")
            
          label.usa-input(for="state" required) State
          select#state(name="state" required)
            option(value="")
            option(value="Illinois") Illinois
            option(value="Wisconsin") Wisconsin
            
          label.usa-input(for="zip") ZIP
          input#zip(name="zip" type="number" minlength="5" maxlength="5" required)
            
          label.usa-input(for="email") Email Address (optional)
          input#email(name="email" type="email")
            
          label.usa-input(for="phone-day") Day Phone
          input#phone-day(name="phone-day" type="tel" required)
            
          label.usa-input(for="phone-day") Evening Phone (optional)
          input#phone-evening(name="phone-day" type="tel")
          
        hr
          
        fieldset
          
          legend Event Details
          
          label.usa-input(for="activity-description") Description of proposed activity
          textarea#activity-description(name="activity-description" required)
            
          label.usa-input(for="location") Location and description of National Forest system lands and facilities applicant would like to use
          input#location(name="location" type="text" required)
            
          label.usa-input(for="participants") Estimated number of participants
          span.help-text.usa-form-hint This is the number of people who will directly participate in the event.
          input#participants(name="participants" type="number" required)
            
          label.usa-input(for="spectators") Estimated number of spectators
          span.help-text.usa-form-hint If your event will have spectators (such as at a sporting event), please note how many additional people will be spectators
          input#spectators(name="spectators" type="number" required)
          
          fieldset
            legend Start Date
            .usa-form-group.usa-form-group-month
              label(for="start-month") Month
              input#start-month.usa-input-inline(name="start-location" type="number" min="1" max="12" pattern="0?[1-9]|1[012]" required)
            .usa-form-group.usa-form-group-day
              label(for="start-day") Day
              input#start-day.usa-input-inline(name="start-location" type="number" min="1" max="31" pattern="0?[1-9]|1[0-9]|2[0-9]|3[01]" required)
            .usa-form-group.usa-form-group-year
              label(for="start-year") Year
              input#start-year.usa-input-inline(name="start-year" type="number" min="1900" max="2000" pattern="[0-9]{4}" required)
                
          fieldset
            legend Start Time 
            .usa-form-group.usa-form-group-year
              label(for="start-hour") Hour
              select#start-hour.usa-input-inline(name="start-hour" required)
                option(value="")
                option(value="1") 1
                option(value="2") 2
                option(value="3") 3
                option(value="4") 4
                option(value="5") 5
                option(value="6") 6
                option(value="7") 7
                option(value="8") 8
                option(value="9") 9
                option(value="10") 10
                option(value="11") 11
                option(value="12") 12
            .usa-form-group.usa-form-group-year
              label(for="start-minutes") Minutes
              select#start-minutes.usa-input-inline(name="start-minutes" required)
                option(value="")
                option(value="00") 00
                option(value="15") 15
                option(value="30") 30
                option(value="45") 45
            .usa-form-group.usa-form-group-year
              label(for="start-period") AM / PM
              select#start-period.usa-input-inline(name="start-period" required)
                option(value="")
                option(value="AM") AM
                option(value="PM") PM
                
          p TODO: End Time after review
          p TODO: Discuss Number Spinners https://css-tricks.com/snippets/css/turn-off-number-input-spinners/

        hr
          
        fieldset
          legend Permit Holders
          
          label.usa-input(for="permit-holder-name") Permit holder name
          input#permit-holder-name(name="permit-holder-name" type="text" required)
            
          label.usa-input(for="permit-holder-name") Is the contact address above the same as the permit holder?
          p TODO: Implement Peter's Mockup for this when ready
          
        hr
          
        fieldset
          legend Signature
        
          label.usa-input(for="signature") Type your initials here as a signature on your application
          input#signature(name="signature" type="text" required)
          
        button.usa-button-big(type="submit") Submit Your Application
        
        p 18 U.S.C. ยง 1001 makes it a crime for any person knowingly and willfully to make to any department or agency of the United States any false, fictitious, or fraudulent statements or representations as to any matter within its jurisdiction. Anyone who knowingly or willfully makes or uses any false writing shall be fined not more than $10,000 or imprisoned not more than five years, or both.

        p FS-2700-3b (OMB No. 0596-0082)
