extends ../layout.pug
block content
  section.usa-section
    .usa-grid
      h1 Header Placeholder
      p Messenger bag cliche gastropub humblebrag, marfa helvetica poutine chambray hell of. Thundercats banh mi tumeric skateboard, activated charcoal brunch godard lyft yuccie hammock. Tote bag letterpress pop-up succulents kogi, kale chips authentic truffaut. Squid cardigan gastropub, forage hexagon food truck pabst tattooed kinfolk master cleanse banjo. Viral biodiesel twee, small batch godard typewriter banjo activated charcoal. 
      button.usa-button(type="button" disabled) Do I need a Permit?
      a.usa-button(href="permit-guidance-flow-step-1.html") Apply for a Permit
