extends ../layout.pug
block content
  section.usa-section
    .usa-grid
      h1 Header Placeholder
      p If you know , click the appropriate button below to complete and submit the online permit application. If you're not sure which permit you need, click the "Help Me Find a Permit" button and we'll guide you.
      button.usa-button(type="button" disabled) Do I need a Permit?
      a.usa-button(href="permit-guidance-flow-step-1.html") Apply for a Permit
