extends ../layout.pug
block content
  section.usa-section
    .usa-grid
      h1 Apply for a Permit
      p If you know which permit you need, click on the permit link below to fill out and submit that permit. If you're not sure which permit is the right permit for you, click on the "Help Me Find a Permit" button and we'll guide you to the correct permit.
      p
        a.usa-button(href="application-noncommercial-group.html") Noncommercial Permit
        button.usa-button(type="button" disabled) Commercial Permit
        button.usa-button(type="button" disabled) Temp Outfitter's Permit
        button.usa-button(type="button" disabled) Another Permit
      
      p
        a.usa-button(href="permit-guidance-flow-step-2.html") Help me find a Permit
