extends ../layout.pug
block content
  section.usa-section
    .usa-grid
      h1 Applications
      table
        thead
          tr
            th(scope="col") Event name
            th(scope="col") Location
            th(scope="col") Start date
            th(scope="col") End date
            th(scope="col") Created
            th(scope="col") Status
          tr
        tbody
          tr
            th(scope="row") Christopher Sample Event
            td Charlotte Park
            td Nov. 7, 2016, midnight
            td Nov. 8, 2016, midnight
            td Nov. 4, 2016, 12:58 p.m.
            td User Returned
          tr
            th(scope="row") Matthew
            td Hell
            td Nov. 4, 2016, midnight
            td Nov. 4, 2016, midnight
            td Nov. 4, 2016, 5:24 p.m.
            td Received
          tr
            th(scope="row") Pizza Party
            td downtown
            td Nov. 5, 2016, midnight
            td Nov. 4, 2016, midnight
            td Nov. 4, 2016, 1:20 p.m.
            td Received
          tr
            th(scope="row") Chris Smaple Event
            td Charlotte Park
            td Nov. 7, 2016, midnight
            td Nov. 8, 2016, midnight
            td Nov. 4, 2016, 12:42 p.m.
            td Received
          tr
            th(scope="row") Saddle Club Annual Event
            td Horsetooth Mountain
            td Nov. 11, 2016, midnight
            td Nov. 11, 2016, midnight
            td Nov. 4, 2016, 2:14 p.m.
            td Received
          tr
            th(scope="row") Test
            td Test
            td Feb. 23, 2017, midnight
            td Feb. 23, 2017, midnight
            td Feb. 23, 2017, 6:58 p.m.
            td Accepted
          tr
            th(scope="row") Colin
            td Test
            td Feb. 23, 2017, midnight
            td Feb. 23, 2017, midnight
            td Feb. 23, 2017, 7:10 p.m.
            td Accepted
          tr
            th(scope="row") Test
            td Good description of location
            td April 18, 2017, 6:19 p.m.
            td April 18, 2017, 6:19 p.m.
            td April 18, 2017, 6:21 p.m.
            td Accepted
