extends ../layout.pug
block content
  section.usa-section
    .usa-grid
      h1 Apply for a Permit
      p How would you describe yourself or your group?
      p
        button.usa-button(type="button") Business
        button.usa-button(type="button") Club or Organization
        a.usa-button(href="permit-guidance-flow-regular-person.html") Just a Regular Person
        button.usa-button(type="button") I'm Leading a Guided Trip
