extends ../layout.pug
block content
  section.usa-section
    .usa-grid
      h1 Apply for a Permit
      h2 Regular Person
      p Who will be part of your event?
      p
        a.usa-button(href="permit-guidance-flow-regular-person-friends-and-family.html") Friends &amp; Family
        button.usa-button(type="button") Registered &amp; Paid Participants
        button.usa-button(type="button") Paid Spectators
        button.usa-button(type="button") I'm Leading a Guided Trip
