<app-section-heading heading="Contact us" id="contact-information" tabIndex="-1"></app-section-heading>
<!-- ipnf block -->
<div *ngIf="(forest.forestAbbr) == 'ipnf'">
    <h3>Idaho Panhandle National Forests Supervisor's Office</h3>
    <p>3815 Schreiber Way </p>
    <p>Coeur d'Alene, ID 83815</p>
    <p>(208) 765-7223</p>
    <h3>Priest Lake Ranger District</h3>
    <p>32203 Highway 57</p>
    <p>Priest River, ID 83856</p>
    <p>(208) 443-2512</p>
    <h3>Bonners Ferry Ranger District</h3>
    <p>6286 Main Street </p>
    <p>Bonners Ferry, ID 83805</p>
    <p>(208) 267-5561</p>
    <h3>Sandpoint Ranger District</h3>
    <p>1602 Ontario St.</p>
    <p>Sandpoint, ID 83864</p>
    <p>(208) 263-5111</p>
    <h3>Coeur d'Alene River Ranger District</h3>
    <h4>Fernan Office</h4>
    <p>2502 E. Sherman Ave</p>
    <p>Coeur d'Alene, ID 83814</p>
    <p>(208) 664-2318</p>
    <h4>Silver Valley Office</h4>
    <p>173 Commerce Dr.</p>
    <p>Smelterville, ID 83868</p>
    <p>(208) 783-2363</p>
    <h3>St. Joe Ranger District</h3>
    <h4>St. Maries Office</h4>
    <p>222 S. 7th, Suite #1</p>
    <p>St. Maries, ID 83861</p>
    <p>(208) 245-2531</p>
    <h4>Avery Office</h4>
    <p>34 Hoyt Drive</p>
    <p>Avery, ID 83802</p>
    <p>(208) 245-4517</p>
  </div>
</div>

<!-- flathead block -->
<div *ngIf="(forest.forestAbbr) == 'flathead'">
    <h3>Flathead National Forest Supervisor’s Office/ Tally Lake Ranger District</h3>
    <p>650 Wolfpack Way</p>
    <p>Kalispell, Montana 59901</p>
    <p>(406) 758-5204</p>
    <h3>Swan Lake Ranger District</h3>
    <p>200 Ranger Station Road</p>
    <p>Bigfork, MT  59911</p>
    <p>(406) 837-7500</p>
    <h3>Hungry Horse/Glacier View Ranger District</h3>
    <p>10 Hungry Horse Drive</p>
    <p>PO Box 190340</p>
    <p>Hungry Horse, MT 59919</p>
    <p>(406) 387-3800</p>
    <h3>Spotted Bear Ranger District</h3>
    <p>10 Hungry Horse Drive</p>
    <p>PO Box 190340</p>
    <p>Hungry Horse, MT  59919</p>
    <p>(406) 758-5376 (May 15 to Nov 15)</p>
    <p>(406) 387-3800 (Nov 16 to May 14)</p>
</div>

<!-- conf block -->
<div class="firewood-contact" *ngIf="(forest.forestAbbr) == 'conf'">
    <h3></h3>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <h3></h3>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <h3></h3>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <h3></h3>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <h3></h3>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
</div>

<!-- gwj block -->
<div class="firewood-contact" *ngIf="(forest.forestAbbr) == 'gwj'">
    <h3></h3>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <h3></h3>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <h3></h3>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <h3></h3>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <h3></h3>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
</div>
