<app-section-heading heading="Contact us" id="contact-information" tabIndex="-1"></app-section-heading>
<h3>District Office 1</h3>
<textarea name="office1" rows="6" cols="80"></textarea>
<h3>District Office 2</h3>
<textarea name="office2" rows="6" cols="80"></textarea>
<h3>District Office 3</h3>
<textarea name="office3" rows="6" cols="80"></textarea>

<!-- flathead -->
<div *ngIf="(forest.forestAbbr)=='flathead'">
  <h3>Flathead National Forest Supervisor’s Office/ Tally Lake Ranger District</h3>
  <p>650 Wolfpack Way</p>
  <p>Kalispell, Montana 59901</p>
  <p>Phone (406) 758-5204</p>
  <br>
  <h3>Swan Lake Ranger District</h3>
  <p>200 Ranger Station Road</p>
  <p>Bigfork, MT 59911</p>
  <p>Phone (406) 837-7500</p>
  <br>
  <h3>Hungry Horse/Glacier View Ranger District</h3>
  <p>10 Hungry Horse Drive</p>
  <p>PO Box 190340</p>
  <p>Hungry Horse, MT 59919</p>
  <p>Phone (406) 387-3800</p>
  <br>
  <h3>Spotted Bear Ranger District</h3>
  <p>10 Hungry Horse Drive</p>
  <p>PO Box 190340</p>
  <p>Hungry Horse, MT 59919</p>
  <p>Phone (406) 758-5376 (May 15 to Nov 15)</p>
  <p>Phone (406) 387-3800 (Nov 16 to May 14)</p>
  <br>
</div>
