<app-section-heading heading="Contact us" id="contact-information" tabIndex="-1"></app-section-heading>
<!-- ipnf block -->
<div *ngIf="(forest.forestAbbr) == 'ipnf'">
    <h3>District Office 1</h3>
    <textarea name="office1" rows="6" cols="80"></textarea>
    <h3>District Office 2</h3>
    <textarea name="office2" rows="6" cols="80"></textarea>
    <h3>District Office 3</h3>
    <textarea name="office3" rows="6" cols="80"></textarea>
</div>

<!-- conf block -->
<div class="firewood-contact" *ngIf="(forest.forestAbbr) == 'conf'">
    <div class="firewood-contact-row">
        <div class="firewood-contact-item" id="contact-us">
            <h5 class="firewood-contact-name">Forest Supervisor's Office</h5>
            <p class="firewood-contact-address-phone">
                1755 Cleveland Highway<br> 
                Gainesville, GA 30501<br>
                (770) 297-3000
            </p>
        </div>
        <div class="firewood-contact-item" id="contact-us">
            <h5 class="firewood-contact-name">Chattaooga River Ranger District</h5>
            <p class="firewood-contact-address-phone">
                9975 Highway 441S<br> 
                Lakemont, GA 30552<br>
                (706) 754-6221
            </p>
        </div>
    </div>

    <div class="firewood-contact-row">
        <div class="firewood-contact-item" id="contact-us">
            <h5 class="firewood-contact-name">Oconee District</h5>
            <p class="firewood-contact-address-phone">
                1199 Madison Road<br> 
                Eatonton, GA 31024<br>
                (540) 962-2214
            </p>
        </div>
        <div class="firewood-contact-item" id="contact-us">
            <h5 class="firewood-contact-name">Conasauga District</h5>
            <p class="firewood-contact-address-phone">
                3941 Highway 76<br> 
                Chatsworth, GA 30705<br>
                (706) 695-6736
            </p>
        </div>
    </div>

    <div class="firewood-contact-row">
        <div class="firewood-contact-item" id="contact-us">
            <h5 class="firewood-contact-name">Blue Ridge District</h5>
            <p class="firewood-contact-address-phone">
                2041 Highway 515 West<br> 
                Blairsville, GA 30512<br>
                (706) 745-6928
            </p>
        </div>
    </div>
</div>

<!-- gwj block -->
<div class="firewood-contact" *ngIf="(forest.forestAbbr) == 'gwj'">
    <div class="firewood-contact-row">
        <div class="firewood-contact-item" id="contact-us">
            <h5 class="firewood-contact-name">Forest Supervisor's Office</h5>
            <p class="firewood-contact-address-phone">
                5162 Valleypointe Parkway<br> 
                Roanoke, VA 24019<br>
                (888) 265-0019<br>
                (540) 265-5100
            </p>
        </div>
        <div class="firewood-contact-item" id="contact-us">
            <h5 class="firewood-contact-name">Glenwood-Pedlar Ranger District</h5>
            <p class="firewood-contact-address-phone">
                27 Ranger Lane<br> 
                Natural Bridge Station, VA 24579<br>
                (540) 291-2188
            </p>
        </div>
    </div>
   
    <div class="firewood-contact-row">
        <div id="contact-us">
            <h5 class="firewood-contact-name">Lee Ranger District</h5>
            <p class="firewood-contact-address-phone">
                95 Railroad Avenue<br> 
                Edinburg, VA 22824<br>
                (540) 984-4101
            </p>
        </div>
        <div class="firewood-contact-item" id="contact-us">
            <h5 class="firewood-contact-name">Clinch Ranger District</h5>
            <p class="firewood-contact-address-phone">
                1700 Park Avenue SW<br> 
                Norton, VA 24273<br>
                (276) 679-8370
            </p>
        </div>
    </div>

    <div class="firewood-contact-item" class="firewood-contact-row">
        <div class="firewood-contact-item" id="contact-us">
            <h5 class="firewood-contact-name">Eastern Divide Ranger District</h5>
            <p class="firewood-contact-address-phone">
                110 Southpark Drive<br> 
                Blacksburg, VA 24060<br>
                (540) 552-4641
            </p>
        </div>
        <div class="firewood-contact-item" id="contact-us">
            <h5 class="firewood-contact-name">Warm Springs Ranger District</h5>
            <p class="firewood-contact-address-phone">
                422 Forestry Road<br> 
                Hot Springs, VA 24445<br>
                (540) 839-2521
            </p>
        </div>
    </div>

    <div class="firewood-contact-item" class="firewood-contact-row">
        <div id="contact-us">
            <h5 class="firewood-contact-name">North River Ranger District</h5>
            <p class="firewood-contact-address-phone">
                401 Oakwood Drive<br> 
                Harrisonburg, VA 22801<br>
                (866) 904-0240<br>
                (540) 432-0187
            </p>
        </div>
        <div class="firewood-contact-item" id="contact-us">
            <h5 class="firewood-contact-name">Mount Rogers National Recreation Area</h5>
            <p class="firewood-contact-address-phone">
                3714 Highway 16<br> 
                Marion, VA 24354<br>
                (800) 628-7202<br>
                (276) 783-5196
            </p>
        </div>
    </div>

</div>
