<ng-container appPageTitle></ng-container>
<a tabindex="0" class="usa-skipnav" href="#skip-nav-target" (click)="gotoHashtag('skip-nav-target', $event)">Skip to main content</a>
<header role="banner" class="usa-header usa-header-extended" [ngClass]="router.url.indexOf('mock') > -1 ? 'usa-mock-header' : ''">
  <app-usa-banner></app-usa-banner>
  <div *ngIf="router.url.indexOf('mock') === -1" class="usa-navbar">
    <page-header></page-header>
    <app-authenticated></app-authenticated>
  </div>
  <div *ngIf="router.url.indexOf('mock') > -1" class="usa-navbar">
    <mock-page-header *ngIf="router.url.indexOf('mock') > -1"></mock-page-header>
  </div>
</header>
<main id="main-content" tabindex="0">
  <app-status [message]="status.message" [heading]="status.heading"></app-status>
  <router-outlet (activate)="isAuthenticated()"></router-outlet>
</main>
<page-footer *ngIf="router.url.indexOf('mock') === -1"></page-footer>
