<ng-container appPageTitle></ng-container>
<a tabindex="0" class="usa-skipnav" href="#skip-nav-target" (click)="util.gotoHashtag('skip-nav-target', $event)">Skip to main content</a>
<header id="header" role="banner" class="usa-header usa-header-extended">
  <app-usa-banner></app-usa-banner>
  <div class="usa-navbar">
    <app-page-header></app-page-header>
  </div>
</header>
<main id="main-content">
  <app-alert [message]="status.message" [heading]="status.heading"></app-alert>
  <router-outlet></router-outlet>
</main>
<app-page-footer [version]="version" [buildDate]="buildDate"></app-page-footer>
<app-progress *ngIf="util.progress.display" [message]="util.progress.message"></app-progress>
