<a [routerLink]="currentRoute" fragment="main-content" class="usa-skipnav">Skip to main content</a>
<header role="banner" class="usa-header usa-header-extended">
  <div class="usa-banner">
    <div class="fs-official usa-accordion">
      <header class="usa-banner-header">
        <div class="usa-grid usa-banner-inner"><img src="/assets/img/favicon-57.png" alt="U.S. flag" class="fs-flag-icon">
          <p>An official website of the United States government</p>
          <button aria-expanded="false" aria-controls="gov-banner" class="usa-accordion-button usa-banner-button"><span class="usa-banner-button-text">Here&apos;s how you know</span></button>
        </div>
      </header>
      <div id="gov-banner" class="usa-banner-content usa-grid usa-accordion-content">
        <div class="usa-banner-guidance-gov usa-width-one-half"><img src="/assets/img/icon-dot-gov-white.svg" alt="DOT gov" class="usa-banner-icon usa-media_block-img">
          <div class="usa-media_block-body">
            <p><strong>.gov means it’s official.</strong> Federal government websites always use a .gov or .mil domain. Before sharing sensitive information online, make sure you’re on a .gov or .mil site by inspecting your browser’s address (or “location”) bar.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="usa-navbar">
    <button class="usa-menu-btn">Menu</button>
    <div id="logo" class="usa-logo">
      <div class="fs-branding">
        <a href="//fs.fed.us" target="_blank"><img src="/assets/img/usfslogo.svg" alt="US Forest Service Logo" width="50" class="fs-logo">
          <div class="fs-name-slogan"><span class="fs-name">U.S. FOREST SERVICE</span><span class="fs-slogan">Caring for the land and serving people</span>
            <div class="beta-label"><span class="usa-label">beta</span></div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <nav role="navigation" class="usa-nav">
    <div class="usa-nav-inner">
      <button class="usa-nav-close"><img src="/assets/img/close-white.svg" alt="close"></button>
      <ul class="usa-nav-primary usa-accordion">
        <!-- TODO: Add nav links -->
        <!-- <li><a href="/" class="usa-nav-link">Placeholder</a></li> -->
      </ul>
      <div class="usa-nav-secondary">
        <ul class="usa-unstyled-list usa-nav-secondary-links">
          <li class="js-search-button-container">
            <button id="header-search-button" class="usa-header-search-button js-search-button">Search </button>
          </li>
          <li><a href="/login"><span>Login</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main id="main-content">
  <router-outlet></router-outlet>
</main>
<footer role="contentinfo" class="usa-footer usa-footer-slim">
  <div class="usa-footer-primary-section">
    <div class="usa-grid">
      <ul class="usa-unstyled-list fs-footer-links">
        <li class="fs-footer-item"><a href="http://www.usda.gov/wps/portal/usda/usdahome">USDA.gov</a></li>
        <li class="fs-footer-item"><a href="http://www.usda.gov/wps/portal/usda/usdahome?navtype=FT&amp;navid=PRIVACY_POLICY">Privacy Policy</a></li>
        <li class="fs-footer-item"><a href="https://oig.hhs.gov/">Office of Inspector General</a></li>
        <li class="fs-footer-item"><a href="https://www.fs.fed.us/about-agency">About Us</a></li>
        <li class="fs-footer-item"><a href="http://www.dm.usda.gov/foia/">FOIA</a></li>
        <li class="fs-footer-item"><a href="https://www.eeoc.gov/eeoc/statistics/nofear/qanda.cfm">No Fear Data Act</a></li>
        <li class="fs-footer-item"><a href="https://www.fs.fed.us/about-agency/budget-performance">Budget and Performance</a></li>
      </ul>
      <ul class="usa-unstyled-list">
        <li class="fs-footer-item">(800) 832-1355</li>
        <li class="fs-footer-item"><a href="mailto:fs-permitting-project@gsa.gov">fs-permitting-project@gsa.gov</a></li>
      </ul>
    </div>
  </div>
  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-width-two-thirds"><img src="/assets/img/usfslogo.svg" alt="Forest Service Logo" class="fs-footer-logo">
        <div class="usa-footer-logo-heading">
          <h2>U.S. Forest Service</h2>
          <h3>Caring for the land and serving people</h3>
        </div>
      </div>
      <div class="usa-footer-contact-links usa-width-one-third">
        <a href="https://www.facebook.com/USForestService/" class="usa-link-facebook"><span>Facebook</span></a>
        <a href="https://twitter.com/forestservice" class="usa-link-twitter"><span>Twitter</span></a>
        <a href="https://www.youtube.com/user/usdaForestService" class="usa-link-youtube"><span>YouTube</span></a>
      </div>
    </div>
    <div class="usa-grid build-version">
      <div class="usa-width-one-whole">
        <p>version: {{ version }}, released on: {{ buildDate |  date: 'MM/dd/yyyy'  }}</p>
      </div>
    </div>
  </div>
</footer>
