<h3 id="cutting-season-dates-heading">
  <svg class="icon" width="32" height="32" viewBox="0 0 2304 2304" aria-hidden="true">
    <use xlink:href="/assets/img/sprites.svg#fa-calendar" fill="black" />
  </svg>
  Season dates
</h3>

<div *ngIf="forest.isSeasonOpen || forest.isSeasonConfigured" id="cutting-season-start-end-date">{{forest.startDate | date: 'MMM. d, yyyy' }} - {{forest.endDate | date: 'MMM. d, yyyy'}}</div>
<div *ngIf="!forest.isSeasonOpen && !forest.isSeasonConfigured" id="cutting-season-start-end-date">Dates not yet available.</div>

<h3 id="cutting-season-daily-hours-heading">
  <svg class="icon" width="32" height="32" viewBox="0 0 2304 2304" aria-hidden="true">
    <use xlink:href="/assets/img/sprites.svg#fa-clock-o" fill="black" />
  </svg>
  Cutting hours
</h3>
<div id="cutting-season-daily-hours-default">Daylight hours only</div>

<markdown *ngIf="forest" path="/assets/content/{{forest.forestAbbr}}/when-to-cut/additional-information.md"></markdown>
