templates/node_modules
templates/public
templates/dist
templates/yarn.lock
server/node_modules
server/.nyc_output
server/coverage.lcov
server/coverage
server/*.orig
server/frontend-assets
server/lint-results.html
server/docs/code

# compiled output
frontend/dist
frontend/tmp
frontend/out-tsc
frontend/e2e-test-results

# dependencies
frontend/node_modules

# IDEs and editors
frontend/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.env

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
frontend/.sass-cache
frontend/connect.lock
frontend/coverage
frontend/.eslintrc.json
frontend/libpeerconnection.log
frontend/npm-debug.log
frontend/testem.log
frontend/typings
frontend/src/assets/typedoc
localfiles

# e2e
frontend/e2e/*.js
frontend/e2e/*.map

# System Files
.DS_Store
Thumbs.db
