<div id="logo" class="usa-logo">
  <div class="fs-branding">
    <a href="//usda.gov">
      <img src="/assets/img/usda.svg" class="usda-logo" alt="United States Department of Agriculture" role="img" />
    </a>
    <a routerLink="/" id="us-forest-service-logo"><img src="/assets/img/usfslogo.svg" alt="US Forest Service" width="50" class="fs-logo" role="img">
      <div class="fs-name-slogan"><span class="fs-name">U.S. FOREST SERVICE</span><span class="fs-slogan">Caring for the land and serving people</span>
        <div class="beta-label"><span class="usa-label">beta</span></div>
      </div>
    </a>
  </div>
</div>