<section class="usa-section">
  <div class="usa-grid">
    <h1>U.S. Forest Service e-Permitting</h1>
    <div class="usa-alert usa-alert-info">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">This is not a real application.</h3>
        <p class="usa-alert-text">This site is in development and permit applications submitted here will not be sent to the US Forest Service.</p>
      </div>
    </div>
    <p>If you would like to find out if you need a permit, click the "Do I need a Permit?" button. If you know that you need a permit, click the "Apply for a Permit" button and we will guide you to the correct permit application.</p>
    <button class="usa-button" type="button" disabled="disabled">Do I need a Permit?</button><a class="usa-button" routerLink="/pg-flow-step-1">Apply for a Permit</a>
  </div>
</section>
