<section id="home" class="usa-section">
  <div class="usa-grid">
    <div class="usa-width-one-whole description">
      <h1>Apply for a permit</h1>
      <p>If you know which permit you need, click on the permit link below to log in or create an account using login.gov then fill out and submit that permit. If you’re not sure which permit is the right permit for you, click on the “Help me find the right permit type” button and we’ll guide you to the correct permit.</p>
    </div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-half wrapper" id="noncommercial-background">
      <div class="option-content option-content-one-half">
        <h2>Non-commercial permit</h2>
        <p>For a non-commercial activity involving a group of 75 or more people, either as participants or spectators with no entry/participation fee. The primary purpose of the event isn’t selling goods or services. This type of permit is free.</p>
      </div>
      <app-button link="/applications/noncommercial-group-use/new" buttonText="Noncommercial permit"></app-button>
      <!-- placeholder for learn more link -->
      <p>&nbsp;</p>
    </div>
    <div class="usa-width-one-half wrapper" id="tempoutfitter-background">
      <div class="option-content option-content-one-half">
        <h2>Temporary outfitter’s permit</h2>
        <p>For outfitters &amp; guides, temporary use permits allow short-term, non-renewable outfitting and guiding in increments of 50 service days, up to a maximum of 200 service days in a 180-day period.</p>
      </div>
      <app-button link="/applications/temp-outfitters/new" buttonText="Temp outfitter's permit"></app-button>
      <p><a class="learn-more-link" routerLink="/applications/temp-outfitters/faq" aria-label="Click here to learn more about the temporary outfitter's permit.">Click here to learn more about this permit.</a></p>
    </div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-whole wrapper" id="notsure-background">
      <div class="option-content">
        <h2>I’m not sure</h2>
        <p>If none of the above permit types sound like what you’re looking for we can assist you if you can click on the button below and answer some questions for us.</p>
      </div>
      <a id="help-find-permit" class="usa-button-inverse usa-button usa-button-big" routerLink="/help-me-pick/1">Help me find a permit</a>
    </div>
  </div>
</section>
