<section id="home" class="usa-section">
  <div class="usa-grid">
    <div class="usa-width-one-whole description">
      <h1 id="skip-nav-target" tabindex="-1">Apply for a permit</h1>
      <p>If you know which permit you need, click on the permit type below to submit an application using a login.gov account.<br/> If you are unsure of which permit you need, click on “Help me find a permit,” and we’ll provide you with additional guidance. </p>
    </div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-half wrapper" id="noncommercial-background">
      <div class="option-content option-content-one-half">
        <h2>Non-commercial permit</h2>
        <ul>
          <li>Activity involving a group of 75 or more people, either as participants or spectators.</li>
          <li>Organizers do not charge a entry or participation fee.</li>
          <li>The event’s primary purpose isn’t selling goods or services.</li>
          <li>This type of permit is free.</li>
        </ul>
      </div>
      <app-button link="/applications/noncommercial-group-use/new" buttonText="Noncommercial permit"></app-button>
      <p><a class="learn-more-link" routerLink="/applications/noncommercial-group-use/learn-more" aria-label="Click here to learn more about the noncommercial permit.">Click here to learn more about this permit.</a></p>
    </div>
    <div class="usa-width-one-half wrapper" id="tempoutfitter-background">
      <div class="option-content option-content-one-half">
        <h2>Temporary outfitter’s permit</h2>
        <ul>
          <li>For outfitters &amp; guides.</li>
          <li>Authorizes short-term, non-renewable outfitting and guiding.</li>
          <li>Used in increments of 50 <a href="https://www.fs.usda.gov/detail/mbs/passes-permits/event-commercial/?cid=stelprdb5295777">service days</a>.</li>
          <li>Valid for up to 200 service days in a 180-day period per <a href="https://www.fs.usda.gov/detail/mbs/passes-permits/event-commercial/?cid=stelprdb5295777">use area</a>.</li>
        </ul>
      </div>
      <app-button link="/applications/temp-outfitters/new" buttonText="Temp outfitter's permit"></app-button>
      <p><a class="learn-more-link" routerLink="/applications/temp-outfitters/learn-more" aria-label="Click here to learn more about the temporary outfitter's permit.">Click here to learn more about this permit.</a></p>
    </div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-whole wrapper" id="notsure-background">
      <div class="option-content">
        <h2>I’m not sure</h2>
        <p>If you’re not sure about what kind of permit you need, click on the button below to answer a few questions. We will guide you to the permit that best meets your needs.</p>
      </div>
      <a id="help-find-permit" class="usa-button-inverse usa-button usa-button-big" routerLink="/help-me-pick/1">Help me find a permit</a>
    </div>
  </div>
</section>
