<section id="application" class="usa-section">
  <div class="usa-grid">
    <h1>Apply for a noncommercial group use permit.</h1>
    <h2>{{forest}}</h2>
    <form class="usa-form-large" [formGroup]="applicationForm" (ngSubmit)="onSubmit(applicationForm)" novalidate>

      <p class="form-directions">All form fields are required unless otherwise noted.</p>

      <div *ngIf="(submitted && !applicationForm.valid) || apiErrors || dateStatus.hasErrors" class="usa-alert usa-alert-error" aria-live="assertive" aria-hidden="false" role="alert">
        <div class="usa-alert-body">
          <h3 class="usa-alert-heading">There are errors in your application.</h3>
          <p class="usa-alert-text">Please correct the errors before submitting.</p>
        </div>
      </div>

      <fieldset>
        <legend>Applicant information</legend>

        <app-org-type [applicantInfo]="applicationForm.controls.applicantInfo" type="simple"></app-org-type>

        <div *ngIf="applicationForm.get('applicantInfo.orgType').value === 'Person'">
          <app-permit-holder-name [applicantInfo]="applicationForm.controls.applicantInfo" type="primary" name="Primary permit holder"></app-permit-holder-name>
          <app-address [parentForm]="applicationForm.get('applicantInfo')" formName="primaryAddress" type="primary-permit-holder"></app-address>
        </div>

        <div *ngIf="applicationForm.get('applicantInfo.orgType').value === 'Corporation'">
          <app-organization-name [applicantInfo]="applicationForm.controls.applicantInfo" name="Organization name"></app-organization-name>
          <app-address [parentForm]="applicationForm.get('applicantInfo')" formName="organizationAddress" type="organization"></app-address>
        </div>

        <app-email [applicantInfo]="applicationForm.controls.applicantInfo"></app-email>
        <app-phone-number [parentForm]="applicationForm.get('applicantInfo')" name="Phone number"></app-phone-number>

        <div *ngIf="applicationForm.get('applicantInfo.orgType').value === 'Corporation'">
          <app-website [applicantInfo]="applicationForm.controls.applicantInfo"></app-website>
        </div>
      </fieldset>

      <fieldset *ngIf="applicationForm.get('applicantInfo.orgType').value === 'Corporation'">
        <legend>Primary permit holder</legend>
        <app-permit-holder-name [applicantInfo]="applicationForm.controls.applicantInfo" type="primary" name="Primary permit holder"></app-permit-holder-name>

        <ng-container formGroupName="applicantInfo">
          <input id="primary-permit-holder-same-address" formControlName="primaryAddressSameAsOrganization" type="checkbox" />
          <label class="usa-input" for="primary-permit-holder-same-address">Permit holder address is same as organization address.</label>
        </ng-container>

        <div *ngIf="!applicationForm.get('applicantInfo.primaryAddressSameAsOrganization').value">
          <app-address [parentForm]="applicationForm.get('applicantInfo')" formName="primaryAddress" type="primary-permit-holder"></app-address>
        </div>
      </fieldset>

      <ng-container formGroupName="applicantInfo">
        <input id="add-secondary-permit-holder" type="checkbox" formControlName="addSecondaryPermitHolder" />
        <label class="usa-input" for="add-secondary-permit-holder">Add a secondary permit holder.</label>
        <p class="help-text usa-form-hint">If there is another person that would be a useful contact or significant user of the permit, please add their information.</p>
      </ng-container>

      <ng-container *ngIf="applicationForm.get('applicantInfo.addSecondaryPermitHolder').value">
          <app-permit-holder-name [applicantInfo]="applicationForm.controls.applicantInfo" type="secondary" name="Secondary permit holder"></app-permit-holder-name>

          <ng-container formGroupName="applicantInfo">
            <input id="secondary-permit-holder-same-address" type="checkbox" formControlName="secondaryAddressSameAsPrimary" type="checkbox" />
            <label *ngIf="applicationForm.get('applicantInfo.orgType').value === 'Person'" class="usa-input" for="secondary-permit-holder-same-address">Secondary permit holder address is same as primary permit holder address.</label>
            <label *ngIf="applicationForm.get('applicantInfo.orgType').value === 'Corporation'" class="usa-input" for="secondary-permit-holder-same-address">Secondary permit holder address is same as organization address.</label>
          </ng-container>

          <app-address
            *ngIf="!applicationForm.get('applicantInfo.secondaryAddressSameAsPrimary').value"
            [parentForm]="applicationForm.get('applicantInfo')"
            formName="secondaryAddress"
            type="secondary-permit-holder">
          </app-address>

      </ng-container>

      <hr />

      <fieldset>
        <legend>Event details</legend>

        <label class="usa-input" for="name">Event Name</label>
        <input id="name" formControlName="eventName" type="text" aria-required="true" />
        <span id="name-error" class="usa-input-error-message" role="alert" aria-live="assertive" aria-hidden="false" *ngIf="applicationForm.controls.eventName.invalid && applicationForm.controls.eventName.touched">Event name is required.</span>
        <app-noncommercial-fields [parentForm]="applicationForm"></app-noncommercial-fields>
        <app-date-time-range [parentForm]="applicationForm" (updateDateStatus)="updateDateStatus($event)"></app-date-time-range>
      </fieldset>

      <fieldset>
        <legend>Signature</legend>
        <label class="usa-input" for="signature">Type your initials here as a signature on your application.</label>
        <input id="signature" name="signature" type="text" minlength="2" maxlength="3" formControlName="signature" aria-required="true" />
        <span id="signature-error" class="usa-input-error-message" role="alert" aria-live="assertive" aria-hidden="false" *ngIf="applicationForm.controls.signature.invalid && applicationForm.controls.signature.touched">Initials are required.</span>
      </fieldset>

      <button id="submit-application" class="usa-button-primary-alt usa-button-big" type="submit">Submit your application.</button>

    </form>

  </div>
</section>
