<div class="usa-grid" id="forest-cutting-dates-container">
  <div class="usa-width-one-half tree-primary-alt" id="forest-cutting-dates">
    <h3 id="cutting-season-dates-heading">
      <img class="float-left icon season-dates-icon" alt="season-dates" src="/assets/img/site-wide/season-dates-icon.svg">
      Season dates
    </h3>
    <div *ngIf="forest.isSeasonOpen || forest.isSeasonConfigured" id="cutting-season-start-end-date">
      {{forest.startDate | datex: 'MMM D, YYYY' }} - {{forest.endDate | datex: 'MMM D, YYYY'}}
    </div>
    <div *ngIf="!forest.isSeasonOpen && !forest.isSeasonConfigured" id="cutting-season-start-end-date">Dates not yet available.</div>
  </div>
</div>

<app-section-heading *ngIf="permitType === 'firewood'" heading="When to cut firewood" id="season-dates" tabIndex="-1"></app-section-heading>
<p *ngIf="permitType === 'firewood'">Firewood permits are valid through the calendar year. However, <strong>firewood cutting is not allowed at certain times of the year</strong> in parts of the forest.</p>
<br>
<p *ngIf="permitType === 'firewood'">See <a>prohibited areas and restrictions</a> for more information.</p>

<ngx-md *ngIf="forest && forest.content && permitType === 'trees'" [data]="forest.content.whenToCutInfo" id="season-dates-markdown"></ngx-md>

<button #staticBuyButton *ngIf="forest.isSeasonOpen && permitType === 'trees'" [routerLink]="['/christmas-trees/forests/', forest.forestAbbr, 'applications']" class="usa-button margin-top-1" id="static-buy-permit-link" tabIndex="-1">Buy permit</button>
