<section class="usa-section">
  <div class="usa-grid">
    <h1>Submitted for review!</h1>
    <p>
      Your permit application for <strong>{{application.eventName}}</strong> has been submitted for review, but is <strong>NOT APPROVED</strong> until you hear from a special use administrator.
      Submitting an application does not guarantee your permit will be approved.
      <strong>A confirmation emai was sent to {{application.applicantInfo.emailAddress}}.</strong>
    </p>
    <hr>
    <h2>What Happens Next?</h2>
    <div>Your application will be reviewed by our staff within 48 hours.</div>
    <div>If there are issues or questions about the information you provided, a representative of the National Forest Service will contact you via email to resolve any issues.</div>
    <div>Once your application has been reviewed by our staff, you will be notified of the application status.</div>
    <div>If your application is approved, you will receive your permit via U.S. mail within 2 weeks of approval.</div>
    <hr>
    <h2>Contact Us</h2>
    <p>If you have questions or need to contact the permit staff at the National Forest Service, please use a method listed below.</p>
    <p>Phone: (800) 333-5555</p>
    <p>Email: <a href="mailto:info@fs.usda.gov">info@fs.usda.gov</a></p>
    <hr>
    <h2>Thank you for your interest in our National Forests.</h2>
    <p>The links listed below contain information about the National Forest system and how you can safefly and successfully enjoy them.</p>
    <p>
      <button class="usa-button" type="button">National Forest FAQ</button>
      <button class="usa-button" type="button">Rules &amp; Regulations</button>
      <button class="usa-button" type="button">Safety First</button>
    </p>
  </div>
</section>
