.review-summary {
  background-color: #DAD7D0;
  padding: 20px;
}

.next-steps {
  background-color: #DAD7D0;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  p {
    min-height: 100px;
  }
}

.step-number {
  font-size: 20px;
  line-height: 30px;
  color: white;
  background-color: #076727;
  display: inline-block;
  border-radius: 30px;
  height: 30px;
  width: 30px;
}
