<section class="usa-section">
  <div class="usa-grid">
    <h1>Success</h1>
    <p>Your application for {{application.eventName}} was successfully <strong>submitted for review</strong>. A confirmation emai was sent to {{application.applicantInfo.emailAddress}}.</p>
    <hr />
    <h2>Next Steps</h2>
    <ol>
      <li>Your application will be reviewed by our staff within 48 hours.</li>
      <li>If there are issues or questions about the information you provided, an admin from the National Forest Service will reach out to you via email to resolve any issues.</li>
      <li>Once your application has been reviewed by our staff, you will be notified of the application status.</li>
      <li>If your application is approved, you will receive your permit via U.S. mail within 2 weeks of approval.</li>
    </ol>
    <hr>
    <h2>Contact Us</h2>
    <p>If you have questions or need to contact the permit staff at the National Forest Service, please use a method listed below.</p>
    <ul>
      <li>Phone: (800) 333-5555</li>
      <li>Email: <a href="mailto:info@fs.usda.gov">info@fs.usda.gov</a></li>
    </ul>
    <hr />
    <p>Thank you for your interest in our National Forests. The links listed below contain information about the National Forest system and how you can safefly and successfully enjoy them.</p>
    <p>
      <button class="usa-button" type="button">National Forest FAQ</button>
      <button class="usa-button" type="button">Rules &amp; Regulations</button>
      <button class="usa-button" type="button">Safety First</button>
    </p>
  </div>
</section>
