#application-view {
  padding-bottom: 0 !important;

  .permit-alert-warning {
    margin-bottom: -1px;
  }

  .edit-application {
    @media (min-width: $large-screen) {
      float: right;
    }
  }

  .cancel-application-wrapper {
    margin-bottom: 4rem;

    .cancel-button-user {
      float: right;
      margin-right: 0;
    }

    .cancel-button-admin {
      float: right;
      margin-right: 0;
      background-color: $transparent;
      box-shadow: inset 0 0 0 2px #2e1e12;
      color: #2e1e12;
      @extend .usa-button-secondary;
    }
  }

  .app-ctas {
    .app-cta {
      width: 30%;
      margin: 1em 0.25em;
      box-sizing: border-box;
      max-width: 280px;
    }
    #reason-for-action {
      position: relative;
      .close-reason-for-action {
        background-image: url(/assets/img/site-wide/close-black.svg);
        background-size: cover;
        cursor: pointer;
        height: 45px;
        position: absolute;
        text-indent: -9999px;
        top: 1em;
        right: 18px;
        width: 45px;
      }
      label {
        text-align: left;
        padding-top: 3em;
        @media (min-width: $medium-screen) {
          padding-top: 2em;
        }
      }
      #reason-for-return {
        height: 10vh !important;
        max-height: 10vh !important;
        max-width: 100% !important;
        width: 100% !important;
      }
      .reason-for-action-buttons {
        float: right;
        margin: 1em 0;
      }
    }
  }
  .revision-history {
    tbody {
      td {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  #desktop-revision-history {
    display: none;
    @media (min-width: $large-screen) {
      display: block;
    }
  }
  #mobile-revision-history {
    display: block;
    @media (min-width: $large-screen) {
      display: none;
    }
  }
  .confirmation-details-container {
    h2 {
      margin-top: 2rem;
      margin-bottom: 1px;
    }

    dd {
      margin-left: 0;
    }
    button#tree-print-permit {
      margin-bottom: 2rem;
    }
    #printing-instructions {
      padding-top: 2rem;
    }
    padding-bottom: 1rem;
    .usa-alert {
      background-position: 1rem 1.2rem;
    }
    label {
      max-width: 60rem;
    }
  }

  .tree-confirmation-table {
    margin: 0 0 1rem;
    td {
      background-color: $fs-tan;
      border: 0;
      padding: 0.5rem 1rem;
    }
  }
}

.electronic-signature-success {
  background: url(/assets/img/site-wide/checkmark.svg) no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
}
