app-permit-application-list {
  text-align: center;
}

.application-list {
  @media (min-width: 1000px) {
    border-collapse: collapse;
    display: table;
    max-width: 980px;
    width: 100%;
  }
  .usa-button {
    margin: 0;
  }
}

.application-field-list-labels {
  @media (min-width: 1000px) {
    display: table-row;
    div {
      display: table-cell;
      font-size: 14px;
      font-weight: bold;
      padding: 10px;
      text-transform: uppercase;
      vertical-align: middle;
    }
  }
  @media (max-width: 1000px) {
    display: none;
  }
}

.application-field-list-values {
  @media (min-width: 1000px) {
    background-color: $white;
    border: 1px solid $black;
    display: table-row;
    label {
      display: none;
    }
    div {
      display: table-cell;
      padding: 10px;
      vertical-align: middle;
      &.application-status {
        span {
          white-space: nowrap;
        }
      }
      &.permit-holder-name {
        max-width: 250px;
      }
    }
  }
  @media (max-width: 1000px) {
    background-color: $white;
    border: 1px solid $black;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
    label {
      font-size: 14px;
      font-weight: bold;
      margin: 0 0 5px 0;
      max-width: 100%;
      text-transform: uppercase;
    }
    div {
      margin-bottom: 20px;
    }
  }
}

.deadline-warning {
  color: $fs-red;
  font-weight: bold;
}

div.warning-icon {
  background: url('../node_modules/uswds/dist/img/alerts/warning.svg') no-repeat;
  background-size: 40px 50px;
  height: 40px;
  padding: 0;
  width: 50px;
}

app-permit-application-list .usa-alert {
  text-align: left;
}

.application-status-toggle-wrapper {
  max-width: 300px;
  margin: 1em auto;
  width: 100%;
  label {
    display: inline-block;
    margin-top: 1.5rem;
    margin-right: 1%;
    width: 20%;
    font-weight: normal;
  }
  select {
    background-color: $transparent;
    display: inline-block;
    width: 77%;
  }
}

.permit-application-type {
  text-transform: capitalize;
}
