#application-view {
  padding-bottom: 0 !important;

  .permit-alert-warning {
    margin-bottom: 2px;
  }

  .edit-application {
    @media(min-width: $large-screen){
      float: right;
    }
  }

  // .application-details {
  //   @media(max-width: 1060px) {
  //     margin-left: 1em;
  //     margin-right: 1em;
  //   }
  // }

  .app-ctas {
    background: white;
    bottom: 0;
    box-shadow: 0px -10px 20px $dark-grey;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1000;
    @media(max-width: $medium-screen) {
      padding-left: 1em;
      padding-right: 1em;
    }
    &.fixed {
      position: fixed;
    }
    .app-cta {
      width: 30%;
      margin: 1em 0.25em;
      box-sizing: border-box;
      max-width: 280px;
    }
    #reason-for-action {
      position: relative;
      .close-reason-for-action {
        background-image: url(/assets/img/close-black.svg);
        background-size: cover;
        cursor: pointer;
        height: 45px;
        position: absolute;
        text-indent: -9999px;
        top: 1em;
        right: 18px;
        width: 45px;
      }
      label {
        text-align: left;
        padding-top: 3em;
        @media(min-width: $medium-screen) {
          padding-top: 2em;
        }
      }
      #reason-for-return {
        max-width: 100% !important;
        width: 100% !important;
      }
      .reason-for-action-buttons {
        float: right;
        margin: 1em 0;
      }
    }
  }
}

.electronic-signature-success {
  background: url(/assets/img/checkmark.svg) no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
}
