#application {
  .forest-name {
    margin-top: 0;
    font-size: 20px;
    font-weight: 300;
  }
  .fs-input-grid-wrapper:after {
    content: "";
    display: table;
    clear: both;
  }

  .fs-input-grid-wrapper input,
  .fs-input-grid-wrapper select {
    margin-bottom: auto;
  }
}

.trees-application-rules {
  border: 1px solid #000000;
  background-color: white;
  h3 {
    img {
      width: 75px;
      vertical-align: middle;
      padding-right: 1rem;
    }
  }
  div {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .trees-applications-rules-checkbox-container {
    border-top: 1px solid #000000;
    background-color: $color-gray-warm-light;
    label {
      margin: 0;
      padding: 1rem .75rem;
    }
  }
}
