#forest-template{
    .usa-extra-wide{
        min-width: 100%;
    }
    .usa-width-one-whole{
        background-color: $fs-tan;
        min-width: 100%;
        padding: 45px;
    }
    .small-col{
        background: url(/assets/img/site-wide/test_home.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 40vh;
        min-width: 100%;
        position: relative;
        .seas-dates{
            position: absolute;
            bottom: 0px;
            min-width: 100%;
            #forest-cutting-dates{
                padding: 30px;
            }
        }
        #cutting-season-dates-heading{
            margin-top: 0px;
        }
    }
        .tree-flex{
            align-items: center;
            justify-content: space-between;
            .small-col{
                width: 20%;
                justify-content: space-around;
                .usa-ico{
                font-size: 4em;
                }
            }
            .big-col{
                width: 100%;
                justify-content: space-around;
                padding: 20px 0px;
                h2 {
                    margin-top: 0px;
                }
            }  
        }
}
#non-commercial-bg{
    background: url(/assets/img/site-wide/camp.jpeg);
}
#temp-outfitters-bg{
    margin-top: 50px;
    background: url(/assets/img/site-wide/hike.jpeg);
}
.special-use-bg{
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: 0px !important;
    min-height: 60vh;
    width: 100% ;
    position: relative;
    h3 {
        margin-top: 4px;
        color: $fs-green;
    }
    .special-use-info{
        background-color: white;
        position: absolute;
        min-width: 100%;
        bottom: 0px;
        left: 0px;
        padding: 10px;
        .wide-btn{
            min-width: 90%;
            margin: auto;
            .usa-button{
                min-width: 100% !important;
            }
        }
    }
}

.phone-ico{
    font-size: 3em;
    color: $fs-green;
    padding: 30px;
}
#contact-us{
    .usa-width-one-whole{
        background-color: $fs-tan-dark;
        min-width: 100%;
        padding: 45px;
    }
    .contact-table > table{
        min-width: 100%;
    }
    .left-contact {
        display: none;
    }
    .right-contact {
        width: 100%;
    }
}

.diff{
    text-align: center;
    .diff-head{
        padding-top: 50px;
    }
}

.usa-land {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px;
    .usa-grid{
        min-width: 100%;
    }
    .usa-land-callout {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        min-height: 40vh;
        width: 100%;
        h1 {
          font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
          font-weight: 400;
          text-transform: uppercase;
          color: $white !important;
          text-shadow: 5px 4px 10px black;
        }
     }
    }

    .firewood-contact {
        width: 45rem;
    }
    .firewood-contact-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .firewood-contact-item {
        width: 25rem;
    }

    .firewood-contact-name {
        margin-bottom: 0rem;
    }
    .firewood-contact-address-phone {
        line-height: 1.3;
        margin-top: 0rem;
    }


@media screen and (min-width: $large-screen) {
    #forest-template{
        .small-col{
            min-width: 350px;
        }
        .tree-flex{
            display: flex;
            .small-col{
                width: 20%;
            }
            .big-col{
                width: 70%;
            }  
        }
    }
    #contact-us{
        .left-contact, .right-contact {
            display: inline-block;
        }
        .left-contact {
            width: 10%;
        }
        .right-contact {
            width: 90%;
        }
    }
    .pad-one-half{
        padding: 0px 60px;
    }
}
  