.demo-black {
  background: $black;
  color: $white;
  padding: 1em;
}

.demo-dark-grey {
  background: $dark-grey;
  color: $white;
  padding: 1em;
}

.demo-white {
  background: $white;
  border: 1px solid $black;
  color: $black;
  padding: 1em;
}

.demo-fs-blue-light {
  background: $fs-blue-light;
  border: 1px solid $black;
  color: $white;
  padding: 1em;
}

.demo-fs-brown {
  background: $fs-brown;
  color: $white;
  padding: 1em;
}

.demo-fs-brown-dark {
  background: $fs-brown-dark;
  color: $white;
  padding: 1em;
}

.demo-fs-tan {
  background: $fs-tan;
  border: 1px solid $black;
  color: $black;
  padding: 1em;
}

.demo-fs-tan-dark {
  background: $fs-tan-dark;
  border: 1px solid $black;
  color: $black;
  padding: 1em;
}

.demo-fs-tan-darker {
  background: $fs-tan-darker;
  border: 1px solid $black;
  color: $black;
  padding: 1em;
}

.demo-fs-green {
  background: $fs-green;
  color: $white;
  padding: 1em;
}

.demo-fs-green-dark {
  background: $fs-green-dark;
  color: $white;
  padding: 1em;
}

.demo-fs-green-darker {
  background: $fs-green-darker;
  color: $white;
  padding: 1em;
}

.demo-fs-red {
  background: $fs-red;
  color: $white;
  padding: 1em;
}

.demo-fs-red-dark {
  background: $fs-red-dark;
  color: $white;
  padding: 1em;
}

.demo-fs-red-darker {
  background: $fs-red-darker;
  color: $white;
  padding: 1em;
}

.demo-dark-background {
  background: $fs-brown;
  color: $white;
  padding: 10px
}
