.wizard-step-header {
  background: $light-grey;
  h2 {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0.3em;
  }
}

.wizard-step-content {
  background: $white;
  min-height: 400px;
  padding-bottom: 1em;
  padding-top: 1em;
}

.wizard-step-footer {
  background: $light-grey;
  .subsection-steps {
    line-height: 54px;
  }
}

.tree-location-description {
  font-size: 2rem
}

.tree-speci {
  .tree-description {
    padding-top: 2em;
  }

  .tree-cutting-container {
    padding-top: 0;
    img {
      padding: .3em;
    }
  }
}
