.tree-guidelines {
  // .sidebar-page-main-content {
  //   hr.thick {
  //     margin: 60px 0 0;
  //   }
  //   .section-heading {
  //     margin-top: 0;
  //     padding-top: 60px;
  //   }
  // }
}

.tree-location-description {
  font-size: 2rem;
}

.tree-image-container {
  img {
    max-width: 110px;
  }
  figcaption {
    max-width: 100%;
  }
}

.tree-species-credit {
  display: block;
  font-size: 12px;
}

.tree-speci {
  .tree-description {
    padding-top: 2em;
  }

  .tree-cutting-container {
    padding-top: 0;
    img {
      padding: 0.3em;
    }
  }
}

.trees-map-container {
  padding-top: 2rem;
  img {
    padding-top: 1rem;
  }
}

.trees-contact-district-container {
  padding-bottom: 4rem;
}

.forest-image-container {
  h5 {
    padding-top: 2rem;
  }
}

.icon-middle {
  vertical-align: middle;
  margin-right: 5px;
}

.tree-status-prohibited {
  margin-bottom: 20px;
  float: right;
}

.trees-section-divider {
  margin-top: 5px;
}

.tree-primary-alt {
  background-color: $fs-green;
  color: $white;
}

.tree-img {
  width: 100%;
  @media (max-width: $medium-screen) {
    max-width: 200px;
  }

}

.tree-status {
  @media (min-width: $medium-screen) {
    float: right;
  }
}

markdown#season-dates-markdown {
  table {
    max-width: 66ch;
    margin-top: 1rem;
    margin-bottom: 10px;
  }
  h4 {
    background-color: $fs-green;
    float: left;
    text-transform: none;
    margin-top: 25px;
    margin-bottom: -5px;
    display: inline;
    color: white;
    padding: 0.1rem 0.7rem;
    border-radius: 2px;
    font-size: 1.5rem;
  }
  div {
    text-align: center;
  }
  p {
    margin: 0;
  }
  h3 {
    margin-bottom: 0;
  }
  hr {
    background-color: #aeb0b5;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

#cutting-season-dates-heading {
  color: white;
  svg {
    margin: 10px 10px 10px 0;
  }
}

app-tree-cutting-dates {
  div#forest-cutting-dates {
    padding: 10px 20px;
  }
  div#forest-cutting-dates-container {
    padding: 0;
  }
  div.usa-width-five-sixths {
    padding-left: 20px;
  }
}

#tree-measuring-container {
  p {
    img {
      vertical-align: middle;
      width: 125px;
      padding-right: 2rem;
    }
  }
}

#how-to-plan-container {
  img {
    float: left;
    position: relative;
    top: -10px;
    width: 125px;
    padding-right: 2rem;
    margin-right: 10px;
    clear: both;
  }
  p {
    min-height: 125px;
  }
}

.screen-reader-only {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px 1px 1px 1px); // IE 6 and 7
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  overflow: hidden !important;
}

.season-dates-icon {
  width: 48px;
  margin-right: 10px;
  position: relative;
  top: 5px;
}
