/** component level scss **/

section#home {
  text-align: center;
  
  ul {
    text-align: left;
    padding-top: 30px;
  }
  .wide{
    min-width: 70%;
  }
  .fixed-height{
    height: 600px;
  }
  .usa-grid-wide {
    max-width: 1300px;
  }
  .darkbg{
    background-color: $dark-blue-grey;
    padding: 20px;
    .usa-button{
      min-width: 70%;
    }
  }
  .no-rmargin{
    margin-right: 0px;
  }
  .wrapper {
    background-position: top;
    color: white;
    margin-bottom: 15px;
    .card-title {
      color: white;
      margin-top: 0;
      text-align: left;
    }
    p {
      font-style: italic;
    }
  }


  .description {
    margin-bottom: 40px;
  }

  .usa-button {
    margin: 20px 0px 0px 0px;
  }

  #noncommercial-background {
    background-image: url(/assets/img/site-wide/non-commercial-photo-option.jpg);
  }

  #tempoutfitter-background {
    background-image: url(/assets/img/site-wide/temp-outfitters-photo-option.jpg);
  }

  #notsure-background {
    background-image: url(/assets/img/site-wide/helpmechoosebg.jpg);
    background-size: cover;
    padding: 70px;
    color: $dark-blue-grey;
  }

  .option-content-one-half {
    height: auto;
    @media (min-width: 600px) {
      min-height: 450px;
    }
    @media (min-width: 650px) {
      min-height: 425px;
    }
    @media (min-width: 760px) {
      min-height: 300px;
    }
    @media (min-width: 1100px) {
      min-height: 270px;
    }
  }

  @media screen and (max-width: 600px){
    #tempoutfitter-background{
      display: none;
    }
    #noncommercial-background{
      display: none;
    }
    ul{
      padding-left: 10px;
    }
  }
  @media screen and (min-width: 600px) and (max-width: 1200px){
    ul{
      padding-left: 10px;
      padding-top: 10px;
      font-size: .8em;
    }
    .card-title{
      font-size: .8em;
    }
    .fixed-height{
      height: 700px;
    }
  }
}
