/** component level scss **/

section#home {
  text-align: center;
  
  ul {
    text-align: left;
    padding-top: 30px;
  }
  .wide{
    min-width: 70%;
  }
  .fixed-height{
    height: 600px;
  }
  .usa-grid-wide {
    max-width: 1300px;
  }
  .darkbg{
    background-color: $dark-blue-grey;
    padding: 20px;
    .usa-button{
      // min-width: 70%;
      // max-width: 70%;
      width: 80%;
    }
  }
  .no-rmargin{
    margin-right: 0px;
  }
  .wrapper {
    background-position: top;
    color: white;
    margin-bottom: 15px;
    .card-title {
      color: white;
      margin-top: 0;
      text-align: left;
    }
    p {
      font-style: italic;
    }
  }


  .description {
    margin-bottom: 40px;
  }

  .usa-button {
    margin: 20px 0px 0px 0px;
  }

  #noncommercial-background {
    background-image: url(/assets/img/site-wide/non-commercial-photo-option.jpg);
  }

  #tempoutfitter-background {
    background-image: url(/assets/img/site-wide/temp-outfitters-photo-option.jpg);
  }

  #notsure-background {
    background-image: url(/assets/img/site-wide/helpmechoosebg.jpg);
    background-size: cover;
    padding: 70px;
    color: $dark-blue-grey;
  }

  .option-content-one-half {
    height: auto;
    @media (min-width: 600px) {
      min-height: 450px;
    }
    @media (min-width: 650px) {
      min-height: 425px;
    }
    @media (min-width: 760px) {
      min-height: 300px;
    }
    @media (min-width: 1100px) {
      min-height: 270px;
    }
  }

  @media screen and (max-width: 600px){
    #tempoutfitter-background{
      display: none;
    }
    #noncommercial-background{
      display: none;
    }
    ul{
      padding-left: 10px;
    }
  }
  @media screen and (min-width: 600px) and (max-width: 1200px){
    ul{
      padding-left: 10px;
      padding-top: 10px;
      font-size: .8em;
    }
    .card-title{
      font-size: .8em;
    }
    .fixed-height{
      height: 700px;
    }
  }
}


.main {
  width: 100%;
}

.card-container {
  width: 100%;
  margin: 0 auto;
  padding: 0.5em 0;
}

.city {
  width: 90%;
  margin: 0.5em auto;
  background-color: white;
}

.city-image,
.description {
  width: 90%;
  margin: 0 auto;
}

.city-image {
  padding: 1.2em 1em;
} 

.description {
  padding: 1em 2em;
}

.city-image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}

.description h2 {
  padding-bottom: 0.5em;
}

/* FLEXBOX STYLES */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
} 


@media (min-width: 640px) { 

.card-container {
      display: flex;
      flex-flow: wrap;
  }

.city {
  flex: 1 0 48%;
  margin: 1%;
}

@media (min-width: 1001px) {
  .city {
      flex: 1 0 22%;
  }

  .city:last-of-type {
      flex-grow: 0;
  }
}
}