/** component level scss **/

section#home {
  text-align: center;

  ul {
    text-align: left;
  }

  .wrapper {
    background-position: top;
    color: white;
    margin-bottom: 15px;
    padding: 30px;
    h2 {
      color: white;
      margin-top: 0;
    }
    p {
      font-style: italic;
    }
  }

  .description {
    margin-bottom: 40px;
  }

  .usa-button {
    margin: 0;
  }

  #noncommercial-background {
    background-image: url(/assets/img/site-wide/non-commercial-photo.jpg);
  }

  #tempoutfitter-background {
    background-image: url(/assets/img/site-wide/temp-outfitters-photo.jpg);
  }

  #notsure-background {
    background-image: url(/assets/img/site-wide/help-me-find-permit-photo.jpg);
  }

  .option-content-one-half {
    height: auto;
    @media (min-width: 600px) {
      min-height: 450px;
    }
    @media (min-width: 650px) {
      min-height: 425px;
    }
    @media (min-width: 760px) {
      min-height: 300px;
    }
    @media (min-width: 1100px) {
      min-height: 270px;
    }
    a {
      color: $white;
    }
  }

  .learn-more-link {
    color: $white;
  }
}
