<section *ngIf="submitted === false" id="application" class="usa-section">
  <div class="usa-grid">
    <h1 id="skip-nav-target" tabindex="-1">Apply for a christmas tree permit.</h1>
    <h2>{{forest.forestName}} National Forest</h2>

    <form [formGroup]="christmasTreeForm" class="usa-form-large" novalidate (ngSubmit)="onSubmit()">

      <fieldset>
        <legend>Applicant information</legend>

          <div>
              <label id="{{unique}}-primary-permit-holder-first-name-label" class="usa-input">First name</label>
              <input formControlName="firstName" placeholder="First Name" />
              <label id="{{unique}}-primary-permit-holder-last-name-label" class="usa-input">Last name</label>
              <input formControlName="lastName" placeholder="Last Name" />
              <label id="{{unique}}-primary-permit-holder-email-label" class="usa-input">Email</label>
              <input formControlName="Email" placeholder="Email" />
              <label id="numTreesLabel" class="usa-input">Number of trees</label>
              <input formControlName="numTrees" placeholder="0" (input)="updateNumTrees($event.target.value)" />
              <label id="numTreesLabel" class="usa-input">Cost for trees: <p>${{cost}}</p></label>
        </div>
      </fieldset>

      <button id="submit-application" class="usa-button-primary-alt usa-button-big" type="submit">Submit your application.</button>

    </form>

  </div>
</section>

<section *ngIf="submitted === true" id="redirect-notice" class="usa-section">
  <div class="usa-grid">
    <h2>Redirect Notice</h2>
    <p>You are about to be redirected to Pay.gov in order to complete your transaction.</p>
    <p>Continue?</p>
    <button class="usa-button">Yes</button><a [routerLink]="['/christmas-trees/forests/', forest.forestAbbr,'tree-guidelines']" class="usa-button">No</a>
  </div>
</section>
