<p>No cutting or removing trees within:</p>
<div>
  <ul>
    <li>Wilderness</li>
    <li>Research Natural Areas</li>
    <li>100 feet of a trail</li>
    <li>Campgrounds or Administrative sites</li>
    <li>300 feet of streams or lakes</li>
    <li>Areas posted "No Christmas Tree Cutting”</li>
    <li>East of Little Crater Lake Campground on Road 58, because of Warms Springs Indian
      Reservation</li>
    <li>Do not remove Pacific Yew trees</li>
    <li>Campgrounds, Administrative sites, or Summer
      Home/Rec. Residence Areas</li>
  </ul>
</div>