<div class="usa-banner">
  <div class="fs-official usa-accordion">
    <header class="usa-banner-header">
      <div class="usa-grid usa-banner-inner"><img src="/assets/favicons/favicon-57.png" alt="U.S. flag" class="fs-flag-icon">
        <p>An official website of the United States government</p>
        <button [attr.aria-expanded]="open ? 'true' : 'false'" aria-controls="gov-banner" class="usa-accordion-button usa-banner-button" (click)="open = !open" aria-label="Here's how you know we're an official website of the US government."><span class="usa-banner-button-text">Here&apos;s how you know</span></button>
      </div>
    </header>
    <div id="gov-banner" class="usa-banner-content usa-grid usa-accordion-content" [attr.aria-hidden]="open ? 'false' : 'true'">
      <div class="usa-banner-guidance-gov usa-width-one-half"><img src="/assets/img/site-wide/icon-dot-gov-white.svg" alt="DOT gov" class="usa-banner-icon usa-media_block-img">
        <div class="usa-media_block-body">
          <p><strong>.gov means it’s official.</strong> Federal government websites always use a .gov or .mil domain. Before sharing sensitive information online, make sure you’re on a .gov or .mil site by inspecting your browser’s address (or “location”) bar.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
