<div  *ngIf="(forest.locations | filter: 'type': 'district').length">
  <h3 id="tree-locations-maps" tabindex="-1">Cutting area maps</h3>
  <p>Some areas within {{forest.forestName}} National Forest offer maps that describe the Christmas Tree cutting areas, and those maps are below.
    Other areas of the forest are also available for tree cutting and more information can be found on the forest’s <a href="{{forest.forestUrl}}" target="_blank" attr.aria-label="Link to {{forest.forestName}} National Forest website. Opens in a new window.">website</a> or at ranger district offices.</p>


  <div class="usa-grid" *ngFor="let location of forest.locations | filter: 'type': 'district'">
      <div class="usa-width-one-whole">
        <figcaption><a href="/assets/img/{{ location.description | SpacesToDashes }}-map.png" onError="src='assets/img/hood-map.png'">Christmas tree map of {{location.description}} district. (Click to view larger map)</a></figcaption>
        <a href="/assets/img/{{ location.description | SpacesToDashes }}-map.png" onError="src='assets/img/hood-map.png'"><img src="/assets/img/{{ location.description | SpacesToDashes }}-map-thumb.png" onError="src='assets/img/hood-map-thumb.png'" alt="Christmas tree map of {{location.description}} district" aria-hidden="true" /></a>
      </div>
  </div>
</div>
