<div  *ngIf="(forest.locations | filter: 'type': 'district').length">
  <div [attr.id]="'tree-locations-maps-'+ i" class="trees-map-container" *ngFor="let location of forest.locations | filter: 'type': 'district'; let i=index">
      <div>
        <figure>
          <figcaption><a href="/assets/img/{{ location.imageFilename }}-map.png" onError="src='assets/img/hood-map.png'">Christmas tree map of {{location.description}}. (Click to view larger map)</a></figcaption>
          <a href="/assets/img/{{ location.imageFilename }}-map.png" onError="src='assets/img/hood-map.png'"><img src="/assets/img/{{ location.imageFilename }}-map-thumb.png" onError="src='assets/img/hood-map-thumb.png'" alt="Christmas tree map of {{location.description}}" aria-hidden="true" /></a>
        </figure>
      </div>
  </div>
</div>
