<section id="shutdown" class="usa-section">
      <div class="usa-grid">
        <div class="usa-width-one-whole description">
          <h1 id="skip-nav-target" tabindex="-1">This USDA website will not be updated during a lapse in federal funding.</h1>
          <h4>Content on this website will not be current or maintained until funding issues have been resolved.<br/> You will not be able to purchase a Christmas tree permit while there is a lapse in federal funding.</h4>
        </div>
      </div>
  </section>