<section class="usa-section">
  <div class="usa-grid">
    <h1 id="skip-nav-target" tabindex="-1">404 Page not found</h1>
    <p>The page you are looking for might have been moved, renamed, or may be temporarily unavailable.</p>
    <h2>What can you do?</h2>
    <ul>
      <li>Return to the <a href="/">special permits welcome page</a>.</li>
      <li>Return to the <a href="/christmas-trees/forests">Christmas tree information page</a>.</li>
      <li>Visit a specific <a href="https://www.fs.fed.us/">National Forest web site</a>.</li>
      <li>Check your bookmark or the URL (web address) for proper spelling and completeness.</li>
    </ul>
    <div>If you are experiencing technical issues please <a href="https://www.fs.fed.us/about-agency/contact-us">contact the webmaster</a> for help.</div>
    <p>Thank you for visiting us!</p>


  </div>
</section>
