<section class="usa-section">
  <div class="usa-grid">
    <h1 id="skip-nav-target" tabindex="-1">Lost?</h1>
    <p>Whether on our website or in your local National Forest, if you become lost, it's important to keep a positive mental attitude.</p>
    <h2>On our website?</h2>
    <p>Find a <a href="https://www.fs.fed.us/recreation/map/state_list.shtml">National Forest near you</a>.</p>
    <h2>In the forest?</h2>
    <p>The best tool needed for survival in the event you get lost outdoors is your skill of advanced planning,
      <a href="https://www.fs.fed.us/visit/know-before-you-go/if-you-get-lost">read our survival tips</a>.</p>
  </div>
</section>
