<section class="usa-section">
  <div class="usa-grid">
    <h1 id="skip-nav-target" tabindex="-1">An internal server error occurred</h1>
    <p>The server was unable to complete your request.</p>
    <h2>What can you do?</h2>
    <ul>
      <li *ngIf="requestingUrl">Try reaching the page again <a href="{{requestingUrl}}">here</a>. 
      <li>Visit a specific <a href="https://www.fs.fed.us/">National Forest web site</a>.</li>
      
    </ul>
    <div>If you continue to experience technical issues, <a href="https://www.fs.fed.us/about-agency/contact-us">contact the webmaster</a> for help.</div>
    <p>Thank you for visiting us!</p>


  </div>
</section>
