<section id="application-view" class="usa-section usa-grid">
  <app-breadcrumbs></app-breadcrumbs>
  <app-tree-progress-bar step="print"></app-tree-progress-bar>
  <div *ngIf="!error">
    <div *ngIf="permit" >
      <h1 id="skip-nav-target" tabindex="-1" class="usa-heading">Christmas tree permit order confirmation</h1>
    </div>

    <div *ngIf="forest" id='tree-order-summary-container' class="confirmation-details-container">
      <div *ngIf="isPermitExpired" class="usa-alert usa-alert-error permit-expiration-warning">
        <div class="usa-alert-body">
          <h3 class="usa-alert-heading">This permit was issued on {{permit.transactionDate | date: 'shortDate'}} and expired on {{permit.expirationDate | date: 'shortDate'}}</h3>
        </div>
      </div>
      <h2 class="usa-heading">Order summary</h2>
      <hr class="header-divider">
      <div class="usa-width-one-third">
        <dl>
          <dt>Quantity</dt>
          <dd><b>{{permit.quantity}}</b></dd>
        </dl>
      </div>
      <div class="usa-width-one-third">
        <dl>
          <dt>Description</dt>
          <dd><b>{{forest.forestName}}  Christmas Tree Permit(s)</b></dd>
        </dl>
      </div>
      <div class="usa-width-one-third">
        <dl>
          <dt>Order total</dt>
          <dd><b>${{permit.totalCost}}</b></dd>
        </dl>
      </div>
    </div>

    <div *ngIf="!isPermitExpired" id="toPrint" hidden="true" [innerHTML]="image"></div>

    <div class="confirmation-details-container clear usa-width-one-whole margin-top-2">
      <h2 class="usa-heading">Print permit</h2>
      <hr class="header-divider">
      <div id="printing-instructions">
        You must print this permit and have it properly displayed on your vehicle when cutting down your Christmas tree. When printing your permit, use plain white paper. The printed permit will have instructions on how to properly place it on your vehicle.
      </div>
      <input id="includeRules" type="checkbox" name="includeRules" [checked]="includeRules" (change)="includeRules = !includeRules">
      <label for="includeRules">Include a copy of the Christmas tree cutting rules and guidelines</label>
      <button
       id="tree-print-permit"
       class="usa-button-primary usa-button-big"
       type="button"
       [disabled]="isPermitExpired"
       (click)="printPermit()">
        Print
      </button>
    </div>

    <div *ngIf="permit" id='tree-confirmation-details-container' class="usa-width-one-whole margin-top-2">
      <h2 class="usa-heading">Order details</h2>
      <hr class="header-divider">
      <table class="tree-confirmation-table">
        <tr>
          <td>Permit number</td>
          <td><b>{{permit.permitNumber | uppercase}}</b></td>
        </tr>
        <tr>
          <td>Name</td>
          <td><b>{{permit.firstName}} {{permit.lastName}}</b></td>
        </tr>
        <tr>
          <td>Payment
          <td><b>Credit card</b></td>
        </tr>
        <tr>
          <td>Transaction date</td>
          <td><b>{{permit.transactionDate | date: 'shortDate'}}</b></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><b>{{permit.emailAddress}}</b></td>
        </tr>
      </table>
    </div>

    <div *ngIf="permit" id="tree-additional-info-container" class="confirmation-details-container usa-width-one-whole margin-top-2 margin-bottom-2">
      <h2 class="usa-heading">Additional information</h2>
      <hr class="header-divider">
      <h3>Your permit and the Christmas tree cutting rules and guidelines were emailed to you at {{permit.emailAddress}}.</h3>
      <p *ngIf="forest">Return to the <a [routerLink]="'/christmas-trees/forests/' + forest.forestAbbr">{{forest.forestName}} Christmas tree permit website.</a></p>
    </div>
  </div>


  <div *ngIf="error && permit && forest">
    <div id="pay-gov-errors" class="usa-alert usa-alert-error" aria-live="assertive" aria-hidden="false" role="alert">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Unable to process your permit. Your credit card has not been charged.</h3>
        <p class="usa-alert-text">{{error.message}}</p>
      </div>
    </div>
    <div class="margin-top-2 margin-bottom-2">
      <p *ngIf="forest"><strong>Return to the <a [href]="'/christmas-trees/forests/' + forest.forestAbbr + '/applications/' + permit.permitId">{{forest.forestName}} Christmas tree permit purchase form</a> and try again.</strong></p>
      <p>If the problem persists, please contact the U.S. Forest Service at (800) 832-1355 or <a href="mailto:fs-permitting-project@gsa.gov">fs-permitting-project@gsa.gov.</a></p>
    </div>
  </div>
</section>
