<section class="usa-section">
  <div class="usa-grid">
    <h1>Mount Baker-Snoqualmie National Forest</h1>
    <h2>Permit applications</h2>
    <div *ngIf="apiErrors" class="usa-alert usa-alert-error" role="alert">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">There are errors preventing your data from loading.</h3>
        <ul class="usa-alert-text">
          <li *ngFor="let error of apiErrors">{{error}}</li>
        </ul>
      </div>
    </div>
    <div *ngIf="successMessage" class="usa-alert usa-alert-success application-deadline-warning">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Success</h3>
        <p class="usa-alert-text">{{ successMessage }}</p>
      </div>
    </div>
    <div *ngIf="showAttentionAlert()" class="usa-alert usa-alert-warning application-deadline-warning">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Warning</h3>
        <p class="usa-alert-text">You have one or more applications in the system that require immediate attention.</p>
      </div>
    </div>
    <div *ngIf="errorMessage" class="usa-alert usa-alert-error application-deadline-warning">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Error</h3>
        <p class="usa-alert-text">{{ errorMessage }}</p>
      </div>
    </div>
    <div class="application-list">
      <div class="application-field-list-labels">
        <div>&nbsp;</div>
        <div>Type</div>
        <div>Event name</div>
        <div>Submitted</div>
        <div>Start date</div>
        <div>End date</div>
        <div>Permit holder</div>
        <div>&nbsp;</div>
      </div>
      <div *ngFor="let application of applications | SortArray: '-createdAt'" [hidden]="application.status !== 'Received' && application.status !== 'Hold'" class="application-field-list-values">
        <div *ngIf="application.status === 'Hold'"><span class="usa-label warning">Hold</span></div>
        <div *ngIf="application.status === 'Received'">
        </div>
        <label>Type</label>
        <div>{{ application.type }}</div>
        <label>Event name</label>
        <div *ngIf="application.type === 'Noncommercial'"><strong>{{ application.eventName }}</strong></div>
        <div *ngIf="application.type === 'Temp outfitter'"><strong>{{ application.applicantInfoOrganizationName }}</strong></div>
        <label>Submitted</label>
        <div [ngClass]="{'deadline-warning': isOverOneDayOld(application.createdAt) && application.status === 'Received'}">{{ application.createdAt | HoursFromOrDate:48 }}</div>
        <label>Start date</label>
        <div *ngIf="application.type === 'Noncommercial'"[ngClass]="{'deadline-warning': isPastDate(application.noncommercialFieldsStartDateTime)}">
          {{ application.noncommercialFieldsStartDateTime | DaysToOrDate:7 }}
        </div>
        <div *ngIf="application.type === 'Temp outfitter'"[ngClass]="{'deadline-warning': isPastDate(application.tempOutfitterFieldsActDescFieldsStartDateTime)}">
          {{ application.tempOutfitterFieldsActDescFieldsStartDateTime | DaysToOrDate:7 }}
        </div>
        <label>End date</label>
        <div *ngIf="application.type === 'Noncommercial'">{{ application.noncommercialFieldsEndDateTime | DaysToOrDate:7 }}</div>
        <div *ngIf="application.type === 'Temp outfitter'">{{ application.tempOutfitterFieldsActDescFieldsEndDateTime | DaysToOrDate:7 }}</div>
        <label>Permit holder</label>
        <div>{{ application.applicantInfoPrimaryFirstName}} {{ application.applicantInfoPrimaryLastName }}</div>
        <div><a class="usa-button usa-button-outline" routerLink="/admin/applications/{{application.type | spacesToDashes | lowercase }}/{{application.appControlNumber}}">Details</a></div>
      </div>
    </div>
  </div>
</section>
