<section class="usa-section">
  <div class="usa-grid">
    <h1>Mount Baker-Snoqualmie National Forest</h1>
    <h2>Non-commercial group use applications</h2>
    <div *ngIf="apiErrors" class="usa-alert usa-alert-error" role="alert">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">There are errors preventing your data from loading.</h3>
        <ul class="usa-alert-text">
          <li *ngFor="let error of apiErrors">{{error}}</li>
        </ul>
      </div>
    </div>
    <div *ngIf="successMessage" class="usa-alert usa-alert-success application-deadline-warning">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Success</h3>
        <p class="usa-alert-text">{{ successMessage }}</p>
      </div>
    </div>
    <div *ngIf="showAttentionAlert()" class="usa-alert usa-alert-warning application-deadline-warning">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Warning</h3>
        <p class="usa-alert-text">You have one or more applications in the system that require immediate attention.</p>
      </div>
    </div>
    <div *ngIf="errorMessage" class="usa-alert usa-alert-error application-deadline-warning">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Error</h3>
        <p class="usa-alert-text">{{ errorMessage }}</p>
      </div>
    </div>
    <div class="application-list">
      <div class="application-field-list-labels">
        <div>&nbsp;</div>
        <div>Event name</div>
        <div>Date submitted</div>
        <div>Start date</div>
        <div>End date</div>
        <div>Location</div>
        <div>Permit holder</div>
        <div>&nbsp;</div>
      </div>
      <div *ngFor="let application of applications" [hidden]="application.status !== 'Received' && application.status !== 'Hold'" class="application-field-list-values">
        <div *ngIf="application.status === 'Hold'"><span class="usa-label warning">Hold</span></div>
        <div *ngIf="application.status === 'Received'">
          <div *ngIf="isOverTwoDaysOld(application.createdAt)"><div class="warning-icon"></div></div>
        </div>
        <label>Event name</label>
        <div><strong>{{ application.eventName }}</strong></div>
        <label>Date submitted</label>
        <div [ngClass]="{'deadline-warning': isOverOneDayOld(application.createdAt)}">{{ application.createdAt | date: 'MM/dd/yyyy' }}</div>
        <label>Start date</label>
        <div [ngClass]="{'deadline-warning': isApproachingBeginDateTime(application.dateTimeRange.startDateTime)}">{{ application.dateTimeRange.startDateTime | date: 'MM/dd/yyyy hh:mm a' }}</div>
        <label>End date</label>
        <div>{{ application.dateTimeRange.endDateTime | date: 'MM/dd/yyyy hh:mm a' }}</div>
        <label>Location</label>
        <div>{{ application.noncommercialFields.locationDescription }}</div>
        <label>Permit holder</label>
        <div>{{ application.applicantInfo.primaryFirstName }} {{ application.applicantInfo.primaryLastName }}</div>
        <div><a class="usa-button usa-button-outline" routerLink="/admin/applications/{{application.appControlNumber}}">Details</a></div>
      </div>
    </div>
  </div>
</section>
