<div class="tree-speci margin-bottom-4 usa-width-one-whole">
   <hr>
   <span class="tree-name"><strong>Before You Cut</strong></span>
   <div class="tree-description">
      <div class="usa-width-two-thirds">
         <ul>
            <li>An abundance of tree types are available for harvesting; be sure
               you know which ones to avoid.</li>
            <li>Do not pick a tree within 100 feet of a trail, 200 feet of
               campgrounds or recreation sites, or within 300 feet of a stream
               or lake.</li>
            <li>Be sure another tree has space to grow within 8 feet of the one
               you plan to cut.</li>
            <li>Avoid trees marked with blue paint or designated as a wildlife
               tree.</li>
            <li>Make sure you are on National Forest land before cutting your tree.</li>
            <li>Tools you will need include: a hacksaw, gloves, a tarp and rope or straps to secure your tree.</li>
         </ul>
      </div>
      <div class="usa-width-one-third tree-image-container">
         <img src="/assets/img/pacific_yew.jpg" alt="Pacific Yew" />
         <figcaption class="caption">Prohibited: Pacific Yew</figcaption>
      </div>
   </div>
</div>