<section class="usa-section">
  <div class="usa-grid">
    <app-breadcrumbs></app-breadcrumbs>

    <h1 id="skip-nav-target" tabindex="-1">Update Forest Season Dates</h1>

    <div id="season-updated-alert-container" tabindex="-1">

      <app-api-error *ngIf="apiErrors" [errors]="apiErrors"></app-api-error>

      <div id="season-updated-alert" [hidden]="!updateStatus" class="usa-alert usa-alert-info" role="alert" aria-label="info">
        <div class="usa-alert-body">
          <p class="usa-alert-text">{{ updateStatus }}
            <br/>
            <a routerLink="/christmas-trees/forests/{{forest.forestAbbr}}">Click here to view the updated information.</a>
          </p>
        </div>
      </div>
    </div>

    <form [formGroup]="form" class="usa-form-large" novalidate (ngSubmit)="updateSeasonDates()">
      <p class="form-directions">All form fields are required unless otherwise noted.</p>
      <div>
        <fieldset class="usa-form-group">
          <legend class="fs-datetime-legend">
            To update season dates, please select a forest.
          </legend>
          <ng-container *ngFor="let forest of forests; let i = index">
            <input id="{{forest.id}}-button" type="radio" [value]="forest.id" formControlName="forestId" [checked]="i === 0">
            <label for="{{forest.id}}-button" id="{{forest.id}}-button-label">{{forest.forestName}}</label>
          </ng-container>
        </fieldset>

        <div>
          <p>If your forest is not listed, please <a href="{{changeRequestFormUrl}}">request access</a>.</p>
          <p>The time on the season start date and end date will be set to midnight.</p>
          <app-date-time-range [parentForm]="form" dateOnly="true" includePastDates="false"
                           (updateDateStatus)="updateDateStatus($event)"></app-date-time-range>
        </div>
      </div>

      <button id="update-dates" class="usa-button-primary usa-button-big" type="submit">Update season dates</button>

    </form>

  </div>
</section>
