<div class="tree-speci margin-bottom-4 usa-width-one-whole">
  <hr>
  <div class="tree-cutting-container usa-grid">
    <div class="usa-width-two-thirds">
      <ul>
        <li>Use an axe or handsaw to cut your tree. Motorized saws and chainsaws are prohibited.</li>
        <li>The stump must be {{ forest.stumpHeight}} inches high or less.</li>
        <li>The harvested tree must be {{ forest.treeHeight }} feet or less.</li>
        <li>Be sure to remove snow from around the
          stump so as to accurately measure the stump
          and tree height.</li>
        <li>Cut your tree a bit longer than you'll need (6-12"), so you'll have room to make a fresh
          cut on the bottom before putting it in water.</li>
        <li>Take the whole tree. Cutting the top off a tree
          is prohibited.
        </li>
        <li>Have a tarp and rope ready to transport your tree once it’s cut.</li>
        <li>Be aware of where the tree will fall and ensure all members of your party are out of the
          path of the falling tree.</li>
      </ul>
      <p>Remember: Safety is your responsibility</p>
    </div>
    <div class="usa-width-one-third">
      <img src="/assets/img/stump-height-sm.jpg" alt="stump height is measured from ground not snow cover" />
      <figcaption>Allowed stump height is {{forest.stumpHeight}} inches</figcaption>
      <img src="/assets/img/tree-height-sm.jpg" alt="height is measured from ground not snow cover" />
      <figcaption>Tree must be less than {{forest.treeHeight}} feet from ground.</figcaption>
      <img src="/assets/img/snow-height-sm.jpg" alt="stump in snow" />
      <figcaption>Snow can be deceiving! Measure from the ground.</figcaption>
    </div>
  </div>

</div>