<div class="tree-speci margin-bottom-4">
  <div class="tree-cutting-container usa-grid">
    <div class="usa-width-two-thirds">
      <h4>Rules</h4>
      <ul>
        <li>The stump must be {{ forest.stumpHeight}} inches high or less.</li>
        <li *ngIf="forest.treeHeight > 0">The harvested tree must be {{ forest.treeHeight }} feet or less.</li>
        <li *ngIf="forest.stumpDiameter > 0">The stump must be {{forest.stumpDiameter}} inches or less in diameter.</li>
      </ul>
      <h4>Helpful information</h4>
      <ul>
        <li>Remove snow from around the
          stump so you can accurately measure the stump
          and tree height.</li>
        <li>Cut your tree a bit longer than you'll need (6-12"), so you'll have room to make a fresh
          cut on the bottom before putting it in water.</li>
        <li>Take the whole tree. Cutting the top off a tree
          is prohibited.
        </li>
        <li>Have a tarp and rope ready to transport your tree once it’s cut.</li>
        <li>Be aware of where the tree will fall and ensure all members of your party are out of the
          path of the falling tree.</li>
        <li>Remove any boughs from the stump and scatter around a large area.</li>
        <li>Clean up any debris after you’re finished cutting down your tree.</li>
        <li>Stay out of the path of the falling tree.</li>
      </ul>
    </div>
    <div class="usa-width-one-third tree-image-container">
      <figure>
        <img src="/assets/img/stump-height-sm.jpg" alt="stump height is measured from ground not snow cover" />
        <figcaption>Allowed stump height is {{forest.stumpHeight}} inches</figcaption>
      </figure>
      <ng-container *ngIf="forest.treeHeight > 0">
        <figure>
          <img src="/assets/img/tree-height-sm.jpg" alt="height is measured from ground not snow cover" />
          <figcaption>Tree must be less than {{forest.treeHeight}} feet from ground.</figcaption>
        </figure>
      </ng-container>
      <figure>
        <img src="/assets/img/snow-height-sm.jpg" alt="stump in snow" />
        <figcaption>Snow can be deceiving! Measure from the ground.</figcaption>
      </figure>
      <figure>
        <img src="/assets/img/no-topping.jpg" alt="tree cut in middle" />
        <figcaption>No tree-topping allowed.</figcaption>
      </figure>
    </div>
  </div>

</div>
