<form [formGroup]="applicationRulesForm" class="usa-form-large" novalidate>
<p>
  Trees may be taken from the {{forest.forestName}} under the below rules and guidelines. Failure to follow these
  rules and conditions may result in a fine.
</p>
<div class="usa-grid">
  <div class="trees-application-rules">
    <div id="permit-rules-container usa-grid">
      <!--#region ipnf block-->
      <div class="firewood-rules-list" *ngIf="(forest.forestAbbr)==='ipnf'">
        <h3>Your Permit</h3>
        <ul>
          <li>Must be in your possession when collecting firewood. Copies are not allowed.</li>
          <li>Is for personal use only and not for commercial purposes.</li>
          <li>Requires the permit holder to be present at time of cutting and transport.</li>
          <li>Must be printed to be valid and cannot be stored on a mobile device.</li>
          <li>Is non-transferable, non-replaceable, non-refundable.</li>
          <li>Is only valid for use on the National Forest listed on the permit.</li>
          <li>Expires at midnight of the expiration date on the permit or when the purchased quantity of firewood have been gathered, whichever comes first.</li>
          <li>Cannot be reused or duplicated.</li>
          <li>Cannot be used to remove more products than the permit holder has purchased.</li>
        </ul>
        <h3>Firewood collecting</h3>
        <ul>
          <li>Motorized vehicles are not allowed off existing roads that are open to the public, unless otherwise specified on this permit. Permittee parking shall not block traffic or impede fire or emergency vehicles.</li>
          <li>Written local agency approval (where the removal will occur) is required prior to using over-the-terrain vehicles for skidding, yarding or skidding systems in excess of 100 feet, log trucks for hauling, or vehicles driven off roadways
            to
            gather firewood. Written approval will be site specific with beginning and ending dates that will not exceed a 14 day period.</li>
          <li>Six feet is the maximum length piece that may be removed under the firewood program without written approval.</li>
          <li>Cutting and gathering is allowed only on areas shown as open to cutting or gathering on the firewood maps.</li>
          <li>Live trees may NOT be cut.</li>
          <li>All dead and down trees may be gathered.</li>
          <li>Standing dead trees may be cut only if they are not larch, cedar, pacific yew or wildlife trees.</li>
          <li>No gathering or harvest of any dead trees identified by having paint marks, signs or tags on them.</li>
        </ul>
        <h3>Collecting is prohibited within:</h3>
        <ul>
          <li>150 feet of any lake, pond, stream or river.</li>
          <li>developed recreation areas, campgrounds, and wild and scenic river corridors.</li>
          <li>active timber sale units or other areas signed or shown on the firewood gathering area map as being closed to firewood gathering.</li>
        </ul>
      </div>
      <!--#endregion -->

      <!--#region flathead block-->
      <div class="firewood-rules-list" *ngIf="(forest.forestAbbr)==='flathead'">
        <h3>Your Permit</h3>
        <ul>
          <li>Must be in your possession when collecting firewood. Copies are not allowed.</li>
          <li>Is for personal use only and not for commercial purposes.</li>
          <li>Requires the permit holder to be present at time of cutting and transport.</li>
          <li>Must be printed to be valid and cannot be stored on a mobile device.</li>
          <li>Is non-transferrable, non-replaceable, non-refundable.</li>
          <li>Is only valid for use on the National Forest listed on the permit.</li>
          <li>Expires at midnight of the expiration date on the permit or when the purchased quantity of firewood have been gathered, whichever comes first.</li>
          <li>Cannot be reused or duplicated.</li>
          <li>Cannot be used to remove more products than the permit holder has purchased.</li>
          <li>Requested permission for third-party removal must have written approval.</li>
        </ul>
        <h3>Firewood cutting</h3>
        <ul>
          <li>Motorized vehicles are not allowed off existing roads that are open to the public, unless otherwise specified on this permit.Permittee parking shall not block traffic or impede fire or emergency vehicles.</li>
          <li>Six feet is the maximum length piece that may be removed under the firewood program without written approval.</li>
          <li>Live trees may NOT be cut.</li>
          <li>All dead and down trees may be gathered.</li>
          <li>Standing dead trees may be cut only if they are within 200 feet of a legal public road.</li>
          <li>From November 1<span class="ordinal">st</span> to May 31<span class="ordinal">st</span>, Larch Trees cannot be cut unless they are dead, with loose buckskin bark.</li>
          <li>No gathering or harvest of any dead trees identified by having paint marks at breast height and stump height or dead trees which have directional, trail, den tree, Animal Inn or land survey signs attached.</li>
        </ul>
        <h3>Cutting is prohibited within:</h3>
        <ul>
          <li>150 feet of any pond, stream or reservoir on the Flathead National Forest.</li>
          <li>300 feet of rivers or lakes on the Flathead National Forest.</li>
          <li>signed timber sale areas.</li>
          <li>active timber sale units or other areas signed or shown as being closed to firewood gathering.</li>
        </ul>
      </div>
      <!--#endregion -->

      <!--#region conf block-->
      <div class="firewood-rules-list" *ngIf="(forest.forestAbbr)==='conf'">
        <h3>Your Permit</h3>
        <ul>
          <li>Must be in your possession and displayed on your dashboard when collecting firewood. Copies are not allowed.</li>
          <li>Is for personal use only and not for commercial purposes.</li>
          <li>Requires the permit holder to be present at time of gathering and transport.</li>
          <li>Must be printed to be valid and cannot be stored on a mobile device.</li>
          <li>Is non-transferable, non-replaceable, non-refundable.</li>
          <li>Is only valid for use on the National Forest listed on the permit.</li>
          <li>Expires at midnight of the expiration date on the permit or when the purchased quantity of firewood have been gathered, whichever comes first.</li>
          <li>Cannot be reused or duplicated.</li>
          <li>Cannot be used to remove more products than the permit holder has purchased.</li>
          <li>None of the terms or conditions may be varied or modified except for unilateral modifications by the Forest Service.</li>
          <li>You agree to hold the Government harmless from any claim for damage or loss of property, personal injury, or death. </li>
          <li>The permit and activities hereunder are subject to all applicable Federal statutes and regulations and State and local laws. In case or conflict, Federal statutes and regulations shall take precedence. Where applicable, a Memorandum of
            Agreement between the Forest Service and BLM governs administration and enforcement of the permit (Sec. 330, P.L. 106-291).</li>
          <li>The Forest Service reserves the right to unilaterally revoke the permit for noncompliance with its terms and conditions or when revocation is in the public 's interest.</li>
        </ul>
        <h3>Firewood collecting</h3>
        <ul>
          <li>Motorized vehicles are not allowed off existing roads that are open to the public, unless otherwise specified on this permit. Your parking shall not block traffic or impede fire or emergency vehicles.</li>
          <li>Firewood gathering is permitted only within 150 feet of designated Forest Service Development Roads. </li>
          <li>Product Quantity Removal Record must be completed each day in ink by you prior to transporting products.</li>
          <li>Gathering is allowed only on areas shown as open to gathering on the firewood maps.</li>
          <li>Live trees and standing dead trees may NOT be cut.</li>
          <li>All dead and down trees may be gathered.</li>
          <li>No gathering of any dead trees identified by having paint marks, signs or tags on them.</li>
          <li>You shall remove all trash and litter resulting from your activities.</li>
          <li>You shall comply with fire requirements and current restrictions to prevent forest fires.</li>
          <li>You shall pay for or repair all damage to natural features; riparian areas; other vegetation; and roads, trails, fences, ditches, telephone lines, or other improvements resulting from Permittee's activities under the permit.</li>
        </ul>
        <h3>Gathering is prohibited within:</h3>
        <ul>
          <li>150 feet of any lake, pond, stream or river.</li>
          <li>developed recreation areas, campgrounds, and wild and scenic river corridors.</li>
          <li>active timber sale units or other areas signed or shown on the firewood gathering area map as being closed to firewood gathering.</li>
        </ul>
      </div>
      <!--#endregion -->

      <!--#region gwj block-->
      <div class="firewood-rules-list" *ngIf="(forest.forestAbbr)==='gwj'">
        <h3>Your Permit</h3>
        <ul>
          <li>Must be in your possession and displayed on your dashboard when collecting firewood. Copies are not allowed.</li>
          <li>Is for personal use only and not for commercial purposes.</li>
          <li>Requires the permit holder to be present at time of cutting and transport.</li>
          <li>Must be printed to be valid and cannot be stored on a mobile device.</li>
          <li>Is non-transferable, non-replaceable, non-refundable.</li>
          <li>Is only valid for use on the National Forest listed on the permit.</li>
          <li>Expires at midnight of the expiration date on the permit or when the purchased quantity of firewood have been gathered, whichever comes first.</li>
          <li>Cannot be reused or duplicated.</li>
          <li>Cannot be used to remove more products than the permit holder has purchased.</li>
        </ul>
        <h3>Firewood cutting</h3>
        <ul>
          <li>Motorized vehicles will ONLY be operated on open Forest Service roads UNLESS otherwise posted for travel to firewood areas. Cross-country driving is ILLEGAL and WILL BE PROSECUTED. Designated Forest Service roads are identified in the Motor Vehicle Use Map.</li>
          <li>Product Quantity Removal Record must be completed each day in ink by you prior to transporting products.</li>
          <li>Six feet is the maximum length piece that may be removed under the firewood program.</li>
          <li>The maximum limit is one permit for 4 ccf (6 cords) per household per year.</li>
          <li>Live trees may NOT be cut.</li>
          <li>All dead and down trees may be gathered. Standing dead standing trees must be 100% dead. A dead tree has no branches with green leaves or live buds. A dead tree will have bark that is dried out and partly or completely fallen off the main trunk.</li>
          <li>Standing dead trees may be cut only if they are not wildlife trees.</li>
          <li>No gathering or harvest of any dead trees identified by having paint marks, signs or tags on them.</li>
          <li>You are required to remove all trash and litter resulting from your activities.</li>
        </ul>
        <h3>Cutting is prohibited within:</h3>
        <ul>
          <li>150 feet of any lake, pond, stream or river.</li>
          <li>developed recreation areas, campgrounds, National Forest Wilderness Areas, or where specifically prohibited by posted signs "NO FIREWOOD GATHERING ALLOWED".</li>
          <li>active timber sale units or other areas signed or shown as being closed to firewood gathering.</li>
        </ul>
      </div>
      <!--#endregion -->

      <!--#region shoshone block-->
      <div class="firewood-rules-list" *ngIf="(forest.forestAbbr)==='shoshone'">
        <h3>Your Permit</h3>
        <ul>
          <li>Must be in your possession while cutting and transporting firewood. Copies are not allowed.</li>
          <li>Is for personal use only and not for commercial purposes.</li>
          <li>Requires the permit holder to be present at time of cutting and transport.</li>
          <li>Must be printed to be valid and cannot be stored on a mobile device.</li>
          <li>Is non-transferable, non-replaceable, non-refundable.</li>
          <li>Is only valid for use on the National Forest listed on the permit.</li>
          <li>Expires at midnight of the expiration date on the permit or when the purchased quantity of firewood have been gathered, whichever comes first.</li>
          <li>Cannot be reused or duplicated.</li>
          <li>Cannot be used to remove more products than the permit holder has purchased.</li>
        </ul>
        <h3>Firewood cutting</h3>
        <ul>
          <li>Motorized vehicles are allowed within 300 feet of roads shown open to motorized vehicles on the current Shoshone Motor Vehicle Use Map for the purpose of cutting firewood, when it can be done without damage to
            resources. If you have any questions, refer to the Motor Vehicle Use Map or contact a ranger district office in Lander, Dubois, or Cody.</li>
          <li>Eight feet is the maximum length piece that may be removed under the firewood program.</li>
          <li>The maximum limit is 10 cords per household per year.</li>
          <li>Live trees may NOT be cut.</li>
          <li>All dead and down trees may be gathered.</li>
          <li>Dead burl trees may NOT be cut.</li>
          <li>No gathering or harvest of any dead trees identified by having paint marks, signs or tags on them.</li>
        </ul>
        <h3>Cutting is prohibited within:</h3>
        <ul>
          <li>Private or State of Wyoming land in-holdings.</li>
          <li>Wilderness and research natural areas.</li>
          <li>developed recreation areas, campgrounds, ranger stations, lodges and resorts.</li>
          <li>active timber sale units or other areas signed or shown as being closed to firewood gathering.</li>
        </ul>
      </div>
      <!--#endregion -->

      <!--#region hiawatha block-->
      <div class="firewood-rules-list" *ngIf="(forest.forestAbbr)==='hiawatha'">
        <h3>Your Permit</h3>
        <ul>
          <li>Must be in your possession when collecting firewood. Copies are not allowed.</li>
          <li>Is for personal use only and not for commercial purposes.</li>
          <li>Requires the permit holder to be present at time of cutting and transport.</li>
          <li>Must be printed to be valid and cannot be stored on a mobile device.</li>
          <li>Is non-transferable, non-replaceable, non-refundable.</li>
          <li>Is only valid for use on the National Forest listed on the permit.</li>
          <li>Expires at midnight of the expiration date on the permit or when the purchased quantity of firewood have been gathered, whichever comes first.</li>
          <li>Cannot be reused, modified, or duplicated.</li>
          <li>Cannot be used to remove more products than the permit holder has purchased.</li>
          <li>You are required to complete the Product Quantity Removal Record in ink prior to transporting products.</li>
        </ul>
        <h3>Firewood cutting</h3>
        <ul>
          <li>Motorized vehicles are not allowed off existing roads that are open to the public, unless otherwise specified on this permit. Your parking shall not block traffic or impede fire or emergency vehicles.</li>
          <li>You are not authorized to construct roads or trails to cut or gather firewood.</li>
          <li>The use of equipment to move firewood out to a road such as tractors, rubber-tired skidders, ATV's/OHV's or similar vehicles is PROHIBITED.</li>
          <li>Three feet is the maximum length piece that may be removed under the firewood program.</li>
          <li>Cutting and gathering is allowed only on areas shown as open to cutting or gathering on the firewood maps.</li>
          <li>Live trees may NOT be cut.</li>
          <li>All dead and down trees may be gathered.</li>
          <li>Standing dead trees may be cut only if they are not wildlife trees.</li>
          <li>No CEDAR may be cut under this permit, unless specified in Remarks.</li>

          <li>No gathering or harvest of any dead trees identified by having paint marks, signs or tags on them.</li>
        </ul>
        <h3>Cutting is prohibited within:</h3>
        <ul>
          <li>100 feet of any lake, pond, stream or river.</li>
          <li>Developed recreation areas, campgrounds, designated Wilderness Areas, Research Natural Areas, Dukes Upper Peninsula Experimental Forest, or other posted areas.</li>
        </ul>
      </div>
      <!--#endregion -->

      <!--#region GMUG block-->
      <div class="firewood-rules-list" *ngIf="(forest.forestAbbr)==='gmug'">
        <h3>Your Permit</h3>
        <ul>
          <li>Must be in your possession when collecting firewood. Copies are not allowed.</li>
          <li>Is for personal use only and not for commercial purposes.</li>
          <li>Requires the permit holder to be present at time of cutting and transport.</li>
          <li>Must be printed to be valid and cannot be stored on a mobile device.</li>
          <li>Is non-transferable, non-replaceable, non-refundable.</li>
          <li>Is only valid for use on the National Forest listed on the permit.</li>
          <li>Expires at midnight of the expiration date on the permit or when the purchased quantity of firewood have been gathered, whichever comes first.</li>
          <li>Cannot be reused or duplicated.</li>
          <li>Cannot be used to remove more products than the permit holder has purchased.</li>
        </ul>
        <h3>Firewood cutting</h3>
        <ul>
          <li>Motorized vehicles are not allowed off existing roads that are open to the public, unless otherwise specified on this permit. Your parking shall not block traffic or impede fire or emergency vehicles.</li>
          <li>Six feet is the maximum length piece that may be removed if the firewood is larger than seven inches in diameter at either end.</li>
          <li>Cut all stumps to less than eight (8) inches high and remove all material larger than three (3) inches in diameter.</li>
          <li>Cutting and gathering is allowed only on areas shown as open to cutting or gathering on the firewood maps.</li>
          <li>Live trees may NOT be cut.</li>
          <li>All dead and down trees may be gathered. </li>
          <li>Standing dead ponderosa pine <strong>MUST</strong> be <strong>LESS THAN</strong> 18 inches in diameter.</li>
          <li>Green (live) Oak Brush may be cut if the trees are less than 6 inches in diameter measured at the root collar (near the ground level).</li>
          <li>All dead and down trees may be gathered. Standing dead ponderosa pine MUST be LESS THAN 18 inches in diameter.</li>
          <li>No gathering or harvest of any dead trees identified by having paint marks, signs or tags on them.</li>
        </ul>
        <h3>Cutting is prohibited within:</h3>
        <ul>
          <li>150 feet of any lake, pond, stream or river.</li>
          <li>developed recreation areas, campgrounds, and wild and scenic river corridors.</li>
          <li>active timber sale units or other areas signed or shown on the firewood gathering area map as being closed to firewood gathering.</li>
        </ul>
      </div>
      <!--#endregion -->
    </div>

  <div class="trees-applications-rules-checkbox-container">
    <input id="accept-rules" type="checkbox" formControlName='acceptRules' name="accept-rules" required>
    <label id='accept-rules-label' for="accept-rules"><span class="required-fields-asterisk">*</span> By checking this box, I acknowledge that I have read, understand, and agree to the Firewood tree cutting rules and guidelines.</label>
    <app-error-message fieldId="accept-rules-error" name="To purchase a tree permit, agreeing to the rules" [control]="applicationRulesForm.controls.acceptRules"></app-error-message>
  </div>
  </div>
    <button id="submit-application" class="usa-button-primary usa-button-big" (click)="createApplication()" type="submit">Continue to Checkout</button>
    <p class="usa-form-hint">A copy of these rules and guidelines will be sent with your permit to the email address you have provided. You can print these rules and guidelines and your permit after you make your purchase.</p>
    <p class="usa-form-hint">We use Pay.gov as our trusted secure payment processor. When you click checkout, we’ll redirect you to Pay.gov to buy your permit(s) and bring you back when you finish.</p>
    <p class="usa-form-hint">All permits are non-refundable.</p>
  </div>
</form>
