<div class="authentication">
  <ng-container *ngIf="!isAuthenticated">
    <a href="https://fs-intake-api-staging.app.cloud.gov/auth/login-gov/saml/login">Login</a>
    or <a href="https://fs-intake-api-staging.app.cloud.gov/auth/login-gov/saml/login">create an account</a>
    with
    <a href="https://fs-intake-api-staging.app.cloud.gov/auth/login-gov/saml/login">
      <img src="/assets/img/login.gov-logo.svg" alt="login.gov logo" class="login-gov" />
    </a>
  </ng-container>
  <a class="cursor-pointer" *ngIf="isAuthenticated" (click)="logout()">Logout</a>
</div>
