<div class="authentication">
  <ng-container *ngIf="!authentication.user">
    <a href="javascript:void(0)" (click)="login()">Log in</a>
    or
    <a href="javascript:void(0)" (click)="login()">create an account</a>
  </ng-container>

  <ng-container *ngIf="authentication.user">
    Welcome<span *ngIf="authentication.user.role === 'admin'"> admin</span> {{ authentication.user.email }}
    <div class="user-link">
      <a href="#" *ngIf="authentication.user.role !== 'admin'" routerLink="/user/applications"> View applications. | </a>
      <a href="https://iweb.fs.usda.gov/login/common.jsp?option=7" *ngIf="authentication.user.role === 'admin'"> Log in to SUDS. | </a>
      <a class="cursor-pointer" href="#" (click)="logout($event)">Log out</a>
    </div>

  </ng-container>
</div>
