<nav id="forest-admin-nav" role="nav" [ngClass]="{'is-visible' : !showMobileNav}" class="site-nav-secondary sticky" *ngIf="user && user.role === 'admin' && user.forests.length">
  <ul *ngIf="forestAdminNavItems.length">
    <li *ngFor="let navItem of forestAdminNavItems">
      <a *ngIf="navItem.routerLink" id="{{navItem.id}}" routerLink="{{navItem.routerLink}}" [routerLinkActive]="'usa-current'"><span>{{navItem.title}}</span></a>
      <a *ngIf="navItem.href" id="{{navItem.id}}-link" href="{{navItem.href}}"><span>{{navItem.title}}</span></a>
    </li>
  </ul>
</nav>
<ng-container>
  <div class="usa-overlay" [ngClass]="{'is-visible' : showMobileNav}"></div>
  <button id="mobile-forest-admin-menu-btn" class="usa-menu-btn mobile-menu-btn" (click)="showMobileNav = !showMobileNav"  [style.position]="fixed" [style.top]="menuBtnTop">Menu</button>
  <nav id="forest-admin-mobile-nav" role="navigation" [ngClass]="{'is-visible' : showMobileNav}" [attr.aria-expanded]="showMobileNav" class="usa-nav sidenav-mobile">
    <button class="usa-nav-close" (click)="showMobileNav = !showMobileNav" >
      <img src="/assets/img/close.svg" alt="Close forest admin navigation menu">
    </button>
    <ul id="forest-admin-sidenav-mobile" class="usa-sidenav-list usa-accordion">
      <li *ngFor="let navItem of forestAdminNavItems">
        <a *ngIf="navItem.routerLink" id="{{navItem.id}}-mobile" routerLink="{{navItem.routerLink}}"[routerLinkActive]="'usa-current'"><span>{{navItem.title}}</span></a>
        <a *ngIf="navItem.href" id="{{navItem.id}}-mobile-link" href="{{navItem.href}}"><span>{{navItem.title}}</span></a>
      </li>
    </ul>
  </nav>
</ng-container>
