<p>Our National Forests have an abundance of tree species for you to choose
  from when you’re ready harvest your Christmas tree. As you search the forest,
  you’ll see trees that are not professional groomed but instead are in their natural state.
  Learning about the available trees before you leave on your trip can assist your search for
  the perfect tree.</p>

<p>Let’s take a look at how to identify the trees:</p>

<div class="tree-speci margin-bottom-4 usa-width-one-whole"
     *ngFor="let tree of forest.species | filter: 'status':'recommended'">
  <hr>
  <span class="tree-name"><strong>{{ tree.name }}</strong></span>
  <div class="tree-description">
    <div class="usa-width-two-thirds">
      <ul *ngFor="let note of tree.notes">
        <li>{{note}}</li>
      </ul>
    </div>
    <div class="usa-width-one-third">
      <img src="/assets/img/{{ tree.name | SpacesToDashes }}.jpg" alt="{{ tree.name }}"/>
    </div>
  </div>
</div>
<div class="tree-speci margin-bottom-4 usa-width-one-whole"
     *ngFor="let tree of forest.species | filter: 'status':'not recommended'">
  <hr>
  <span class="tree-name"><strong>{{ tree.name }}</strong></span>
  <div class="tree-description">
    <div class="usa-width-two-thirds">
      <ul *ngFor="let note of tree.notes">
        <li>{{note}}</li>
      </ul>
    </div>
    <div class="usa-width-one-third">
      <img src="/assets/img/{{ tree.name | SpacesToDashes }}.jpg" alt="{{ tree.name }}"/>
    </div>
  </div>
</div>
<div class="tree-speci margin-bottom-4 usa-width-one-whole"
     *ngFor="let tree of forest.species | filter: 'status':'prohibited'">
  <hr>
  <span class="tree-name"><strong>{{ tree.name }}</strong></span> <span
 class="tree-status float-right usa-label {{ statusClass(tree.status) }}">{{ tree.status }}</span>
  <div class="tree-description">
    <div class="usa-width-two-thirds">
      <ul *ngFor="let note of tree.notes">
        <li>{{note}}</li>
      </ul>
    </div>
    <div class="usa-width-one-third">
      <img src="/assets/img/{{ tree.name | SpacesToDashes }}.jpg" alt="{{ tree.name }}"/>
    </div>
  </div>
</div>
