<div [attr.id]="'tree-recommended-species-'+ i" class="tree-speci margin-bottom-4 usa-grid"
     *ngFor="let tree of forest.species | filter: 'status':'recommended'; let i=index">
  <hr>
  <span class="tree-name"><strong>{{ tree.name }}</strong></span>
  <div class="tree-description">
    <div class="usa-width-two-thirds">
      <ul *ngFor="let note of tree.notes">
        <li>{{note}}</li>
      </ul>
    </div>
    <div class="usa-width-one-third">
      <figure>
        <img src="/assets/img/{{ tree.name | SpacesToDashes }}.jpg" alt="{{ tree.name }}"/>
        <figcaption>{{tree.name}}</figcaption>
      </figure>
    </div>
  </div>
</div>
<div [attr.id]="'tree-not-recommended-species-'+ j" class="tree-speci margin-bottom-4 usa-grid"
     *ngFor="let tree of forest.species | filter: 'status':'not recommended'; let j=index">
  <hr>
  <span class="tree-name"><strong>{{ tree.name }}</strong></span>
  <div class="tree-description">
    <div class="usa-width-two-thirds">
      <ul *ngFor="let note of tree.notes">
        <li>{{note}}</li>
      </ul>
    </div>
    <div class="usa-width-one-third">
      <figure>
        <img src="/assets/img/{{ tree.name | SpacesToDashes }}.jpg" alt="{{ tree.name }}"/>
        <figcaption>{{tree.name}}</figcaption>
      </figure>
    </div>
  </div>
</div>
<div [attr.id]="'tree-prohibited-species-'+ k" class="tree-speci margin-bottom-4 usa-grid"
     *ngFor="let tree of forest.species | filter: 'status':'prohibited'; let k=index">
  <hr>
  <span class="tree-name"><strong>{{ tree.name }}</strong></span> <span
 class="tree-status float-right usa-label {{ statusClass(tree.status) }}">{{ tree.status }}</span>
  <div class="tree-description">
    <div class="usa-width-two-thirds">
      <ul *ngFor="let note of tree.notes">
        <li>{{note}}</li>
      </ul>
    </div>
    <div class="usa-width-one-third">
      <figure>
        <img src="/assets/img/{{ tree.name | SpacesToDashes }}.jpg" alt="{{ tree.name }}"/>
        <figcaption>{{tree.name}}</figcaption>
      </figure>
    </div>
  </div>
</div>
