<div class="tree-speci margin-bottom-4 usa-width-one-whole">
  <hr>
  <div class="tree-cutting-container usa-grid">
    <div class="usa-width-two-thirds">
      <ul>
        <li>Use an axe or handsaw to cut your tree.
          Motorized saws and chainsaws are prohibited.</li>
        <li>The stump must be {{ forest.stumpHeight}} inches high or less.</li>
        <li>The harvested tree must be {{ forest.treeHeight }} feet or less.</li>
        <li>Be sure to remove snow from around the
          stump so as to accurately measure the stump
          and tree height.</li>
      </ul>
    </div>
    <div class="usa-width-one-third">
      <img src="/assets/img/tree-height-sm.jpg" alt="height is measured from ground not snow cover" />
    </div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <ul>

        <li>Take the whole tree. Cutting the top off a tree
          is prohibited.
        </li>
        <li>Have a tarp and rope ready to transport your tree once it’s cut.</li>
        <li>Clean up any debris after you’re finished cutting down your tree.</li>
      </ul>
      <p>Remember: Safety is your responsibility</p>
    </div>
  </div>
</div>