<ng-container [formGroup]="parentForm">
  <ng-container formGroupName="{{ activityDescriptionFields }}">
    <fieldset>
      <legend>Description of proposed activity</legend>

      <app-date-time-range [parentForm]="parentForm.controls.activityDescriptionFields" (updateDateStatus)="updateDateStatus($event)" dateOnly="true"></app-date-time-range>

      <label class="usa-input" for="number-of-trips">The anticipated number of trips.</label>
      <input id="number-of-trips"  type="number" formControlName="numberOfTrips" aria-required="true" />
      <app-error-message id="number-of-trips-error" name="Number of trips" [control]="parentForm.get('activityDescriptionFields.numberOfTrips')"></app-error-message>

      <label class="usa-input" for="party-size">The anticipated party size.</label>
      <p class="help-text usa-form-hint">If you are planning multiple trips or unsure of the exact party size, you can enter a range of smallest party size to largest party size. For example you could enter 5-25.</p>
      <input id="party-size"  type="text" formControlName="partySize" aria-required="true" />
      <app-error-message id="party-size-error" name="Party size" [control]="parentForm.get('activityDescriptionFields.partySize')"></app-error-message>

      <label class="usa-input" for="location-description">Location of routes and starting and ending points for the proposed operations.</label>
      <textarea id="location-description" type="text" formControlName="locationDescription" aria-required="true"></textarea>
      <app-error-message id="location-description-error" name="Location of routes" [control]="parentForm.get('activityDescriptionFields.locationDescription')"></app-error-message>

      <label class="usa-input" for="services-provided">Services being offered.</label>
      <p class="help-text usa-form-hint">Provide a brief overview of the services you will be providing your clients (also please document any services that will be provided by a party other than the holder).</p>
      <textarea id="services-provided"  type="text" formControlName="servicesProvided" aria-required="true"></textarea>
      <app-error-message id="services-provided-error" name="A list of services provided" [control]="parentForm.get('activityDescriptionFields.servicesProvided')"></app-error-message>

      <label class="usa-input" for="audience-description">Description of your client base or audience.</label>
      <textarea id="audience-description" type="text" formControlName="audienceDescription" aria-required="true"></textarea>
      <app-error-message id="audience-description-error" name="A description of your audience" [control]="parentForm.get('activityDescriptionFields.audienceDescription')"></app-error-message>

      <input id="need-government-facilities" type="checkbox" formControlName="needGovernmentFacilities" />
      <label id="need-government-facilities-label" class="usa-input" for="need-government-facilities">{{ pointOfView }} would like to use government facilities, e.g., a boat launch, parking lot, or trailhead.</label>
      <ng-container *ngIf="parentForm.get('activityDescriptionFields.needGovernmentFacilities').value">
        <label class="usa-input" for="list-of-government-facilities">List facilities needed.</label>
        <textarea id="list-of-government-facilities" type="text" formControlName="listOfGovernmentFacilities" aria-required="true"></textarea>
        <app-error-message id="list-of-government-facilities-error" name="A list of government facilities" [control]="parentForm.get('activityDescriptionFields.listOfGovernmentFacilities')"></app-error-message>
      </ng-container>

      <input id="need-temporary-improvements" type="checkbox" formControlName="needTemporaryImprovements" />
      <label id="need-temporary-improvements-label" class="usa-input" for="need-temporary-improvements">{{ pointOfView }} propose to use temporary improvements or signs.</label>
      <ng-container *ngIf="parentForm.get('activityDescriptionFields.needTemporaryImprovements').value">
        <label class="usa-input" for="list-of-temporary-improvements">List of temporary improvements or signs that you propose to use.</label>
        <textarea id="list-of-temporary-improvements" type="text" formControlName="listOfTemporaryImprovements" aria-required="true"></textarea>
        <app-error-message id="list-of-temporary-improvements-error" name="A list of temporary improvements" [control]="parentForm.get('activityDescriptionFields.listOfTemporaryImprovements')"></app-error-message>
      </ng-container>

      <input id="have-motorized-equipment" type="checkbox" formControlName="haveMotorizedEquipment" />
      <label id="have-motorized-equipment-label" class="usa-input" for="have-motorized-equipment">The proposed operations involve motorized equipment.</label>
      <ng-container *ngIf="parentForm.get('activityDescriptionFields.haveMotorizedEquipment').value">
        <label class="usa-input" for="statement-of-motorized-equipment">Description of the proposed operations involving motorized equipment.</label>
        <textarea id="statement-of-motorized-equipment" type="text" formControlName="statementOfMotorizedEquipment" aria-required="true"></textarea>
        <app-error-message id="statement-of-motorized-equipment-error" name="A description of motorized equipment" [control]="parentForm.get('activityDescriptionFields.statementOfMotorizedEquipment')"></app-error-message>
      </ng-container>

      <input id="have-livestock" type="checkbox" formControlName="haveLivestock" />
      <label id="have-livestock-label" class="usa-input" for="have-livestock">The proposed operation involves the transportation of livestock.</label>
      <ng-container *ngIf="parentForm.get('activityDescriptionFields.haveLivestock').value">
        <label class="usa-input" for="statement-of-transportation-of-livestock">Description of the proposed operations involving the transportation of livestock, and whether grazing is requested.</label>
        <textarea id="statement-of-transportation-of-livestock" type="text" formControlName="statementOfTransportationOfLivestock" aria-required="true"></textarea>
        <app-error-message id="statement-of-transportation-of-livestock-error" name="A description of the transportation of livestock" [control]="parentForm.get('activityDescriptionFields.statementOfTransportationOfLivestock')"></app-error-message>
      </ng-container>

      <input id="need-assigned-site" type="checkbox" formControlName="needAssignedSite" />
      <label id="need-assigned-site-label" class="usa-input" for="need-assigned-site">An assigned site is requested.</label>
      <ng-container *ngIf="parentForm.get('activityDescriptionFields.needAssignedSite').value">
        <label class="usa-input" for="statement-of-assigned-site">Description of requested assigned site.</label>
        <textarea id="statement-of-assigned-site" type="text" formControlName="statementOfAssignedSite" aria-required="true"></textarea>
        <app-error-message id="statement-of-assigned-site-error" name="A description of assigned site" [control]="parentForm.get('activityDescriptionFields.statementOfAssignedSite')"></app-error-message>
      </ng-container>

      <label class="usa-input" for="description-of-cleanup-and-restoration">Description of cleanup and restoration during and after the proposed operations.</label>
      <textarea id="description-of-cleanup-and-restoration" type="text" formControlName="descriptionOfCleanupAndRestoration" aria-required="true"></textarea>
      <app-error-message id="description-of-cleanup-and-restoration-error" name="A description of cleanup and restoration" [control]="parentForm.get('activityDescriptionFields.descriptionOfCleanupAndRestoration')"></app-error-message>

    </fieldset>
  </ng-container>
</ng-container>
