<ng-container [formGroup]="tempOutfittersFields">
  <fieldset>
    <legend>Advertising</legend>
    <h3>Provide a current brochure and current advertising materials or website address.</h3>

    <label class="usa-input" for="advertising-description">Adversting description</label>
    <input id="advertising-description" type="text" formControlName="advertisingDescription" />
    <span id="advertising-description-error" class="usa-input-error-message" role="alert" [hidden]="tempOutfittersFields.controls.advertisingDescription.valid || tempOutfittersFields.controls.advertisingDescription.untouched">Advertising description is required.</span>

    <label class="usa-input" for="advertising-url">Adversting description</label>
    <input id="advertising-url" type="url" formControlName="advertisingURL" />

  </fieldset>
</ng-container>
