<ng-container [formGroup]="tempOutfittersFields">
  <fieldset>

    <legend>Advertising</legend>
    <!-- <h3>Provide a current brochure and current advertising materials or website address.</h3> -->

    <label class="usa-input" for="advertising-description">Advertising description</label>
    <p class="help-text usa-form-hint">Please describe your marketing plan.</p>
    <textarea id="advertising-description" type="text" formControlName="advertisingDescription" aria-required="true"></textarea>
    <span id="advertising-description-error" class="usa-input-error-message" role="alert"  aria-live="assertive" aria-hidden="false" *ngIf="tempOutfittersFields.controls.advertisingDescription.invalid && tempOutfittersFields.controls.advertisingDescription.touched">Advertising description is required.</span>

    <label class="usa-input" for="advertising-url">Promotional website (optional)</label>
    <input id="advertising-url" type="url" formControlName="advertisingURL" />
    <!-- TODO: validation -->

  </fieldset>
</ng-container>
