<ng-container [formGroup]="parentForm">
  <ng-container formGroupName="{{formName}}">
    <fieldset>
      <legend class="fs-datetime-legend">Start date</legend>
      <div class="usa-form-group usa-form-group-month">
        <label for="start-month">Month</label>
        <input class="usa-input-inline" id="start-month" type="text" minlength="1" maxlength="2" pattern="(0?[1-9]|1[012])" formControlName="startMonth" aria-required="true" />
      </div>
      <div class="usa-form-group usa-form-group-day">
        <label for="start-day">Day</label>
        <input class="usa-input-inline" id="start-day" type="text" minlength="1" maxlength="2" pattern="(0?[1-9]|1[0-9]|2[0-9]|3[01])" formControlName="startDay" aria-required="true" />
      </div>
      <div class="usa-form-group usa-form-group-year">
        <label for="start-year">Year</label>
        <input class="usa-input-inline" id="start-year" type="text" minlength="4" maxlength="4" pattern="([0-9]{4})" formControlName="startYear" aria-required="true" />
      </div>
    </fieldset>
    <span id="end-date-error" class="usa-input-error-message" role="alert"
       aria-live="assertive" aria-hidden="false" *ngIf="
        (dateTimeRange.controls.startMonth.touched && dateTimeRange.controls.startDay.touched && dateTimeRange.controls.startYear.touched) &&
        (dateTimeRange.controls.startMonth.invalid || dateTimeRange.controls.startDay.invalid || dateTimeRange.controls.startYear.invalid)
      ">Start date is required.</span>
    <span class="usa-input-error-message" role="alert" aria-live="assertive" aria-hidden="false" *ngIf="!dateStatus.startDateTimeValid">Start date is invalid.</span>

    <fieldset>
      <legend class="fs-datetime-legend">Start time </legend>
      <div class="usa-form-group usa-form-group-year">
        <label for="start-hour">Hour</label>
        <select class="usa-input-inline" id="start-hour" formControlName="startHour" aria-required="true">
          <option value="" selected="selected"></option>
          <option *ngFor="let hour of hours" [value]="hour">{{hour}}</option>
        </select>
      </div>
      <div class="usa-form-group usa-form-group-year">
        <label for="start-minutes">Minutes</label>
        <select class="usa-input-inline" id="start-minutes" formControlName="startMinutes" aria-required="true">
          <option *ngFor="let minute of minutes" [value]="minute">{{minute}}</option>
        </select>
      </div>
      <div class="usa-form-group usa-form-group-year">
        <label for="start-period">AM / PM</label>
        <select class="usa-input-inline" id="start-period" formControlName="startPeriod" aria-required="true">
          <option value="" selected="selected"></option>
          <option value="AM">AM</option>
          <option value="PM">PM</option>
        </select>
      </div>
    </fieldset>
    <span id="start-time-error" class="usa-input-error-message" role="alert"
       aria-live="assertive" aria-hidden="false" *ngIf="
        (dateTimeRange.controls.startHour.touched && dateTimeRange.controls.startMinutes.touched && dateTimeRange.controls.startPeriod.touched) &&
        (dateTimeRange.controls.startHour.invalid || dateTimeRange.controls.startMinutes.invalid || dateTimeRange.controls.startPeriod.invalid)
      ">Start time is required.</span>
    <span class="usa-input-error-message" role="alert"  aria-live="assertive" aria-hidden="false" *ngIf="!dateStatus.startBeforeEnd">Start date and time must be before end date and time.</span>
    <span class="usa-input-error-message" role="alert"  aria-live="assertive" aria-hidden="false" *ngIf="!dateStatus.startAfterToday">Start date and time must be in the future.</span>

    <fieldset>
      <legend class="fs-datetime-legend">End date</legend>
      <div class="usa-form-group usa-form-group-month">
        <label for="end-month">Month</label>
        <input class="usa-input-inline" id="end-month" type="text" minlength="1" maxlength="2" pattern="(0?[1-9]|1[012])" formControlName="endMonth" aria-required="true" />
      </div>
      <div class="usa-form-group usa-form-group-day">
        <label for="end-day">Day</label>
        <input class="usa-input-inline" id="end-day" type="text" minlength="1" maxlength="2" pattern="(0?[1-9]|1[0-9]|2[0-9]|3[01])" formControlName="endDay" aria-required="true" />
      </div>
      <div class="usa-form-group usa-form-group-year">
        <label for="end-year">Year</label>
        <input class="usa-input-inline" id="end-year" type="text" minlength="4" maxlength="4" pattern="([0-9]{4})" formControlName="endYear" aria-required="true" />
      </div>
    </fieldset>
    <span id="end-date-error" class="usa-input-error-message" role="alert"
       aria-live="assertive" aria-hidden="false" *ngIf="
        (dateTimeRange.controls.endMonth.touched && dateTimeRange.controls.endDay.touched && dateTimeRange.controls.endYear.touched) &&
        (dateTimeRange.controls.endMonth.invalid || dateTimeRange.controls.endDay.invalid || dateTimeRange.controls.endYear.invalid)
      ">End date is required.</span>
    <span class="usa-input-error-message" role="alert" aria-live="assertive" aria-hidden="false" *ngIf="!dateStatus.endDateTimeValid">End date is invalid.</span>

    <fieldset>
      <legend class="fs-datetime-legend">End time </legend>
      <div class="usa-form-group usa-form-group-year">
        <label for="end-hour">Hour</label>
        <select class="usa-input-inline" id="end-hour" formControlName="endHour" aria-required="true">
          <option value="" selected="selected"></option>
          <option *ngFor="let hour of hours" [value]="hour">{{hour}}</option>
        </select>
      </div>
      <div class="usa-form-group usa-form-group-year">
        <label for="end-minutes">Minutes</label>
        <select class="usa-input-inline" id="end-minutes" formControlName="endMinutes" aria-required="true">
          <option *ngFor="let minute of minutes" [value]="minute">{{minute}}</option>
        </select>
      </div>
      <div class="usa-form-group usa-form-group-year">
        <label for="end-period">AM / PM</label>
        <select class="usa-input-inline" id="end-period" formControlName="endPeriod" aria-required="true">
          <option value="" selected="selected"></option>
          <option value="AM">AM</option>
          <option value="PM">PM</option>
        </select>
      </div>
    </fieldset>
    <span id="end-time-error" class="usa-input-error-message" role="alert"
       aria-live="assertive" aria-hidden="false" *ngIf="
       (dateTimeRange.controls.endHour.touched && dateTimeRange.controls.endMinutes.touched && dateTimeRange.controls.endPeriod.touched) &&
       (dateTimeRange.controls.endHour.invalid || dateTimeRange.controls.endMinutes.invalid || dateTimeRange.controls.endPeriod.invalid)
      ">End time is required.</span>

  </ng-container>
</ng-container>
