<ng-container [formGroup]="parentForm">
  <ng-container formGroupName="{{formName}}">
    <fieldset>
      <legend class="fs-datetime-legend">Start date</legend>
      <div class="usa-form-group usa-form-group-month">
        <label for="start-month">Month</label>
        <input class="usa-input-inline" id="start-month" type="text" minlength="1" maxlength="2" pattern="(0?[1-9]|1[012])" formControlName="startMonth" />
      </div>
      <div class="usa-form-group usa-form-group-day">
        <label for="start-day">Day</label>
        <input class="usa-input-inline" id="start-day" type="text" minlength="1" maxlength="2" pattern="(0?[1-9]|1[0-9]|2[0-9]|3[01])" formControlName="startDay"/>
      </div>
      <div class="usa-form-group usa-form-group-year">
        <label for="start-year">Year</label>
        <input class="usa-input-inline" id="start-year" type="text" minlength="4" maxlength="4" pattern="([0-9]{4})" formControlName="startYear" />
      </div>
    </fieldset>
    <span id="start-date-error" class="usa-input-error-message" role="alert"
      [hidden]="
        (dateTimeRange.controls.startMonth.valid || dateTimeRange.controls.startMonth.untouched) &&
        (dateTimeRange.controls.startDay.valid || dateTimeRange.controls.startDay.untouched) &&
        (dateTimeRange.controls.startYear.valid || dateTimeRange.controls.startYear.untouched)
      ">Start date is required.</span>
    <span class="usa-input-error-message" role="alert" *ngIf="dateStatus.startDateTimeValid">Start date is invalid.</span>

    <fieldset>
      <legend class="fs-datetime-legend">Start time </legend>
      <div class="usa-form-group usa-form-group-year">
        <label for="start-hour">Hour</label>
        <select class="usa-input-inline" id="start-hour" formControlName="startHour">
          <option value="" selected="selected"></option>
          <option *ngFor="let hour of hours" [value]="hour">{{hour}}</option>
        </select>
      </div>
      <div class="usa-form-group usa-form-group-year">
        <label for="start-minutes">Minutes</label>
        <select class="usa-input-inline" id="start-minutes" formConrolName="startMinutes">
          <option *ngFor="let minute of minutes" [value]="minute">{{minute}}</option>
        </select>
      </div>
      <div class="usa-form-group usa-form-group-year">
        <label for="start-period">AM / PM</label>
        <select class="usa-input-inline" id="start-period" formControlName="startPeriod" >
          <option value="" selected="selected"></option>
          <option value="AM">AM</option>
          <option value="PM">PM</option>
        </select>
      </div>
    </fieldset>
    <span id="start-time-error" class="usa-input-error-message" role="alert"
      [hidden]="
        (dateTimeRange.controls.startHour.valid || dateTimeRange.controls.startHour.untouched) &&
        (dateTimeRange.controls.startMinutes.valid || dateTimeRange.controls.startMinutes.untouched) &&
        (dateTimeRange.controls.startPeriod.valid || dateTimeRange.controls.startPeriod.untouched)
      ">Start time is required.</span>
    <span class="usa-input-error-message" role="alert" [hidden]="(dateStatus.startBeforeEnd)">Start date and time must be before end date and time.</span>
    <span class="usa-input-error-message" role="alert" [hidden]="(dateStatus.startAfterToday)">Start date and time must be in the future.</span>

    <fieldset>
      <legend class="fs-datetime-legend">End date</legend>
      <div class="usa-form-group usa-form-group-month">
        <label for="end-month">Month</label>
        <input class="usa-input-inline" id="end-month" type="text" minlength="1" maxlength="2" pattern="(0?[1-9]|1[012])" formControlName="endMonth" />
      </div>
      <div class="usa-form-group usa-form-group-day">
        <label for="end-day">Day</label>
        <input class="usa-input-inline" id="end-day" type="text" minlength="1" maxlength="2" pattern="(0?[1-9]|1[0-9]|2[0-9]|3[01])" formControlName="endDay" />
      </div>
      <div class="usa-form-group usa-form-group-year">
        <label for="end-year">Year</label>
        <input class="usa-input-inline" id="end-year" type="text" minlength="4" maxlength="4" pattern="([0-9]{4})" formControlName="endYear" />
      </div>
    </fieldset>
    <span id="end-date-error" class="usa-input-error-message" role="alert"
      [hidden]="
        (dateTimeRange.controls.endMonth.valid || dateTimeRange.controls.endMonth.untouched) &&
        (dateTimeRange.controls.endDay.valid || dateTimeRange.controls.endDay.untouched) &&
        (dateTimeRange.controls.endYear.valid || dateTimeRange.controls.endYear.untouched)
      ">End date is required.</span>
    <span class="usa-input-error-message" role="alert" *ngIf="dateStatus.endDateTimeValid">End date is invalid.</span>

    <fieldset>
      <legend class="fs-datetime-legend">End time </legend>
      <div class="usa-form-group usa-form-group-year">
        <label for="end-hour">Hour</label>
        <select class="usa-input-inline" id="end-hour" formControlName="endHour">
          <option value="" selected="selected"></option>
          <option *ngFor="let hour of hours" [value]="hour">{{hour}}</option>
        </select>
      </div>
      <div class="usa-form-group usa-form-group-year">
        <label for="end-minutes">Minutes</label>
        <select class="usa-input-inline" id="end-minutes" formConrolName="endMinutes">
          <option *ngFor="let minute of minutes" [value]="minute">{{minute}}</option>
        </select>
      </div>
      <div class="usa-form-group usa-form-group-year">
        <label for="end-period">AM / PM</label>
        <select class="usa-input-inline" id="end-period" formControlName="endPeriod">
          <option value="" selected="selected"></option>
          <option value="AM">AM</option>
          <option value="PM">PM</option>
        </select>
      </div>
    </fieldset>
    <span id="end-time-error" class="usa-input-error-message" role="alert"
      [hidden]="
        (dateTimeRange.controls.endHour.valid || dateTimeRange.controls.endHour.untouched) &&
        (dateTimeRange.controls.endMinutes.valid || dateTimeRange.controls.endMinutes.untouched) &&
        (dateTimeRange.controls.endPeriod.valid || dateTimeRange.controls.endPeriod.untouched)
      ">End time is required.</span>

  </ng-container>
</ng-container>
