<ng-container [formGroup]="applicantInfo">
  <label class="usa-input" for="email">Email address</label>
  <input id="email" type="email" pattern="(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$)" formControlName="emailAddress" aria-required="true" />
  <span id="email-error" class="usa-input-error-message" role="alert" aria-live="assertive" aria-hidden="false" *ngIf="applicantInfo.controls.emailAddress.invalid && applicantInfo.controls.emailAddress.touched">Valid email address is required.</span>
</ng-container>
