<ng-container [formGroup]="parentForm">
  <ng-container formGroupName="{{ fax }}">
    <div class="fs-input-grid-wrapper">
      <div class="usa-input-grid usa-input-grid-medium">
        <label class="usa-input" for="fax">{{ name }} (10 digits, optional)</label>
        <input id="fax" type="text" minlength="10" maxlength="10" pattern="(^\d{10}$)" formControlName="tenDigit" />
      </div>
      <div class="usa-input-grid usa-input-grid-small">
        <label class="usa-input" for="fax-extension">Ext (optional)</label>
        <input class="usa-input" id="fax-extension" type="text" pattern="(^\d{4}$)" formControlName="extension" />
      </div>
    </div>
  </ng-container>
</ng-container>
