<ng-container [formGroup]="parentForm">
  <ng-container formGroupName="{{formName}}">
    <label class="usa-input" for="location">Location</label>
    <span class="help-text usa-form-hint">Description of National Forest system lands and facilities you would like to use.</span>
    <input id="location" type="text" formControlName="locationDescription" aria-required="true" />
    <span id="location-error" class="usa-input-error-message" role="alert" aria-live="assertive" aria-hidden="false" *ngIf="noncommercialFields.controls.locationDescription.invalid && noncommercialFields.controls.locationDescription.touched">Location is required.</span>

    <label class="usa-input" for="participants">Estimated number of participants</label>
    <span class="help-text usa-form-hint">This is the number of people who will directly participate in the event.</span>
    <input id="participants" type="number" formControlName="numberParticipants" aria-required="true" />
    <span id="participants-error" class="usa-input-error-message" role="alert" aria-live="assertive" aria-hidden="false" *ngIf="noncommercialFields.controls.numberParticipants.invalid && noncommercialFields.controls.numberParticipants.touched">Participants is required.</span>

    <label class="usa-input" for="spectators">Estimated number of spectators</label>
    <span class="help-text usa-form-hint">If your event will have spectators (such as at a sporting event), please note how many additional people will be spectators.</span>
    <input id="spectators" type="number" formControlName="spectators" aria-required="true" />
    <span id="spectators-error" class="usa-input-error-message" role="alert" aria-live="assertive" aria-hidden="false" *ngIf="noncommercialFields.controls.spectators.invalid && noncommercialFields.controls.spectators.touched">Spectators is required.</span>

    <label class="usa-input" for="activity-description">Description of proposed activity</label>
    <textarea id="activity-description" formControlName="activityDescription" aria-required="true"></textarea>
    <span id="activity-description-error" class="usa-input-error-message" role="alert" aria-live="assertive" aria-hidden="false" *ngIf="noncommercialFields.controls.activityDescription.invalid && noncommercialFields.controls.activityDescription.touched">Activity description is required.</span>
  </ng-container>
</ng-container>
