<ng-container [formGroup]="applicantInfo" *ngIf="type === 'simple'">
  <label for="applicant-type">Are you applying as an individual or organization?</label>
  <ul class="usa-unstyled-list">
    <li>
      <input id="individual" type="radio" value="Person" formControlName="orgType">
      <label for="individual" id="individual-label">Individual</label>
    </li>
    <li>
      <input id="organization" type="radio" value="Corporation" formControlName="orgType">
      <label for="organization" id="organization-label">Organization</label>
    </li>
  </ul>
</ng-container>

<ng-container [formGroup]="applicantInfo" *ngIf="type === 'complex'">
  <label for="applicant-type">As an applicant, are you:</label>
  <ul class="usa-unstyled-list">
    <li>
      <input id="individual" type="radio" value="Person" formControlName="orgType">
      <label for="individual" id="individual-label">Individual</label>
    </li>
    <li>
      <input id="organization" type="radio" value="Corporation" formControlName="orgType">
      <label for="organization" id="organization-label">Corporation</label>
    </li>
    <li>
      <input id="llc" type="radio" value="Limited Liability Company (LLC)" formControlName="orgType">
      <label for="llc" id="llc-label">Limited Liability Company</label>
    </li>
    <li>
      <input id="partnership" type="radio" value="Limited Liability Partnership (LLP)" formControlName="orgType">
      <label for="partnership" id="partnership-label">Partnership or association</label>
    </li>
    <li>
      <input id="state-government" type="radio" value="State Government" formControlName="orgType">
      <label for="state-government" id="state-government-label">State Government or Agency (Includes state universities)</label>
    </li>
    <li>
      <input id="local-govenment" type="radio" value="Local Govt" formControlName="orgType">
      <label for="local-govenment" id="local-government-label">Local Government or Agency (Includes high schools)</label>
    </li>
    <li>
      <input id="nonprofit" type="radio" value="Nonprofit" formControlName="orgType">
      <label for="nonprofit" id="nonprofit-label">Nonprofit</label>
    </li>
  </ul>

</ng-container>
