<ng-container [formGroup]="applicantInfo" *ngIf="type === 'simple'">
  <label for="applicant-type">Are you applying as an individual or organization?</label>
  <ul class="usa-unstyled-list">
    <li>
      <input id="individual" type="radio" value="Person" formControlName="orgType">
      <label for="individual">Individual</label>
    </li>
    <li>
      <input id="organization" type="radio" value="Corporation" formControlName="orgType">
      <label for="organization">Organization</label>
    </li>
  </ul>
</ng-container>

<ng-container [formGroup]="applicantInfo" *ngIf="type === 'complex'">
  <label for="applicant-type">As an applicant, are you:</label>
  <ul class="usa-unstyled-list">
    <li>
      <input id="individual" type="radio" value="individual" formControlName="orgType">
      <label for="individual">Individual</label>
    </li>
    <li>
      <input id="organization" type="radio" value="corporation" formControlName="orgType">
      <label for="organization">Corporation</label>
    </li>
    <li>
      <input id="llc" type="radio" value="llc" formControlName="orgType">
      <label for="llc">Limited Liability Company</label>
    </li>
    <li>
      <input id="partnership" type="radio" value="partnership" formControlName="orgType">
      <label for="partnership">Partnership or association</label>
    </li>
    <li>
      <input id="state-government" type="radio" value="stateGovernment" formControlName="orgType">
      <label for="state-government">State Government or Agency (Includes state universities)</label>
    </li>
    <li>
      <input id="local-govenment" type="radio" value="localGovernment" formControlName="orgType">
      <label for="local-govenment">Local Government or Agency (Includes high schools)</label>
    </li>
    <li>
      <input id="nonprofit" type="radio" value="nonprofit" formControlName="orgType">
      <label for="nonprofit">Nonprofit</label>
    </li>
  </ul>

</ng-container>
