<ng-container [formGroup]="parentForm">
  <ng-container formGroupName="{{ dayPhone }}">
    <div class="fs-input-grid-wrapper">
      <div class="usa-input-grid usa-input-grid-medium">
        <label class="usa-input" for="day-phone">{{ name }} (10 digits)</label>
        <input id="day-phone" type="text" minlength="10" maxlength="10" pattern="(^\d{10}$)" formControlName="tenDigit" aria-required="true" />
        <span id="day-phone-error" class="usa-input-error-message" role="alert" aria-live="assertive" aria-hidden="false" *ngIf="parentForm.get('dayPhone.tenDigit').invalid && parentForm.get('dayPhone.tenDigit').touched">Valid phone is required.</span>
      </div>
      <div class="usa-input-grid usa-input-grid-small">
        <label class="usa-input" for="day-ext">Ext (optional)</label>
        <input class="usa-input" id="day-ext" type="text" pattern="(^\d{4}$)" formControlName="extension"/>
      </div>
    </div>
  </ng-container>

  <input id="add-additional-phone" name="add-additional-phone" type="checkbox" (change)="addOrRemoveAdditionalPhone()" />
  <label class="usa-input" for="add-additional-phone">Add additional phone.</label>

  <div class="fs-input-grid-wrapper" *ngIf="additionalPhone">
    <ng-container formGroupName="{{ eveningPhone }}">
      <div class="usa-input-grid usa-input-grid-medium">
        <label class="usa-input" for="evening-phone">{{ name }} (10 digits)</label>
        <input id="evening-phone" type="text" minlength="10" maxlength="10" pattern="(^\d{10}$)" formControlName="tenDigit" aria-required="true" />
        <span id="evening-phone-error" class="usa-input-error-message" role="alert" aria-live="assertive" aria-hidden="false" *ngIf="parentForm.get('eveningPhone.tenDigit').invalid && parentForm.get('eveningPhone.tenDigit').touched">Valid phone is required.</span>
      </div>
      <div class="usa-input-grid usa-input-grid-small">
        <label class="usa-input" for="evening-ext">Ext (optional)</label>
        <input class="usa-input" id="evening-ext" type="text" pattern="(^\d{4}$)" formControlName="extension"/>
      </div>
    </ng-container>
  </div>

</ng-container>
