<ng-container *ngIf="(forest.locations | filter: 'allowed' : false | filter: 'type': 'area').length">
  <h4>No cutting or removing trees within:</h4>
  <ul>
    <li *ngFor="let location of forest.locations | filter: 'allowed' : false | filter: 'type': 'area'">
      {{ location.description }}
    </li>
  </ul>
</ng-container>

<ng-container *ngIf="(forest.locations | filter: 'type': 'info').length">
  <h4>Please remember:</h4>
  <ul>
    <li *ngFor="let location of forest.locations | filter: 'type': 'info'">
      {{ location.description }}
    </li>
  </ul>
</ng-container>


<ng-container *ngIf="(forest.locations | filter: 'allowed' : false | filter: 'type': 'road').length">
  <h4>No cutting along the following:</h4>
  <div class="usa-grid">
  <ul>
    <div class="usa-width-one-half" *ngFor="let row of forest.locations | filter: 'allowed' : false | filter: 'type': 'road' | ChunkArray: 2">
      <li *ngFor="let location of row">
        {{ location.description }}
      </li>
    </div>
  </ul>
  </div>
</ng-container>
