<ng-container *ngIf="(forest.locations | filter: 'allowed' : false | filter: 'type': 'area').length">
  <h3>No cutting or removing trees within:</h3>
  <ul>
    <li *ngFor="let location of forest.locations | filter: 'allowed' : false | filter: 'type': 'area'">
      {{ location.description }}
    </li>
  </ul>
</ng-container>

<ng-container *ngIf="(forest.locations | filter: 'allowed' : false | filter: 'type': 'road').length">
  <h3>No cutting along the following roads:</h3>
  <ul>
    <li *ngFor="let location of forest.locations | filter: 'allowed' : false | filter: 'type': 'road'">
      {{ location.description }}
    </li>
  </ul>
</ng-container>

  <ng-container *ngFor="let district of prohibitedDistricts">
    <h3>Roads where harvesting is not allowed on the {{ district.district }} district{{ district.district.indexOf('and') > 0 ? 's' : ''}}:</h3>
    <ul>
      <li *ngFor="let road of district.childNodes">
        {{ road.description }}
      </li>
    </ul>
  </ng-container>
