<section class="usa-section">
  <div class="usa-grid">
    <div class="breadcrumbs">
      <a routerLink="/">Apply for a permit</a> > <span>Help me find a permit</span>
    </div>
    <h1>{{ title }}</h1>
    <div *ngIf="id == 1">
      <a class="usa-button yes" type="button" routerLink="/help-me-pick/5">Yes</a>
      <a class="usa-button no" type="button" routerLink="/help-me-pick/2">No</a>
    </div>

    <div *ngIf="id == 2">
      <a class="usa-button yes" type="button" routerLink="/help-me-pick/5">Yes</a>
      <a class="usa-button no" type="button" routerLink="/help-me-pick/3">No</a>
    </div>

    <div *ngIf="id == 3">
      <a class="usa-button yes" type="button" routerLink="/help-me-pick/7">Yes</a>
      <a class="usa-button no" type="button" routerLink="/help-me-pick/4">No</a>
    </div>

    <div *ngIf="id == 4">
      <p class="message">Thanks for checking!</p>
    </div>

    <div *ngIf="id == 5">
      <a class="usa-button yes" type="button" routerLink="/help-me-pick/8">Yes</a>
      <a class="usa-button no" type="button" routerLink="/help-me-pick/6">No</a>
    </div>

    <div *ngIf="id == 6">
      <p class="message">Learn about other permit types (available via a paper application) at Mt. Baker-Snowquaminie.</p>
      <a href="//www.fs.usda.gov/main/mbs/passes-permits" target="_blank" class="usa-button learn-more" type="button">Learn more (Opens a new window)</a>
    </div>

    <div *ngIf="id == 7">
      <p class="message">You can apply online.</p>
      <a class="usa-button-primary-alt" type="button" routerLink="/applications/noncommercial-group-use/new">Apply now</a>
    </div>

    <div *ngIf="id == 8">
      <p class="message">You can apply online.</p>
      <a class="usa-button-primary-alt" type="button" routerLink="/applications/temp-outfitters/new">Apply now</a>
    </div>

  </div>
</section>
