<div id="progress-wrapper" class="progress-wrapper" role="alert" aria-live="assertive">
  <div class="progress-inner">
    <div *ngIf="!fileUploadError">
      <p>{{message}}</p>
      <div class="spinner-container">
        <spinner class="spinner" [size]="28" [tickness]="4"></spinner>
      </div>
      <p *ngIf="fileUploadProgress && numberOfFiles">Uploading file {{ fileUploadProgress }} of {{ numberOfFiles }}.</p>
    </div>
    <div *ngIf="fileUploadError"
      class="usa-alert usa-alert-error" aria-live="assertive" aria-hidden="false" role="alert">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Errors occured while uploading files.</h3>
        <button class="usa-button float-left" (click)="retry()">Retry uploading files.</button>
      </div>
    </div>
  </div>
</div>
