<div class="progress-wrapper" role="alert" aria-live="assertive">
  <div class="progress-inner">
    <p>Submitting your application.</p>
    <div *ngIf="!fileUploadError">
      <span class="ds-c-spinner ds-u-fill--background-inverse ds-u-color--base-inverse ds-c-spinner--filled ds-u-valign--middle" aria-valuetext="Loading" role="progressbar"></span>
      <p>Uploading file {{ fileUploadProgress }} of {{ numberOfFiles }}.</p>
    </div>
    <div *ngIf="fileUploadError"
      class="usa-alert usa-alert-error" aria-live="assertive" aria-hidden="false" role="alert">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Errors occured while uploading files.</h3>
        <button class="usa-button" (click)="retry()">Retry uploading files.</button>
      </div>
    </div>
  </div>
</div>
