<div>
  <ul>
    <li>District and Forest maps are available for purchase at any Mt. Hood District Office.</li>
    <li>Do not solely rely on your vehicle GPS. Some routes may be snowed out depending on the weather.</li>
    <li>No Cell Phone Coverage on the Clackamas River District</li>
    <li>Very Limited Cell Phone Coverage on the Zigzag Ranger District</li>
    <li>Be sure that someone at home knows where you are, and when to expect you back!</li>
  </ul>
  <h4>REMEMBER!</h4>
  <ul>
    <li>Pick up your permit early - Find your tree and leave the woods before dark</li>
    <li>Roads are not plowed - Carry tire chains, shovel (s) & tow chain</li>
    <li>Bring an overnight survival kit in case you become stranded</li>
    <li>Dress warmly and take extra dry clothes, bring hot drinks and extra food.</li>
  </ul>
</div>