<p>For many homes, the holiday season would not be complete without a fresh scented Christmas tree. Although a
Christmas tree permit allows you to cut anywhere on the National Forest, it can sometimes be difficult to pick the right
one. Among the more popular trees are true Firs (Noble and Grand), Pine and Douglas-firs. These trees have a more
“natural” look with than the intensively cultured trees that may come from a tree farm.</p>

<p>Let’s take a look at how to identify the recommended and prohibited tree species.</p>
<div class="tree-speci margin-bottom-4 usa-width-one-whole" *ngFor="let tree of forest.species | filter: 'status':'prohibited'">
  <hr>
  <span class="tree-name"><strong>{{ tree.name }}</strong></span> <span class="tree-status float-right usa-label {{ statusClass(tree.status) }}">{{ tree.status }}</span>
  <div class="tree-description">
    <div class="usa-width-two-thirds">
      <ul *ngFor="let note of tree.notes">
        <li>{{note}}</li>
      </ul>
    </div>
    <div class="usa-width-one-third">
      <img src="/assets/img/{{ tree.name | SpacesToDashes }}.jpg" alt="{{ tree.name }}" />
    </div>
  </div>
</div>
<div class="tree-speci margin-bottom-4 usa-width-one-whole" *ngFor="let tree of forest.species | filter: 'status':'recommended'">
  <hr>
  <span class="tree-name"><strong>{{ tree.name }}</strong></span> <span class="tree-status float-right usa-label {{ statusClass(tree.status) }}">{{ tree.status }}</span>
  <div class="tree-description">
    <div class="usa-width-two-thirds">
      <ul *ngFor="let note of tree.notes">
        <li>{{note}}</li>
      </ul>
    </div>
    <div class="usa-width-one-third">
      <img src="/assets/img/{{ tree.name | SpacesToDashes }}.jpg" alt="{{ tree.name }}" />
    </div>
  </div>
</div>
<div class="tree-speci margin-bottom-4 usa-width-one-whole" *ngFor="let tree of forest.species | filter: 'status':'not recommended'">
  <hr>
  <span class="tree-name"><strong>{{ tree.name }}</strong></span> <span class="tree-status float-right usa-label {{ statusClass(tree.status) }}">{{ tree.status }}</span>
  <div class="tree-description">
    <div class="usa-width-two-thirds">
      <ul *ngFor="let note of tree.notes">
        <li>{{note}}</li>
      </ul>
    </div>
    <div class="usa-width-one-third">
      <img src="/assets/img/{{ tree.name | SpacesToDashes }}.jpg" alt="{{ tree.name }}" />
    </div>
  </div>
</div>
