/** component level scss **/
.application-view {
  .usa-width-one-third {
    padding-top: 2em;
  }
  h1 {
    font-size: 32px;
    margin-bottom: 2em;
  }
  h2 {
    font-size: 22px;
  }
  .app-item {
    margin-bottom: 2em;
    .app-item-label {
      margin-bottom: 0;
      margin-top: 0;
      font-size: 18px;
    }
    .app-item-value {
      margin-bottom: 0;
      margin-top: 0;
      &.large {
        font-size: 24px;
      }
      ul {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        li {
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}

.app-ctas {
  text-align: center;
  .app-cta {
    width: 80%;
    @media(min-width: 600px) {
      width: 300px;
    }
  }
}
