/** component level scss **/
.application-view {
  .usa-width-one-third {
    padding-top: 2em;
  }
  h1 {
    font-size: 32px;
    margin-bottom: 2em;
  }
  h2 {
    font-size: 22px;
  }
  .app-item {
    margin-bottom: 2em;
    .app-item-label {
      margin-bottom: 0;
      margin-top: 0;
      font-size: 18px;
    }
    .app-item-value {
      margin-bottom: 0;
      margin-top: 0;
      &.large {
        font-size: 24px;
      }
      ul {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        li {
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}

.app-ctas {
  background: white;
  bottom: 0;
  box-shadow: 0px -10px 20px #999;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1000;
  &.fixed {
    position: fixed;
  }
  .app-cta {
    width: 80%;
    @media(min-width: 600px) {
      width: 300px;
    }
  }
}

.usa-section {
  padding-bottom: 0 !important;
}
