<section class="usa-section">
    <div class="usa-grid no-padding">
      <div class="usa-width-one-whole breadcrumbs">
        <a routerLink="/admin/applications">Noncommercial group use applications</a> > <span>{{ application.eventName }}</span>
      </div>
    </div>
    <div class="usa-grid thin-grey-shadow no-padding application-view">
      <div class="usa-width-one-third white-background padded-background centered">
        <h1>{{ application.eventName}}</h1>
        <div class="app-item">
          <h2 class="app-item-label">Primary Permit Holder:</h2>
          <p class="app-item-value large">{{ application.applicantInfo.primaryFirstName }} {{ application.applicantInfo.primaryLast }}</p>
        </div>
        <div class="app-item" *ngIf="application.applicantInfo.organizationName">
          <h2 class="app-item-label">Organization</h2>
          <p class="app-item-value large">{{ application.applicantInfo.organizationName }}</p>
        </div>
        <div class="app-item">
          <h2 class="app-item-label">Email:</h2>
          <p class="app-item-value large">{{ application.applicantInfo.emailAddress }}</p>
        </div>
        <div class="app-item" *ngIf="application.applicantInfo.dayPhone">
          <h2 class="app-item-label">Phone:</h2>
          <p class="app-item-value large">{{ application.applicantInfo.dayPhone.areaCode }}-{{ application.applicantInfo.dayPhone.prefix }}-{{ application.applicantInfo.dayPhone.number }}</p>
        </div>

        <div class="app-item">
          <div class="button_wrapper">
            <button class="usa-button-outline green">Edit</button>
          </div>
        </div>

      </div>
      <div class="usa-width-one-third">
        <h2>Event Details</h2>
        <div class="app-item">
          <h3 class="app-item-label">Start Date:</h3>
          <p class="app-item-value">
            {{ application.noncommercialFields.startMonth|date: 'MMM' }}
            {{ application.noncommercialFields.startDay }},
            {{ application.noncommercialFields.startYear }},
            {{ application.noncommercialFields.startHour }}:{{ application.noncommercialFields.startMinutes }}
            {{ application.noncommercialFields.startPeriod }}
          </p>
          <h3 class="app-item-label">End Date:</h3>
          <p class="app-item-value">
            {{ application.noncommercialFields.endMonth|date: 'MMM' }}
            {{ application.noncommercialFields.endDay }},
            {{ application.noncommercialFields.endYear }},
            {{ application.noncommercialFields.endHour }}:{{ application.noncommercialFields.endMinutes }}
            {{ application.noncommercialFields.endPeriod }}
          </p>
        </div>
        <div class="app-item">
          <h3 class="app-item-label">Location:</h3>
          <p class="app-item-value">{{ application.noncommercialFields.locationDescription }}</p>
        </div>
        <div class="app-item">
          <h3 class="app-item-label">Description</h3>
          <p class="app-item-value">{{ application.noncommercialFields.activityDescription }}</p>
        </div>
        <div class="app-item">
          <h3 class="app-item-label">Number Attending</h3>
          <p class="app-item-value">{{ application.noncommercialFields.numberParticipants }}</p>
        </div>
        <div class="app-item">
          <h3 class="app-item-label"><i class="fa fa-check" aria-hidden="true"></i> Electronic Signature</h3>
        </div>
      </div>
      <div class="usa-width-one-third">
        <h2>Primary Permit Holder</h2>
        <div *ngIf="application.applicantInfo.organizationName" class="app-item">
          <div class="app-item-value">
            <ul *ngIf="application.applicantInfo.organizationAddress">
              <li>{{ application.applicantInfo.organizationName }}</li>
              <li>{{ application.applicantInfo.organizationAddress.mailingAddress }}</li>
              <li *ngIf="application.applicantInfo.organizationAddress.mailingAddress2">
                {{ application.applicantInfo.organizationAddress.mailingAddress2 }}
              </li>
              <li>{{ application.applicantInfo.organizationAddress.mailingCity }}, {{ application.applicantInfo.organizationAddress.mailingState }} {{ application.applicantInfo.organizationAddress.mailingZIP }}</li>
            </ul>
          </div>
        </div>
        <div class="app-item">
          <div class="app-item-value">
            <ul *ngIf="!application.applicantInfo.primaryAddress">
              <li>{{ application.applicantInfo.primaryFirstName }} {{ application.applicantInfo.primaryLastName }}</li>
            </ul>
            <ul *ngIf="application.applicantInfo.primaryAddress">
              <li>{{ application.applicantInfo.primaryFirstName }} {{ application.applicantInfo.primaryLastName }}</li>
              <li>{{ application.applicantInfo.primaryAddress.mailingAddress }}</li>
              <li *ngIf="application.applicantInfo.primaryAddress.mailingAddress2">
                {{ application.applicantInfo.primaryAddress.mailingAddress2 }}
              </li>
              <li>{{ application.applicantInfo.primaryAddress.mailingCity }}, {{ application.applicantInfo.primaryAddress.mailingState }} {{ application.applicantInfo.primaryAddress.mailingZIP }}</li>
            </ul>
            <ul>
              <li><a href="mailto:{{ application.applicantInfo.emailAddress }}">{{ application.applicantInfo.emailAddress }}</a></li>
              <li>{{ application.applicantInfo.dayPhone.areaCode }}-{{ application.applicantInfo.dayPhone.prefix }}-{{ application.applicantInfo.dayPhone.number }}</li>
            </ul>
          </div>
        </div>
        <div *ngIf="application.applicantInfo.secondaryFirstName" class="app-item">
          <h2>Secondary Permit Holder</h2>
          <div class="app-item-value">
            <ul *ngIf="!application.applicantInfo.secondaryAddress">
              <li>{{ application.applicantInfo.secondaryFirstName }} {{ application.applicantInfo.secondaryLastName }}</li>
            </ul>
            <ul *ngIf="application.applicantInfo.secondaryAddress">
              <li>{{ application.applicantInfo.secondaryFirstName }} {{ application.applicantInfo.secondaryLastName }}</li>
              <li>{{ application.applicantInfo.secondaryAddress.mailingAddress }}</li>
              <li *ngIf="application.applicantInfo.secondaryAddress.mailingAddress2">
                {{ application.applicantInfo.secondaryAddress.mailingAddress2 }}
              </li>
              <li>{{ application.applicantInfo.secondaryAddress.mailingCity }}, {{ application.applicantInfo.secondaryAddress.mailingState }} {{ application.applicantInfo.secondaryAddress.mailingZIP }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="app-ctas">
      <button id="accept-application-btn" class="usa-button fs-button-green app-cta" name="Accept" (click)="updateApplicationStatus(application, 'Accepted')">Accept</button>
      <button id="hold-application-btn" class="usa-button-secondary app-cta" name="Hold" (click)="updateApplicationStatus(application, 'Hold')">Hold</button>
      <button id="return-application-btn" class="usa-button app-cta" name="Return"(click)="updateApplicationStatus(application, 'Returned')">Return</button>
    </div>
</section>
