<section id="application" class="usa-section">
  <div class="usa-grid">
    <app-temp-outfitter-left-nav class="usa-width-one-third"
      [applicationForm]="applicationForm" [currentSection]="currentSection"></app-temp-outfitter-left-nav>
    <div class="usa-width-two-thirds temp-outfitter-main-content">

      <h1 id="skip-nav-target" tabindex="-1">Apply for a temporary outfitters permit.</h1>
      <h2>{{forest}}</h2>

      <app-api-error *ngIf="apiErrors" [errors]="apiErrors"></app-api-error>

      <form class="usa-form-large" [formGroup]="applicationForm" (ngSubmit)="onSubmit()" novalidate>

        <p class="form-directions">All form fields are required unless otherwise noted.</p>

        <div id="form-errors"
          *ngIf="(submitted && !applicationForm.valid) || dateStatus.hasErrors || invalidFileUpload"
          class="usa-alert usa-alert-error" aria-live="assertive" aria-hidden="false" role="alert">
          <div class="usa-alert-body">
            <h3 class="usa-alert-heading">There are errors in your application.</h3>
            <p class="usa-alert-text">Please correct the errors before submitting.</p>
          </div>
        </div>

        <fieldset id="section-applicant-info" tabindex="-1"
          in-viewport
          [inViewportOptions]="{ partial: true}"
          (inViewportAction)="elementInView($event)">
          <legend>Applicant information</legend>

          <app-permit-holder-name [applicantInfo]="applicationForm.controls.applicantInfo"
            type="primary" name="Applicant"></app-permit-holder-name>
          <app-organization-name [applicantInfo]="applicationForm.controls.applicantInfo" name="Business name (optional)"></app-organization-name>
          <app-address [parentForm]="applicationForm.get('applicantInfo')" formName="primaryAddress" type="primary-permit-holder"></app-address>
          <app-phone-number [parentForm]="applicationForm.get('applicantInfo')" name="Telephone number"></app-phone-number>
          <app-fax [parentForm]="applicationForm.get('applicantInfo')" name="Fax number"></app-fax>
          <app-email [applicantInfo]="applicationForm.controls.applicantInfo"></app-email>
          <app-website [applicantInfo]="applicationForm.controls.applicantInfo" (blurWebsite)="matchUrls()"></app-website>

          <app-org-type [applicantInfo]="applicationForm.controls.applicantInfo" type="complex"></app-org-type>

          <div *ngIf="applicationForm.get('applicantInfo.orgType').value === 'Person'"
            [formGroup]="applicationForm.controls.tempOutfitterFields">
            <input id="individual-citizen" type="checkbox" formControlName="individualIsCitizen" />
            <label id="individual-citizen-label" class="usa-input" for="individual-citizen">Are you a citizen of the United States?</label>
          </div>

          <div id="good-standing-evidence-wrapper" class="usa-file-upload-wrapper" *ngIf="orgTypeFileUpload">
            <h3 id="good-standing-evidence-label">{{ goodStandingEvidenceMessage }}</h3>
            <p>File must be in .pdf, .doc, .docx., or .rtf format, and less than 25MB.</p>
            <app-file-upload-field name="{{goodStandingEvidenceMessage}}" type="good-standing-evidence" [uploadFiles]="uploadFiles"
              [applicationId]="applicationId"
              [checkFileUploadHasError]="submitted"
              [field]="applicationForm.controls.applicantInfo.controls.goodStandingEvidence"
              [required]="!applicationForm.controls.applicantInfo.controls.goodStandingEvidence.value"></app-file-upload-field>
          </div>

          <app-small-business [tempOutfitterFields]="applicationForm.controls.tempOutfitterFields"></app-small-business>

        </fieldset>

        <app-activity-description id="section-activity-description" tabindex="-1"
          [parentForm]="applicationForm.get('tempOutfitterFields')"
          [pointOfView]="pointOfView"
          (updateRootDateStatus)="updateDateStatus($event)"
          in-viewport
          [inViewportOptions]="{ partial: true}"
          (inViewportAction)="elementInView($event)">></app-activity-description>

        <app-advertising id="section-advertising" tabindex="-1"
          [tempOutfitterFields]="applicationForm.controls.tempOutfitterFields"
          in-viewport
          [inViewportOptions]="{ partial: true}"
          (inViewportAction)="elementInView($event)"></app-advertising>

        <app-client-charges id="section-client-charges" tabindex="-1"
          [tempOutfitterFields]="applicationForm.controls.tempOutfitterFields"
          in-viewport
          [inViewportOptions]="{ partial: true}"
          (inViewportAction)="elementInView($event)"></app-client-charges>

        <fieldset id="section-guide-identification" tabindex="-1"
          in-viewport
          [inViewportOptions]="{ partial: true}"
          (inViewportAction)="elementInView($event)">
          <legend id="guide-document-label">Guide identification (optional)</legend>
          <ul>
            <li>Include a list of all guides who will be working under the permit.</li>
            <li>Include relevant licensing information if applicable.</li>
            <li>Describe your requirements for employment and staff training programs.</li>
            <li>Include applicable certifications for guides and their expiration dates.</li>
            <li>Please do not enter social security or passport numbers.</li>
            <li>Include driver license numbers only if driving is part of the outfitting and guiding service.</li>
          </ul>
          <p>These guide identification details are not required to apply, but will be required before your application is approved.</p>
          <p>If needed, <a href="/assets/files/guide-identification-template.xlsx" target="_blank">click here to download a guide identification template</a>.</p>

          <p>File must be in .xls, .xlsx, .pdf, .doc, .docx., or .rtf format, and less than 25MB.</p>
          <app-file-upload-field name="Guide document" type="guide-document"
            [uploadFiles]="uploadFiles"
            [applicationId]="applicationId"
            [checkFileUploadHasError]="submitted"
            [field]="applicationForm.controls.guideIdentification"
            allowXls="true"
            ></app-file-upload-field>

        </fieldset>

        <fieldset id="section-operating-plan" tabindex="-1"
          in-viewport
          [inViewportOptions]="{ partial: true}"
          (inViewportAction)="elementInView($event)">
          <legend id="operating-plan-label">Operating plan (optional)</legend>

          <p>An operating plan addresses client and visitor safety, evacuation and emergency procedures, and resource protection with respect to your proposed operations and location.</p>
          <p>An operating plan is not required to apply, but will be required before your application is approved.</p>
          <p>If needed, <a href="/assets/files/operating-plan-template.docx" target="_blank">click here to download an operating plan template</a>.</p>
          <p>File must be in .pdf, .doc, .docx., or .rtf format, and less than 25MB.</p>
          <app-file-upload-field name="Operating plan" type="operating-plan"
            [uploadFiles]="uploadFiles"
            [applicationId]="applicationId"
            [checkFileUploadHasError]="submitted"
            [field]="applicationForm.controls.operatingPlan"></app-file-upload-field>
        </fieldset>

        <fieldset id="section-liability-insurance" tabindex="-1"
          in-viewport
          [inViewportOptions]="{ partial: true}"
          (inViewportAction)="elementInView($event)">
          <legend id="insurance-certificate-label">Liability insurance</legend>

          <p>The permit holder will be required to obtain liability insurance in an amount satisfactory to the authorized officer (<a href="https://www.fs.usda.gov/Internet/FSE_DOCUMENTS/stelprdb5295497.pdf" target="_blank">see FSM 2713.1</a>).  The insurance policy must name the United States as an additional insured entity.  A copy of the certificate of insurance must be provided to the authorized officer prior to issuance of a permit.</p>
          <p>File must be in .pdf, .doc, .docx., or .rtf format, and less than 25MB.</p>
          <app-file-upload-field name="Liability insurance" type="insurance-certificate"
            [uploadFiles]="uploadFiles"
            [applicationId]="applicationId"
            [required]="!applicationForm.controls.liabilityInsurance.value"
            [checkFileUploadHasError]="submitted"
            [field]="applicationForm.controls.liabilityInsurance"></app-file-upload-field>
        </fieldset>

        <fieldset id="section-acknowledgement-of-risk" tabindex="-1"
          in-viewport
          [inViewportOptions]="{ partial: true}"
          (inViewportAction)="elementInView($event)">
          <legend id="acknowledgement-of-risk-form-label">Client's acknowledgement of risk form (optional)</legend>

          <p>If your clients are required to sign an acknowledgement of risk form, you will need to provide a copy before your application can be approved.</p>
          <p>File must be in .pdf, .doc, .docx., or .rtf format, and less than 25MB.</p>
          <app-file-upload-field name="Client's acknowledgement of risk form" type="acknowledgement-of-risk-form"
            [uploadFiles]="uploadFiles"
            [applicationId]="applicationId"
            [checkFileUploadHasError]="submitted"
            [field]="applicationForm.controls.acknowledgementOfRisk"></app-file-upload-field>
        </fieldset>

        <app-experience id="section-experience" tabindex="-1"
          [parentForm]="applicationForm.get('tempOutfitterFields')"
          [pointOfView]="pointOfView"
          in-viewport
          [inViewportOptions]="{ partial: true}"
          (inViewportAction)="elementInView($event)"></app-experience>

        <fieldset id="section-signature" tabindex="-1"
          in-viewport
          [inViewportOptions]="{ partial: true}"
          (inViewportAction)="elementInView($event)">
          <legend>Signature</legend>
          <p id="signature-hint-text">I hereby certify that I am of legal age and am authorized to do business in the State or Commonwealth of Washington.  I have personally examined the information contained in this application and certify that this information is correct to the best of my knowledge.  I hereby acknowledge that this is an application only, and that the use and occupancy of National Forest System lands is not authorized until a special use permit is signed and issued by an authorized officer.</p>
          <label id="signature-label" class="usa-input">Please sign your application by typing your initials here.</label>

          <input id="signature" type="text" minlength="2" maxlength="3" formControlName="signature" aria-required="true"
            [attr.aria-labelledby]="applicationFieldsService.labelledBy(applicationForm.controls.signature, 'signature-label signature-hint-text', 'signature-error')"
            [attr.aria-invalid]="applicationFieldsService.hasError(applicationForm.controls.signature)"
          />
          <app-error-message fieldId="signature-error" name="Signature" [control]="applicationForm.controls.signature"></app-error-message>
        </fieldset>

        <button *ngIf="!applicationFieldsService.getEditApplication()" id="submit-application" class="usa-button-primary-alt usa-button-big" type="submit">Submit your application.</button>
        <a *ngIf="applicationFieldsService.getEditApplication()" class="usa-button usa-button-secondary-alt usa-button-big" routerLink="/user/applications/temp-outfitter/{{applicationForm.controls.appControlNumber.value}}">Cancel</a>
        <button *ngIf="applicationFieldsService.getEditApplication()" id="save-application" class="usa-button-primary-alt usa-button-big save-button" type="submit">Save</button>

      </form>

    </div>
  </div>
</section>
<app-progress *ngIf="showFileUploadProgress" message="Submitting your application." [numberOfFiles]="numberOfFiles" [fileUploadProgress]="fileUploadProgress" [fileUploadError]="fileUploadError" (retryFileUpload)="retryFileUpload($event)"></app-progress>
