<section id="sidebar-page" class="usa-section usa-content">
  <div class="usa-grid">
    <aside class="usa-width-one-third usa-layout-docs-sidenav">
      <app-sidebar [items]="items"></app-sidebar>
    </aside>
    <div class="usa-width-two-thirds sidebar-page-main-content">
      <h1 id="skip-nav-target" tabindex="-1">Temporary outfitters permit information</h1>
      <p>If you charge a fee for someone to participate in a service that you are providing or otherwise stand to gain from providing that service, you generally need a permit.
         This includes non-profit organizations.</p>
      <p><a href="https://www.fs.usda.gov/detail/mbs/passes-permits/event-commercial/?cid=stelprdb5295777">See definitions</a> for “Commercial Use”, “Guiding”, “Outfitting”.</p>
      <ng-container *ngFor="let item of items">
        <app-section-heading [heading]="item.sectionName" [elementId]="util.createId(item.sectionName)"></app-section-heading>
        <div [innerHtml]="item.sectionCopy"></div>
      </ng-container>
      <app-button link="/applications/temp-outfitters/new" buttonText="Temp outfitter's permit" btnAlt="true"></app-button>
      <hr class="light margin-top-1 margin-bottom-1">
      <a routerLink="/" class="display-block">Return to Open Forest homepage</a>
    </div>
  </div>
</section>
