<aside role="navigation" aria-label="left" class="sidebar-container">
  &nbsp;
  <ul id="sidebar-nav" class="usa-sidenav-list" [style.bottom]="bottom" [style.top]="top" [style.position]="position">
    <li [ngClass]="getGroupStatus(applicationForm.controls.applicantInfo, applicantInfoErrors)">
      <a id="nav-applicant-information" href="#" (click)="gotoHashtag('section-applicant-information', $event)"
        [ngClass]="{'usa-current': currentSection === 'section-applicant-information'}"
        [attr.aria-current]="currentSection === 'section-applicant-information' ? 'step' : null"
        >
        STEP 1: Applicant information
        <span class="status-icon valid" *ngIf="getGroupStatus(applicationForm.controls.applicantInfo, applicantInfoErrors) === 'ng-valid'">
          <img src="/assets/img/site-wide/checkmark.svg" alt="Section applicant info is valid" />
        </span>
        <span class="status-icon invalid" *ngIf="getGroupStatus(applicationForm.controls.applicantInfo, applicantInfoErrors) === 'ng-invalid'">
          <img src="/assets/img/site-wide/error-icon.svg" alt="Section applicant info is invalid" />
        </span>
      </a>
    </li>
    <li [ngClass]="getEventGroupStatus(applicationForm, eventDetailsErrors)">
      <a href="#" (click)="gotoHashtag('section-event-details', $event)"
        [ngClass]="{'usa-current': currentSection === 'section-event-details'}"
        [attr.aria-current]="currentSection === 'section-event-details' ? 'step' : null"
        >
        STEP 2: Event Details
        <span class="status-icon valid" *ngIf="getEventGroupStatus(applicationForm, eventDetailsErrors) === 'ng-valid'">
          <img src="/assets/img/site-wide/checkmark.svg" alt="Section description of proposed activity is valid" />
        </span>
        <span class="status-icon invalid" *ngIf="getEventGroupStatus(applicationForm, eventDetailsErrors) === 'ng-invalid'">
          <img src="/assets/img/site-wide/error-icon.svg" alt="Section description of proposed activity is invalid" />
        </span>
      </a>
    </li>
    <li [ngClass]="getControlStatus(applicationForm.controls.signature)">
      <a id="nav-signature" href="#" (click)="gotoHashtag('section-signature', $event)"
        [ngClass]="{'usa-current': currentSection === 'section-signature'}"
        [attr.aria-current]="currentSection === 'section-signature' ? 'step' : null"
        >
        STEP 3: Signature
        <span class="status-icon valid" *ngIf="getControlStatus(applicationForm.controls.signature) === 'ng-valid'">
          <img src="/assets/img/site-wide/checkmark.svg" alt="Signature is valid" />
        </span>
        <span class="status-icon invalid" *ngIf="getControlStatus(applicationForm.controls.signature) === 'ng-invalid'">
          <img src="/assets/img/site-wide/error-icon.svg" alt="Signature is invalid" />
        </span>
      </a>

    </li>
  </ul>
</aside>
