<section id="application" class="usa-section">
  <div class="usa-grid">
    <h1 id="skip-nav-target" tabindex="-1">Apply for a noncommercial group use permit.</h1>
    <h2>{{forest}}</h2>

    <app-api-error *ngIf="apiErrors" [errors]="apiErrors"></app-api-error>

    <form class="usa-form-large" [formGroup]="applicationForm" (ngSubmit)="onSubmit(applicationForm)" novalidate>
      <p class="form-directions">All form fields are required unless otherwise noted.</p>
      <legend>Application process</legend>
      <div>
        <ol>
          <li>Fill out and submit the application below.</li>
          <li>Once submitted, your application will go through a preliminary review within 48 hours.</li>
          <li>If additional information is needed following the preliminary review and acceptance, a representative of the National Forest Service will contact you via email.</li>
          <li>Once your application is approved, you will receive your permit within 2 weeks. If your application is not approved, you will be notified via email.</li>
        </ol>
      </div>

      <div id="form-errors" *ngIf="(submitted && !applicationForm.valid) || dateStatus.hasErrors" class="usa-alert usa-alert-error" aria-live="assertive" aria-hidden="false" role="alert">
        <div class="usa-alert-body">
          <h3 class="usa-alert-heading">There are errors in your application.</h3>
          <p class="usa-alert-text">Please correct the errors before submitting.</p>
        </div>
      </div>

      <fieldset>
        <legend>Applicant information</legend>

        <app-org-type [applicantInfo]="applicationForm.controls.applicantInfo" type="simple"></app-org-type>
        <div [hidden]="applicationForm.get('applicantInfo.orgType').value !== 'Person'">
          <app-permit-holder-name id="person-primary-name" [applicantInfo]="applicationForm.controls.applicantInfo" type="primary" name="Primary permit holder"></app-permit-holder-name>
          <app-address id="person-primary-address" [parentForm]="applicationForm.get('applicantInfo')" formName="primaryAddress" type="primary-permit-holder"></app-address>
        </div>

        <div [hidden]="applicationForm.get('applicantInfo.orgType').value !== 'Corporation'">
          <app-organization-name [applicantInfo]="applicationForm.controls.applicantInfo" required="true" name="Organization name"></app-organization-name>
          <app-address id="organization-address" [parentForm]="applicationForm.get('applicantInfo')" formName="organizationAddress" type="organization"></app-address>
        </div>

        <app-email [applicantInfo]="applicationForm.controls.applicantInfo"></app-email>
        <app-phone-number [parentForm]="applicationForm.get('applicantInfo')" name="Phone number"></app-phone-number>

        <div *ngIf="applicationForm.get('applicantInfo.orgType').value === 'Corporation'">
          <app-website [applicantInfo]="applicationForm.controls.applicantInfo"></app-website>
        </div>
      </fieldset>

      <fieldset *ngIf="applicationForm.get('applicantInfo.orgType').value === 'Corporation'">
        <legend>Primary permit holder</legend>
        <app-permit-holder-name id="organization-primary-name" [applicantInfo]="applicationForm.controls.applicantInfo" type="primary" name="Primary permit holder"></app-permit-holder-name>

        <ng-container formGroupName="applicantInfo">
          <input id="primary-permit-holder-same-address" formControlName="primaryAddressSameAsOrganization" type="checkbox" />
          <label id="primary-permit-holder-same-address-label" class="usa-input" for="primary-permit-holder-same-address">Permit holder address is same as organization address.</label>
        </ng-container>

        <div [hidden]="applicationForm.get('applicantInfo.primaryAddressSameAsOrganization').value">
          <app-address id="organization-primary-address" [parentForm]="applicationForm.get('applicantInfo')" formName="primaryAddress" type="primary-permit-holder"></app-address>
        </div>
      </fieldset>

      <ng-container formGroupName="applicantInfo">
        <input id="add-secondary-permit-holder" type="checkbox" formControlName="addSecondaryPermitHolder" />
        <label id="add-secondary-permit-holder-label" class="usa-input" for="add-secondary-permit-holder">Add secondary permit holder.</label>
        <p id="add-secondary-permit-holder-hint-text" class="help-text usa-form-hint">If there is an additional useful contact or a second significant user of the permit, please add their information.</p>
      </ng-container>

      <div [hidden]="!applicationForm.get('applicantInfo.addSecondaryPermitHolder').value">
          <app-permit-holder-name [applicantInfo]="applicationForm.controls.applicantInfo" type="secondary" name="Secondary permit holder"></app-permit-holder-name>

          <ng-container formGroupName="applicantInfo">
            <input id="secondary-permit-holder-same-address" type="checkbox" formControlName="secondaryAddressSameAsPrimary" type="checkbox" />
            <label id="secondary-permit-holder-same-address-label" *ngIf="applicationForm.get('applicantInfo.orgType').value === 'Person'" class="usa-input" for="secondary-permit-holder-same-address">Secondary permit holder address is same as primary permit holder address.</label>
            <label id="secondary-permit-holder-same-address-label" *ngIf="applicationForm.get('applicantInfo.orgType').value === 'Corporation'" class="usa-input" for="secondary-permit-holder-same-address">Secondary permit holder address is same as organization address.</label>
          </ng-container>

          <app-address
            [hidden]="applicationForm.get('applicantInfo.secondaryAddressSameAsPrimary').value"
            [parentForm]="applicationForm.get('applicantInfo')"
            formName="secondaryAddress"
            id="secondary-address"
            type="secondary-permit-holder">
          </app-address>

      </div>

      <hr />

      <fieldset>
        <legend>Event details</legend>

        <label id="name-label" class="usa-input">Event Name</label>
        <input id="name" formControlName="eventName" type="text" aria-required="true"
          [attr.aria-labelledby]="applicationFieldsService.labelledBy(applicationForm.controls.eventName, 'name-label', 'name-error')"
          [attr.aria-invalid]="applicationFieldsService.hasError(applicationForm.controls.eventName)"
        />
        <app-error-message fieldId="name-error" name="Event name" [control]="applicationForm.controls.eventName"></app-error-message>

        <app-noncommercial-fields [parentForm]="applicationForm"></app-noncommercial-fields>
        <app-date-time-range [parentForm]="applicationForm" (updateDateStatus)="updateDateStatus($event)"></app-date-time-range>
      </fieldset>

      <fieldset>
        <legend>Signature</legend>
        <label id="signature-label" class="usa-input">Please sign your application by typing your initials here.</label>
        <input id="signature" name="signature" type="text" minlength="2" maxlength="3" formControlName="signature" aria-required="true"
          [attr.aria-labelledby]="applicationFieldsService.labelledBy(applicationForm.controls.signature, 'signature-label signature-hint-text', 'signature-error')"
          [attr.aria-invalid]="applicationFieldsService.hasError(applicationForm.controls.signature)"
        />
        <app-error-message fieldId="signature-error" name="Signature" [control]="applicationForm.controls.signature"></app-error-message>
      </fieldset>

      <button *ngIf="!applicationFieldsService.getEditApplication()" id="submit-application" class="usa-button-primary-alt usa-button-big" type="submit">Submit your application.</button>
      <a *ngIf="applicationFieldsService.getEditApplication()" class="usa-button usa-button-secondary-alt usa-button-big" routerLink="/user/applications/noncommercial/{{application.appControlNumber}}">Cancel</a>
      <button *ngIf="applicationFieldsService.getEditApplication()" id="submit-application" class="usa-button-primary-alt usa-button-big save-button" type="submit">Save</button>

    </form>

  </div>
</section>
