<app-section-heading heading="Where to find firewood" id="firewood-locations" tabIndex="-1"></app-section-heading>
<h3>What kind of wood you can collect</h3>
<p>All dead and down trees may be gathered.
  <strong>Live trees may NOT be cut.</strong>
</p>
<p>Standing dead trees may be cut only if they are within 200 feet of a legal public road.</p>
<h3>Where you can cut</h3>
<p>Cutting and gather is only allowed on areas open to cutting and gathering on the firewood maps.</p>
<p>You can download a firemap below, or pick one up at one of <a>our district offices</a>.</p>
<!-- download a map -->
<h3>Download a firewood cutting map</h3>
<!-- maps -->
<h3>Prohibited areas and restrictions</h3>
<ul>
  <li>No cutting or gathering of dead and/or down wood will occur within 200 feet of any lake,
     pond, stream, or river within 200 feet of any recreation area.
   </li>
  <li>Live tree may NOT be cut.</li>
  <li>Standing dead trees may be cut only if they are within 200 feet of a legal public road.</li>
  <li>No gathering or harvesting of any dead trees identified by having pain marks at breast height and stump height or dead trees which have directional, trail, den tree, Animal Inn or land survey signs attached.</li>
</ul>
