<app-section-heading heading="Where to find firewood" id="firewood-locations" tabIndex="-1"></app-section-heading>

<!-- ipnf block -->
<div *ngIf="(forest.forestAbbr)=='ipnf'">
  <h3>What kind of wood you can collect</h3>
  <p>All dead and down trees may be gathered.
    <strong>Live trees may NOT be cut.</strong>
  </p>
  <p>Standing dead trees may be cut unless are</p>
  <ul>
    <li>Larch trees which may still be alive. Check the ground to see if needles have recently fallen. Check to see if the bark inside is tight. If it is, the tree is probably alive.</li>
    <li>Cedar trees. This wood is unsuitable for firewood.</li>
    <li>Pacific yew.</li>
    <li>Wildlife trees. Standing and down dead trees provide a source of food, nests, perches, and protective cover for many birds and mammals in the forest.
       Please don't cut trees with paint marks or signs, broken tops, trunk holes or visible nests.
    </li>
  </ul>
  <h3>Where you can cut</h3>
  <p>Cutting and gather is only allowed on areas open to cutting and gathering on the firewood maps.</p>
  <p>You can download a firemap below, or pick one up at one of <a>our district offices</a>.</p>
  <!-- download a map -->
  <h3>Download a firewood cutting map</h3>
  <p><a href="/assets/img/maps/ipnf_bonners_ferry.png">Bonners Ferry map</a></p>
  <p><a href="/assets/img/maps/ipnf_priest_lake.png">Priest Lake map</a></p>
  <p><a href="/assets/img/maps/ipnf_st_joe.png">St. Joe map</a></p>
  <!-- maps -->
  <h3>Prohibited areas and restrictions</h3>
  <ul>
    <li>No cutting or gathering of dead and/or down wood will occur within 150 feet of any running stream, pond,
       lake or marshy or wet area unless otherwise designated by the agency on whose land you wish to harvest firewood.
     </li>
    <li>Live tree may NOT be cut.</li>
    <li>Privately owned lands within the National Forests are often marked by signs and fences. Look at your Forest map to be sure you are not cutting on private land.</li>
    <li>No gathering or harvest of any dead trees identified by having paint marks. signs or tags.</li>
    <li>No gathering in all developed recreation areas, campgrounds, and wild and scenic river corridors.</li>
    <li>No gathering within active timber sale units or other areas signed or shown on the firewood gathering area map as being closed to firewood gathering.</li>
    <li>Trees or logs must NOT be felled or skidded across live streams, lakes or reservoirs. If a tree is accidentally felled into a waterway, leave the entire tree.</li>
  </ul>
</div>

<!-- flathead block -->
<div *ngIf="(forest.forestAbbr)=='flathead'">
  <p>All dead and down trees may be gathered.
    <strong>Live trees may NOT be cut.</strong>
  </p>
  <p>Six feet is the maximum piece length that may be removed.</p>
  <p>Standing dead trees may be cut unless are</p>
  <ul>
    <li>Larch trees which may still be alive. Check the ground to see if needles have recently fallen. Check to see if the bark inside is tight. If it is, the tree is probably alive.</li>
    <li>Cedar trees. This wood is unsuitable for firewood.</li>
    <li>Pacific yew.</li>
    <li>Wildlife trees. Standing and down dead trees provide a source of food, nests, perches, and protective cover for many birds and mammals in the forest.
       Please don't cut trees with paint marks or signs, broken tops, trunk holes or visible nests.
    </li>
  </ul>
  <p>Some wood burns hotter than others. Common types of trees in northwest Montana and their heat values in BTUs (BritishThermal Units) are listed below</p>
  <table>
    <tr>
      <th><strong>Tree Species</strong></th>
      <th><strong>BTUs *</strong></th>
    </tr>
    <tr>
      <td>W. Larch (Tamarack)</td>
      <td>22.3</td>
    </tr>
    <tr>
      <td>Douglas-fir (Red Fir)</td>
      <td>20.6</td>
    </tr>
    <tr>
      <td>Lodgepole Pine</td>
      <td>17.5</td>
    </tr>
    <tr>
      <td>Ponderosa Pine</td>
      <td>17.1</td>
    </tr>
    <tr>
      <td>Grand Fir (White Fir)</td>
      <td>16.7</td>
    </tr>
    <tr>
      <td>Spruce</td>
      <td>15.0</td>
    </tr>
    <tr>
      <td>Subalpine Fir</td>
      <td>13.6</td>
    </tr>
  </table>
  <h3>Where you can cut</h3>
  <p>When searching for firewood at the Flathead National Forests, be sure to use designated motorized roads and to be aware of seasonal road closures. Maps and travel publications are available online and at ranger district offices</p>
  <h3>General Rules</h3>
  <p>Firewood cutting is prohibited within 300 feet of rivers or lakes, and 150 feet within active streams, ponds or wetlands unless otherwise designated</p>
  <p>Live trees may NOT be cut.</p>
  <p><strong>Six feet</strong> is the <strong>maximum</strong> piece length that may be removed.</p>
  <p>Do not cut or remove cedar or Pacific yew.</p>
  <p>Do not cut or remove any trees or logs with signs, tags, or paint on them.</p>
  <p>Do not cut or remove firewood from developed recreation sites, campgrounds, or wild and scenic river corridors.</p>
  <p>Do not cut or remove firewood from active timber sale units or other areas designated (by maps or signs) as closed to firewood cutting.</p>
  <p>Do not cut or remove firewood from within 150 feet of any running stream,pond, lake, marshy or wet area. If a tree is accidentally felled into a waterway, leave the entire tree.</p>
  <p>Vehicles are restricted to roads. If winching, cable systems cannot be in excess of 100 feet.</p>
  <h3>Flathead Specific Rules</h3>
  <p>Firewood cutting or removal is prohibited in the Coram Experimental Forest, and on or adjacent to the following roads: Westside Hungry Horse Reservoir Rd #895 from the intersection of Hwy 2 to Lid Creek Campground, Tally Lake Rd #913 (entire length), and Sheppard Creek Rd #113 from the junction of Rd #539 to the junction of Rd #5388.</p>
  <p>Firewood cutting is prohibited within 300 feet of rivers or lakes, and 150 feet within active streams, ponds or wetlands unless otherwise designated.</p>
  <p>From 11/1 to 5/31 Larch Trees cannot be cut unless they are dead, with loose buckskin bark.</p>
</div>

<!-- conf block -->
<div *ngIf="(forest.forestAbbr)=='conf'">
  <h3>What kind of wood you can collect</h3>
  <p>All dead and down trees may be gathered.
    <strong>Live trees may NOT be cut.</strong>
  </p>
  <h3>Where you can gather</h3>
  <p>When searching for firewood at the Chattahoochee-Oconee National Forest, be sure to use designated motorized roads and to be aware of seasonal road closures.</p>
  <p><a href='https://www.fs.usda.gov/main/conf/maps-pubs'>Maps and travel publications</a> are available online and at ranger district offices.</p>
  <!-- download a map -->
  <!-- maps -->
  <h3 id="prohibited">Prohibited areas and restrictions</h3>
  <ul>
    <li>No gathering of dead and/or down wood will occur within 150 feet of any running stream, pond, lake or marshy or wet area unless otherwise designated by the agency on whose land you wish to harvest firewood.</li>
    <li>Live trees may NOT be cut.</li>
    <li>Privately owned lands within the National Forests are often marked by signs and fences. Look at your Forest map to be sure you are not cutting on private land.</li>
    <li>No gathering any dead trees identified by having paint marks. signs or tags.</li>
    <li>No gathering in all developed recreation areas, campgrounds, and wild and scenic river corridors.</li>
    <li>No gathering within active timber sale units or other areas signed or shown on the firewood gathering area map as being closed to firewood gathering.</li>
  </ul>

  <h3>How to gather your firewood</h3>
  <p>How much wood can be gathered? 4 cords/$20 minimum purchase</p>
  <p>Firewood is commonly measured in cords. A standard cord is the amount of lightly stacked wood 4 feet wide by 4 feet high by 8 feet long.</p>
  <p>Always wear proper clothing with PPE and safely operate equipment.</p>
</div>

<!-- gwj block -->
<div *ngIf="(forest.forestAbbr)=='gwj'">
  <h3>What kind of wood you can collect</h3>
  <p><strong>Live trees may NOT be cut</strong></p>
  <p>All dead and down trees may be gathered. Dead standing trees must be 100% dead. A dead tree has no branches with green leaves or live bud. A dead tree will have bard that is dried out and partly or completely fallen off the main trunk</p>
  <h3>Where you can cut</h3>
  <p>When searching for firewood at the George Washington & Jefferson National Forests, be sure to use designated motorized roads and to be aware of seasonal road closures. <a href="https://www.fs.usda.gov/main/gwj/maps-pubs">Maps and travel publications</a> are available online and at ranger district offices.</p>
  <p>If you have questions about specific areas, contact your ranger district office.</p>
  <p>Where can I drive my vehicle to get the wood?</p>
  <p>Vehicles will ONLY be operated on open Forest Service roads UNLESS otherwise posted for travel to firewood areas. Cross-country driving is ILLEGAL and WILL BE PROSECUTED. Designated Forest Service roads are identified in the Motor Vehicle Use Map found at <a href="www.fs.usda.gov/gwj">www.fs.usda.gov/gwj</a>.</p>
  <h3 id="prohibited">Prohibited areas and restrictions</h3>
    <ul>
      <li>No cutting or gathering of dead and/or down wood will occur within 150 feet of any running stream, pond, lake or marshy or wet area.</li>
      <li>No live or dead burl wood may be cut or removed with this permit.</li>
      <li>Privately owned lands within the National Forests are often marked by signs and fences. </li>
      <li>No gathering or harvest of any dead trees identified by having paint marks, signs or tags.</li>
      <li>No gathering in all developed recreation areas, campgrounds, National Forest Wilderness Areas, or where specifically prohibited by posted signs "NO FIREWOOD GATHERING ALLOWED".</li>
      <li>No gathering within active timber sale units or other areas signed or shown as being closed to firewood gathering.</li>
      <li>Trees or logs must NOT be felled or skidded across live streams, lakes or reservoirs. If a tree is accidentally felled into a waterway, leave the entire tree.</li>
    </ul>
</div>

<!-- shoshone block -->
<div *ngIf="(forest.forestAbbr)=='shoshone'">
  <h3>What kind of wood you can collect</h3>
  <p><strong>Live trees may NOT be cut</strong></p>
  <p>Only dead trees, either down or standing may be cut. A dead tree is one with no green needles.</p>
  <p>Disease or beetle-killed trees must be all brown or red-needled to be considered dead.</p>
  <h3>Where you can cut</h3>
  <p>When searching for firewood at the Shoshone National Forest, be sure to use designated motorized roads and to be aware of seasonal road closures. <a href="https://www.fs.usda.gov/main/shoshone/maps-pubs">Maps and travel publications</a> are available online and at ranger district offices.</p>
  <p>If you have questions about specific areas, contact your ranger district office.</p>
  <p>Where can I drive my vehicle (This includes ATV'S, motorcycles, bicycles, etc.) to get the wood?</p>
  <p>The permittee is authorized to park a motor vehicle within 300 feet of roads shown open to motorized vehicles on the current Shoshone Motor Vehicle Use Map for the purpose of cutting firewood, when it can be done without damage to resources. If you have any questions, refer to the Motor Vehicle Use Map or contact a ranger district office in Lander, Dubois, or Cody.Obey all seasonal road and area closures as signed.Permittee parking shall not block traffic or impede fire or emergency vehicle.</p>
  <h3 id="prohibited">Prohibited areas and restrictions</h3>
    <ul>
      <li>Live trees may NOT be cut.</li>
      <li>There are private and State of Wyoming in-holdings within Shoshone National Forest boundaries that are closed to firewood cutting. <strong>It is your responsibility to know where you are cutting.</strong></li>
      <li>No gathering or harvest of any dead trees identified by having paint marks. signs or tags.</li>
      <li>Wilderness and research natural areas are closed to cutting.</li>
      <li>No cutting is allowed within 300 feet of campgrounds, lodges, resorts, recreation areas, work centers, or ranger stations.</li>
      <li>Timber sale areas posted with <strong>No Firewood Cutting</strong> signs are closed to cutting.</li>
      <li>Other areas posted <strong>Closed to Firewood Cutting.</strong></li>
    </ul>
</div>

<!-- Hiawatha block -->
<div *ngIf="(forest.forestAbbr)=='Hiawatha'">
<h3>What kind of wood you can collect</h3>
<p>All dead and down trees may be gathered. Live trees may NOT be cut.</p>
<p>Standing dead trees may be cut within 100 feet of Forest Service Roads open to all vehicles.</p>
<p>NO CEDAR TREE may be cut under this permit, unless specified in Remarks.</p>
<h3>Where you can cut</h3>
<p>Cutting and gathering is only allowed on areas open to cutting or gathering on the firewood maps.</p>
<p>You can download a firewood map below, or pick one up at one of our district offices.</p>
<p>Download a firewood cutting map:</p>
<p><a href="/assets/img/maps/Hiawatha_ClosedAreaMapEastside.png">East Side Map</a></p>
<p><a href="/assets/img/maps/Hiawath_WestSide.png">West Zone Map</a></p>
<p>East Side Map</p>
<p>West Zone Map</p>
<h3 id="prohibited">Prohibited areas and restrictions</h3>
    <ul>
      <li>No firewood products may be cut within 100 feet of ponds, rivers, lakes, or streams.</li>
      <li>Under this permit, <mark>Firewood may not be gathered in designated Wilderness Areas, Research Natural Areas, all Developed Recreation sites, campgrounds, Dukes Upper Peninsula Experimental Forest, or other posted areas.</mark></li>
      <li>Gathering in timber sale areas is prohibited.  Timber Sales are normally marked with paint and may have indications of active or recent logging activities. Some collection may be allowed in closed timber sales. Please contact the District Office in your area.</li>
      <li>Permittees are not authorized to construct roads or trails to cut or gather firewood.</li>
      <li>No gathering or harvest of any dead trees identified by having paint marks, signs, or tags.</li>
      <li>Live trees may NOT be cut.</li>
    </ul>
</div>
