<app-section-heading heading="Where to find firewood" id="firewood-locations" tabIndex="-1"></app-section-heading>
<h3>What kind of wood you can collect</h3>

<!-- ipnf block -->
<div *ngIf="(forest.forestAbbr)=='ipnf'">
  <p>All dead and down trees may be gathered.
    <strong>Live trees may NOT be cut.</strong>
  </p>
  <p>Standing dead trees may be cut unless are</p>
  <ul>
    <li>Larch trees which may still be alive. Check the ground to see if needles have recently fallen. Check to see if the bark inside is tight. If it is, the tree is probably alive.</li>
    <li>Cedar trees. This wood is unsuitable for firewood.</li>
    <li>Pacific yew.</li>
    <li>Wildlife trees. Standing and down dead trees provide a source of food, nests, perches, and protective cover for many birds and mammals in the forest.
       Please don't cut trees with paint marks or signs, broken tops, trunk holes or visible nests.
    </li>
  </ul>
  <h3>Where you can cut</h3>
  <p>Cutting and gather is only allowed on areas open to cutting and gathering on the firewood maps.</p>
  <p>You can download a firemap below, or pick one up at one of <a>our district offices</a>.</p>
  <!-- download a map -->
  <h3>Download a firewood cutting map</h3>
  <!-- maps -->
  <h3>Prohibited areas and restrictions</h3>
  <ul>
    <li>No cutting or gathering of dead and/or down wood will occur within 200 feet of any lake,
       pond, stream, or river within 200 feet of any recreation area.
     </li>
    <li>Live tree may NOT be cut.</li>
    <li>Standing dead trees may be cut only if they are within 200 feet of a legal public road.</li>
    <li>No gathering or harvesting of any dead trees identified by having pain marks at breast height and stump height or dead trees which have directional, trail, den tree, Animal Inn or land survey signs attached.</li>
  </ul>
</div>

<!-- flathead block -->
<div *ngIf="(forest.forestAbbr)=='flathead'">
  <p>All dead and down trees may be gathered.
    <strong>Live trees may NOT be cut.</strong>
  </p>
  <p>Six feet is the maximum piece length that may be removed.</p>
  <p>Standing dead trees may be cut unless are</p>
  <ul>
    <li>Larch trees which may still be alive. Check the ground to see if needles have recently fallen. Check to see if the bark inside is tight. If it is, the tree is probably alive.</li>
    <li>Cedar trees. This wood is unsuitable for firewood.</li>
    <li>Pacific yew.</li>
    <li>Wildlife trees. Standing and down dead trees provide a source of food, nests, perches, and protective cover for many birds and mammals in the forest.
       Please don't cut trees with paint marks or signs, broken tops, trunk holes or visible nests.
    </li>
  </ul>
  <p>Some wood burns hotter than others. Common types of trees in northwest Montana and their heat values in BTUs (BritishThermal Units) are listed below</p>
  <table>
    <tr>
      <th><strong>Tree Species</strong></th>
      <th><strong>BTUs *</strong></th>
    </tr>
    <tr>
      <td>W. Larch (Tamarack)</td>
      <td>22.3</td>
    </tr>
    <tr>
      <td>Douglas-fir (Red Fir)</td>
      <td>20.6</td>
    </tr>
    <tr>
      <td>Lodgepole Pine</td>
      <td>17.5</td>
    </tr>
    <tr>
      <td>Ponderosa Pine</td>
      <td>17.1</td>
    </tr>
    <tr>
      <td>Grand Fir (White Fir)</td>
      <td>16.7</td>
    </tr>
    <tr>
      <td>Spruce</td>
      <td>15.0</td>
    </tr>
    <tr>
      <td>Subalpine Fir</td>
      <td>13.6</td>
    </tr>
  </table>
  <h3>Where you can cut</h3>
  <p>When searching for firewood at the Flathead National Forests, be sure to use designated motorized roads and to be aware of seasonal road closures. Maps and travel publications are available online and at ranger district offices</p>
  <h3>General Rules</h3>
  <p>Firewood cutting is prohibited within 300 feet of rivers or lakes, and 150 feet within active streams, ponds or wetlands unless otherwise designated</p>
  <p>Live trees may NOT be cut.</p>
  <p><strong>Six feet</strong> is the <strong>maximum</strong> piece length that may be removed.</p>
  <p>Do not cut or remove cedar or Pacific yew.</p>
  <p>Do not cut or remove any trees or logs with signs, tags, or paint on them.</p>
  <p>Do not cut or remove firewood from developed recreation sites, campgrounds, or wild and scenic river corridors.</p>
  <p>Do not cut or remove firewood from active timber sale units or other areas designated (by maps or signs) as closed to firewood cutting.</p>
  <p>Do not cut or remove firewood from within 150 feet of any running stream,pond, lake, marshy or wet area. If a tree is accidentally felled into a waterway, leave the entire tree.</p>
  <p>Vehicles are restricted to roads. If winching, cable systems cannot be in excess of 100 feet.</p>
  <h3>Flathead Specific Rules</h3>
  <p>Firewood cutting or removal is prohibited in the Coram Experimental Forest, and on or adjacent to the following roads: Westside Hungry Horse Reservoir Rd #895 from the intersection of Hwy 2 to Lid Creek Campground, Tally Lake Rd #913 (entire length), and Sheppard Creek Rd #113 from the junction of Rd #539 to the junction of Rd #5388.</p>
  <p>Firewood cutting is prohibited within 300 feet of rivers or lakes, and 150 feet within active streams, ponds or wetlands unless otherwise designated.</p>
  <p>From 11/1 to 5/31 Larch Trees cannot be cut unless they are dead, with loose buckskin bark.</p>
</div>
