<p>Christmas trees cut to thin overcrowded stands can be beneficial.
  As young stands of trees mature, they are constantly competing for more space.
  By cutting your Christmas tree from dense groups around the more vigorous trees,
  the remaining trees will grow faster to make our future forest.</p>

<app-tree-locations-maps [forest]="forest"></app-tree-locations-maps>

<ng-container *ngFor="let district of allowedDistricts">
  <h3>Roads to try on the {{ district.district }} district:</h3>
  <ul>
    <li *ngFor="let road of district.childNodes">
      {{ road.description }}
    </li>
  </ul>
</ng-container>
