doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title U.S. Forest Service Intake Module
    link(rel="stylesheet" href="uswds/css/uswds.css")
  body
    header
      h1 U.S. Forest Service Intake Module
    main
      block content
    footer
      p Footer
