<div id="site-header-navbar" class="site-header-navbar">
  <div class="usa-logo" id="logo">
    <div class="fs-branding">
      <a class="float-left" href="//usda.gov">
        <img alt="United States Department of Agriculture" class="usda-logo" role="img" src="/assets/img/site-wide/usda.svg">
      </a>
      <a id="us-forest-service-logo" routerLink="/">
        <img alt="US Forest Service" class="fs-logo" role="img" alt="US Forest Service Department of Agriculture" src="/assets/img/site-wide/usfslogo.svg" width="50">
        <div class="fs-name-slogan">
          <span class="fs-name">U.S. FOREST SERVICE</span>
          <span class="fs-slogan">Caring for the land and serving the people</span>
          <div class="beta-label"><span class="usa-label">beta</span></div>
        </div>
      </a>
    </div>
  </div>
  <app-authenticated></app-authenticated>
</div>
