&nbsp;
  <ul class="usa-sidenav-list fixed-sidebar">
    <li [ngClass]="{
      'ng-valid': applicationForm.controls.applicantInfo.valid,
      'ng-untouched': applicationForm.controls.applicantInfo.invalid && !applicantInfoErrors,
      'ng-invalid': applicantInfoErrors
    }">
      <a class="usa-current">STEP 1: Applicant information <span *ngIf="applicationForm.controls.applicantInfo.status">{{applicationForm.controls.applicantInfo.status}}</span></a>
    </li>
    <li>
      <a>STEP 2: Description of proposed activity <span *ngIf="applicationForm.controls.tempOutfitterFields.controls.activityDescriptionFields.valid">valid</span></a>
    </li>
    <li>
      <a>STEP 3: Advertising <span *ngIf="applicationForm.controls.tempOutfitterFields.controls.advertisingURL.valid">valid</span></a>
    </li>
    <li>
      <a>STEP 4: Client charges <span *ngIf="applicationForm.controls.tempOutfitterFields.controls.clientCharges.valid">valid</span></a>
    </li>
    <li>
      <a>STEP 5: Guide identification <span *ngIf="applicationForm.controls.guideIdentification.valid">valid</span></a>
    </li>
    <li>
      <a>STEP 6: Operating plan <span *ngIf="applicationForm.controls.operatingPlan.valid">valid</span></a>
    </li>
    <li>
      <a>STEP 7: Liability insurance <span *ngIf="applicationForm.controls.liabilityInsurance.valid">valid</span></a>
    </li>
    <li>
      <a>STEP 8: Acknowledgement of risk form <span *ngIf="applicationForm.controls.acknowledgementOfRisk.valid">valid</span></a>
    </li>
    <li>
      <a>STEP 9: Experience <span *ngIf="applicationForm.controls.tempOutfitterFields.controls.experienceFields.valid">valid</span></a>
    </li>
    <li>
      <a>STEP 10: Signature <span *ngIf="applicationForm.controls.signature.valid">valid</span></a>
    </li>
  </ul>
