<div class="usa-section margin-bottom-1">
  <div class="usa-grid">
    <h1>Temporary outfitters permit information</h1>



    <p>Generally, if you charge a fee for someone to participate in a service that you are providing, or if you otherwise stand to gain from providing the service, you need a permit. The value of the public service provided, the amount charged, or the value of the experience had by the participants is not relevant.</p>

    <p><a href="https://www.fs.usda.gov/detail/mbs/passes-permits/event-commercial/?cid=stelprdb5295777">See definitions</a> for “Commercial Use”, “Guiding”, “Outfitting”.</p>
    <p>Non-profit status is not relevant to whether or not you need a permit. Some of our largest permitted outfitting and guiding organizations are non-profits providing great public benefits.</p>

    <h2>A temporary use permit is</h2>

    <ul>
      <li>Authorization to conduct short term outfitted or guided use on national Forest Service land</li>
      <li>Non- renewable</li>
      <li>Non-competitive</li>
      <li>One permit, less or equal to 200 days in a 180 day period per use area</li>
      <li>Based on a flat rate fee schedule</li>
      <li>Held by an outfitter qualified to provide service</li>
      <li>Not based on performance evaluations</li>
      <li>Requires annual use reports to be accepted</li>
      <li>Requires insurance (FSM2713.1 Exhibit 1) to be accepted</li>
      <li>Requires an operating plan to be accepted</li>
      <li>Revocable and suspendable</li>
      <li>Not appealable</li>
    </ul>

    <h2>Applicants</h2>
    <ul>
      <li>Applicants must be qualified to provide the proposed service, possessing required state licenses and adequate liability insurance.</li>
      <li>Final determination of qualifications is made on the Mt. Baker-Snoqualmie National Forest.</li>
      <li>Violations of laws, customer complaints and adverse performance and permit compliance will be considered in evaluating qualifications.</li>
    </ul>

    <h2>Number of permits and service days restrictions</h2>

    <p>Permits and service days are managed by use area. The maximum allowable service days varies by use area depending on their availability and demand. Only one temporary permit may be obtained per use area every 180 days up to the max number of service days per use area (no more than 200 service days). See the various permit pool documents for descriptions of use areas and the max number of service days that may be applied for in each area.</p>

    <ul>
      <li><span class="bold">Example 1:</span> Use area "A" = 1000 total pool days with a max days/permit = 200. I can only apply for 1 permit up to 200 days every 6 months in use area "A".</li>
      <li><span class="bold">Example 2:</span> Use Area "B" = 150 total pool days with a max days/permit = 50. I can only apply for 1 permit up to 50 days every 6 months in use area "B".</li>
      <li><span class="bold">Example 3:</span> Use Area "A" + "B" = 200 days "A" + 50 days "B" = 250 days "A" and "B".</li>
    </ul>

    <p>Note: As shown in example 3 You can apply for days from multiple use areas at the same time.</p>

    <h2>Benefits</h2>

    <ul>
      <li>Allows for a short-term allocation of use to meet a seasonal needs</li>
      <li>Provides an opportunity to try new activities/locations</li>
      <li>Adds clients or trips for special events or offerings</li>
      <li>Increases flexibility in locations</li>
      <li>Less time spent processing paperwork</li>
      <li>Opportunities for church, youth and educational groups to obtain short term permits for brief and non-recurring outings</li>
    </ul>

    <h2>Activities and locations</h2>

    <ul>
      <li>Land-based outfitting and guide permits are available throughout the forest, at the discretion of District Rangers.</li>
      <li>River-based guiding permits are currently only available for <a href="https://www.fs.usda.gov/detail/mbs/passes-permits/event-commercial/?cid=stelprdb5295498">select locations</a>.</li>
    </ul>
    <p>The Forest Service may add, remove or modify the activities and locations at our discretion.</p>

    <h2>Costs</h2>

    <p>A flat fee is charged for a fixed amount of use. However, there may be additional costs based on your activity.</p>

    <table class="faq-table">
      <tr>
        <th>Number of service days</th>
        <th>Flat fee</th>
        <th>Maximum gross revenue for each bracket of service days</th>
      </tr>
      <tr>
        <td>1 to 50</td>
        <td>$150</td>
        <td>$10,000</td>
      </tr>
      <tr>
        <td>51 to 100</td>
        <td>$300</td>
        <td>$20,000</td>
      </tr>
      <tr>
        <td>101 to 150</td>
        <td>$450</td>
        <td>$30,000</td>
      </tr>
      <tr>
        <td>151 to 200</td>
        <td>$600</td>
        <td>$40,000</td>
      </tr>
    </table>
    (See <a href="http://www.fs.usda.gov/Internet/FSE_DOCUMENTS/stelprdb5295497.pdf">FSH 2709.11</a>, sec. 37.21c)

    <h2>Application due dates</h2>
    <p>Administration of the temporary permits varies by pool and is specified in the lands or river pool permit documents.</p>
    <p>Ideally there would be plenty of days available to allow all temp permits to be issued on a first come first served basis. However some permit pools are limited and with high demand and there simply are not enough days to go around. For pools such as this we will allocate the permits by a lottery and a due date is needed to make that work. The due dates are months ahead of the permit period so that applicants who get drawn for a permit will have plenty of lead time to advertise and prepare for the trips. In the event that there are unallocated days left over after the lottery, additional permits may be issued on a first come first served basis.</p>

    <h2>Permits for other forests?</h2>

    <p>Forest Service regulations allow for, but do not require, the administration of temporary permit pools. Inquiries on permitting on other forests should be directed to those forests. Information for National Forests within the United States can be found here.</p>


    <h2>More info on Forest Service outfitter and guide policies and regulations</h2>

    <p>Visit the <a href="https://www.fs.fed.us/specialuses/special_outfitting.shtml">national website</a>.</p>

    <div>
      <a routerLink="/" class="usa-button faq-button-middle">Back to permits</a>
      <a id="temp-outfitters-permit" class="usa-button-inverse usa-button usa-button-big usa-button-border" routerLink="/applications/temp-outfitters/new">Temp outfitter's permit<span class="button-hint usa-form-hint">Log in to apply now with <img src="/assets/img/login.gov-logo.svg" alt="login.gov" class="login-gov" role="img" /></span></a>
    </div>
  </div>
</div>
