<section id="application" class="usa-section">
  <div class="usa-grid">
    <h1>Apply for a temporary outfitters permit.</h1>
    <h2>{{forest}}</h2>
    <form class="usa-form-large" #form="ngForm" (ngSubmit)="onSubmit(form)">

      <p class="form-directions">All form fields are required unless otherwise noted.</p>

      <div *ngIf="form._submitted && !form.valid" class="usa-alert usa-alert-error" role="alert">
        <div class="usa-alert-body">
          <h3 class="usa-alert-heading">There are errors in your application.</h3>
          <p class="usa-alert-text">Please correct the errors before submitting.</p>
        </div>
      </div>

      <div *ngIf="apiErrors" class="usa-alert usa-alert-error" role="alert">
        <div class="usa-alert-body">
          <h3 class="usa-alert-heading">There are errors in your application.</h3>
          <ul class="usa-alert-text">
            <li *ngFor="let error of apiErrors">{{error}}</li>
          </ul>
        </div>
      </div>

      <fieldset>

        <legend>Files</legend>

        <div id="guide-document-wrapper" class="usa-file-upload-wrapper">
          <h3>Guide documentation</h3>
          <p>Please upload your guide documentation. File must be in .pdf, .doc, .docx., or .rtf format, and less than 25MB.</p>
          <app-file-upload-field name="guide-document" [uploadFiles]="uploadFiles" [applicationId]="applicationId"></app-file-upload-field>
        </div>

        <div id="acknowledgement-of-risk-form-wrapper" class="usa-file-upload-wrapper">
          <h3>Acknowledgement of risk form</h3>
          <p>Please upload your acknowledgement of risk form. File must be in .pdf, .doc, .docx., or .rtf format, and less than 25MB.</p>
          <app-file-upload-field name="acknowledgement-of-risk-form" [uploadFiles]="uploadFiles" [applicationId]="applicationId"></app-file-upload-field>
        </div>

        <div id="insurance-certificate-wrapper" class="usa-file-upload-wrapper">
          <h3>Insurance certificate</h3>
          <p>Please upload your insurance certificate. File must be in .pdf, .doc, .docx., or .rtf format, and less than 25MB.</p>
          <app-file-upload-field name="insurance-certificate" [uploadFiles]="uploadFiles" [applicationId]="applicationId"></app-file-upload-field>
        </div>

        <div id="good-standing-evidence-wrapper" class="usa-file-upload-wrapper">
          <h3>Good standing evidence</h3>
          <p>Please upload your good standing evidence documentation. File must be in .pdf, .doc, .docx., or .rtf format, and less than 25MB.</p>
          <app-file-upload-field name="good-standing-evidence" [uploadFiles]="uploadFiles" [applicationId]="applicationId"></app-file-upload-field>
        </div>

        <div id="operating-plan-wrapper" class="usa-file-upload-wrapper">
          <h3>Operating plan</h3>
          <p>Please upload your operating plan. File must be in .pdf, .doc, .docx., or .rtf format, and less than 25MB.</p>
          <app-file-upload-field name="operating-plan" [uploadFiles]="uploadFiles" [applicationId]="applicationId"></app-file-upload-field>
        </div>

      </fieldset>

      <button class="fs-button-green usa-button-big" type="submit">Submit your application.</button>
    </form>
  </div>
</section>
