<section class="usa-section">
  <div class="usa-grid">
    <h1>Style Guide</h1>
    <hr>
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
    <p class="usa-font-lead">This is a paragraph lead. </p>
    <p>This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. </p>
    <p>This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. </p>

    <a href="#">This is an anchor</a>

    <h2>Buttons</h2>
    <button class="usa-button">Primary</button> <span> - used for page navigation, hold applications</span><br />
    <button class="usa-button-secondary">Primary</button> <span> - Use with error or remove CTAs</span><br />
    <button class="usa-button fs-button-green">Submit</button> <span> - Use on a submit CTA</span><br />
    <button class="usa-button-outline green">Secondary</button> <span>Lower priority secondary button</span><br />

    <h2>Big buttons</h2>
    <button class="usa-button usa-button-big">Primary</button> <span> - used for page navigation, hold applications</span><br />
    <button class="usa-button-secondary usa-button-big">Primary</button> <span> - Use with error or remove CTAs</span><br />
    <button class="usa-button fs-button-green usa-button-big">Submit</button> <span> - Use on a submit CTA</span><br />
    <button class="usa-button-outline green usa-button-big">Secondary</button> <span>Lower priority secondary button</span><br />

    <h2>Labels</h2>
    <span class="usa-label">Default</span>
    <span class="usa-label green">green</span>
    <span class="usa-label orange">orange</span>
    <span class="usa-label red">red</span>

    <h2>Colors</h2>
    <p class="demo-black">$black</p>
    <p class="demo-dark-grey">$dark-grey</p>
    <p class="demo-grey">$grey</p>
    <p class="demo-medium-grey">$medium-grey</p>
    <p class="demo-white">$white</p>

    <p class="demo-fs-brown">$fs-brown</p>

    <p class="demo-fs-tan">$fs-tan</p>
    <p class="demo-fs-tan-dark">$fs-tan-dark</p>
    <p class="demo-fs-tan-darker">$fs-tan-darker</p>

    <p class="demo-fs-green">$fs-green</p>
    <p class="demo-fs-green-darker">$fs-green-darker</p>
    <p class="demo-fs-green-darkest">$fs-green-darkest</p>

    <p class="demo-fs-orange">$fs-orange</p>
    <p class="demo-fs-orange-dark">$fs-orange-dark</p>
    <p class="demo-fs-orange-darkest">$fs-orange-darkest</p>

    <p class="demo-fs-red">$fs-red</p>
    <p class="demo-fs-red-darker">$fs-red-darker</p>
    <p class="demo-fs-red-darkest">$fs-red-darkest</p>

  </div>

</section>
