<section class="usa-section">
  <div class="usa-grid">
    <h1>Style Guide</h1>
    <hr>
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
    <p class="usa-font-lead">This is a paragraph lead. </p>
    <p class="help-text usa-form-hint">This is hint text!</p>
    <p>This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. </p>
    <p>This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. </p>

    <a href="#">This is an anchor</a>

    <h2>Buttons</h2>
    <p><button class="usa-button">.usa-button</button> <span>Navigation and data mofifications</span></p>
    <p class="demo-dark-background"><button class="usa-button-inverse">.usa-button-inverse</button> <span>Navigation and data mofifications over dark backgrounds</span></p>
    <p><button class="usa-button-primary-alt">.usa-button-primary-alt</button> <span> Create a new object or approve a request</span></p>
    <p><button class="usa-button-secondary">.usa-button-secondary</button> <span> Delete data or deny a request</span></p>
    <p><button class="usa-button-outline">.usa-button-outline</button> <span> View details</span></p>

    <h2>Labels</h2>
    <span class="usa-label">Default</span>
    <span class="usa-label success">success</span>
    <span class="usa-label warning">warning</span>
    <span class="usa-label danger">danger</span>

    <h2>Colors</h2>
    <p class="demo-black">$black</p>
    <p class="demo-dark-grey">$dark-grey (hint text)</p>
    <p class="demo-white">$white</p>

    <p class="demo-fs-brown">$fs-brown</p>
    <p class="demo-fs-brown-dark">$fs-brown-dark</p>

    <p class="demo-fs-blue-light">$fs-blue-light</p>

    <p class="demo-fs-tan">$fs-tan</p>
    <p class="demo-fs-tan-dark">$fs-tan-dark</p>
    <p class="demo-fs-tan-darker">$fs-tan-darker</p>

    <p class="demo-fs-green">$fs-green</p>
    <p class="demo-fs-green-dark">$fs-green-dark</p>
    <p class="demo-fs-green-darker">$fs-green-darker</p>

    <p class="demo-fs-red">$fs-red</p>
    <p class="demo-fs-red-dark">$fs-red-dark</p>
    <p class="demo-fs-red-darker">$fs-red-darker</p>

  </div>

</section>
