<div>
  <b>NOTE:</b> The Mt. Hood National Forest headquarters office does not provide visitor information services such as the sale of maps or passes. The HQ only serves as an operational and business office. For visitor informational services, please visit one of our district offices below.
</div>
<div>
  Telephone: 503.668.1700
</div>
<div>
  16400 Champion Way
</div>
<div>
  Sandy, Oregon 97055
</div>
<div>
  Hours: Monday - Friday, 8:00am - 4:30pm
</div>
<div>
  Closed 11:30 am - 12:30 pm (lunch)
</div>