.usa-menu-btn {
  background: $fs-green;
  &:hover {
    background: $fs-green-darker;
  }
}

.forest-service {

  .usa-button {
    background-color: $fs-brown;
    color: $white;
    &:hover {
      background-color: $fs-brown-dark;
    }
    &:active {
      background-color: $black;
    }
  }

  .usa-button-inverse {
    background-color: $fs-tan;
    color: $black;
    &:hover, &:hover:visited {
      background-color: $fs-tan-dark;
      color: $black;
    }
    &:active, &:active:visited {
      background-color: $fs-tan-darker;
    }
  }

  .usa-button-primary-alt {
    background-color: $fs-green;
    color: $white;
    &:hover {
      background-color: $fs-green-dark;
    }
    &:active {
      background-color: $fs-green-darker;
    }
  }

  .usa-button-secondary {
    background-color: $fs-red;
    color: $white;
    &:hover {
      background-color: $fs-red-dark;
    }
    &:active {
      background-color: $fs-red-darker;
    }
  }

  .usa-button-outline {
    background-color: $transparent;
    box-shadow: inset 0 0 0 2px $fs-green;
    color: $fs-green;
    &:hover, &:hover:visited {
      background-color: $transparent;
      box-shadow: inset 0 0 0 2px $fs-green-dark;
      color: $fs-green-dark;
    }
    &:active {
      background-color: $transparent;
      box-shadow: inset 0 0 0 2px $fs-green-darker;
      color: $fs-green-darker;
    }
    &:visited {
      background-color: $transparent;
      box-shadow: inset 0 0 0 2px $fs-green;
      color: $fs-green;
    }
  }

}
