.usa-menu-btn {
    background: $fs-green;
    &:hover {
      background: $fs-green-darker;
    }
}

// TODO: refactor button classes to fs-*

.usa-button {
  background-color: $fs-orange !important;
  color: $fs-charcoal !important;
  &:hover {
    background-color: $fs-orange-dark !important;
  }
}

.usa-button:active {
  background-color: $fs-orange-darkest !important;
  color: $white !important;
}

.fs-button-secondary {
  background-color: $fs-tan !important;
  &:hover {
    background-color: $fs-tan-dark !important;
  }
}

.fs-button-secondary:active {
  background-color: $fs-tan-darker !important;
  color: $black !important;
}

.fs-button-green {
  background-color: $fs-green !important;
  color: $white !important;
  &:hover, :active {
    background-color: $fs-green-darker !important;
  }
}

.usa-button-outline {
  &.green {
    box-shadow: inset 0 0 0 2px $fs-green !important;
    border-color: $fs-green !important;
    color: $fs-green !important;
  }
}
