input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

fieldset {
  margin: 20px 0 0 0;
}

legend {
  color: $fs-green;
}

.fs-mini-legend {
  color: black;
  font-size: 17px;
  font-weight: 700;
  padding-top: 10px;
}

.fs-datetime-legend {
  color: black;
  font-size: 22px;
  font-weight: 700;
  padding-top: 10px;
}

label {
  font-size: 17px;
  font-weight: 700;
}

.usa-form-hint {
  font-size: 15px;
}

.usa-form-group label {
  margin-top: 8px;
}

input.ng-valid.ng-touched, select.ng-valid.ng-touched, textarea.ng-valid.ng-touched {
  border: 3px solid $fs-green;
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 3px solid $color-secondary-dark;
}
