input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

fieldset {
  margin: 20px 0 0 0;
}

.usa-form-hint {
  font-size: 15px;
}

input.ng-valid.ng-touched, select.ng-valid.ng-touched, textarea.ng-valid.ng-touched {
  border: 3px solid $fs-green;
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 3px solid $color-secondary-dark;
}
