.usa-search {
  button[type=submit]{
    background-color: $fs-green;
    &:hover {
      background-color: $fs-green-darker;
    }
  }
}
.usa-nav-secondary {
  .usa-header-search-button {
    background-image: url(/assets/img/site-wide/search-alt.svg);
  }
}
