.mobile-menu-btn {
  position: absolute;
  top: 162px;
  right: 0;
  z-index: 999;
  @media (min-width: $small-screen) {
    top: 140px;
  }
  @media (min-width: $medium-screen) {
    top: 120px;
  }
}

.site-nav-secondary {
  background-color: $fs-tan;
  display: none;
}

@media screen and (min-width: 951px) {
  .site-nav-secondary {
    background-color: $fs-tan;
    clear: both;
    display: block;
    height: 5rem;
    z-index: 10;
  }
}

.site-nav-secondary ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}

.site-nav-secondary ul > li {
  margin-bottom: 0;
  margin-right: 2rem;
}

.site-nav-secondary ul li {
  display: inline;
}

.site-nav-secondary a {
  color: $fs-green;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 5rem;
  padding: 1.5rem;
  text-decoration: none;
}

.site-nav-secondary a:hover span {
  border-bottom: 0.7rem solid $fs-green-dark;
  padding-bottom: 0.9rem;
  color: $fs-green-dark;
}

.site-nav-secondary .usa-current span {
  border-bottom: 0.7rem solid $fs-green-dark;
  padding-bottom: 0.9rem;
  color: $fs-green-dark;
}

.sidenav-mobile {
  height: 100%;
  overflow-y: auto;
  @media (min-width: $nav-width) {
    display: none;
  }
}

.usa-sidenav-list {
  display: none;
  margin-right: 14px;
  position: absolute;
  width: 296px;
  top: 250px;
  &.usa-accordion {
    display: block;
    margin-right: 0;
    position: inherit;
    width: 100%;
    top: 50px;
    padding-right: 40px;
  }
  @media (min-width: $nav-width) {
    display: block;
  }
}

.usa-sidenav-list > li {
  border-top: solid 1px $dark-grey;
}

.usa-sidenav-list a.usa-current {
  border-color: $fs-green;
  color: $fs-green;
}

.usa-sidenav-list li {
  a {
    color: $fs-green;
    cursor: pointer;
    padding-right: 24px;
    position: relative;
    &:hover {
      color: $fs-green;
    }
    .status-icon {
      background-repeat: no-repeat;
      background-size: contain;
      height: 22px;
      position: absolute;
      width: 22px;
      right: 0;
      top: 22%;
    }
  }
}

.site-nav-secondary > li {
  border-top: solid 1px $dark-grey;
}

.site-nav-secondary a.usa-current {
  border-color: $fs-green;
  color: $fs-green;
}

.site-nav-secondary li {
  a {
    color: $fs-green;
    cursor: pointer;
    padding-right: 4px;
    padding-left: 4px;
    position: relative;
    &:hover {
      color: $fs-green;
    }
  }
}
