.spinner-container {
  background: $fs-green;
  padding: 9px;
  border-radius: 24px;
  display: inline-block;
  width: 45px;
  height: 45px;
}
.spinner {
  border-color: $fs-tan rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.1) !important;
  background-color: $fs-green !important;
}
