html,
h1,
h2,
h3,
h4 {
  color: $black;
}

h1 {
  margin-top: 0;
}

a {
  color: $fs-green;
  -webkit-font-smoothing: antialiased;
  &:visited {
    color: $fs-green;
  }
  &:hover {
    color: $fs-green-dark;
  }
  &:active {
    color: $fs-green-darker;
  }
  &:focus {
    box-shadow: 0 0 3px $fs-blue-light, 0 0 7px $fs-blue-light;
    @extend .focus;
  }
}

h1 {
  color: $fs-green !important;
}

.centered {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-text {
  cursor: text;
}
