<div class="usa-grid event-name no-padding padding-top-1">
  <button *ngIf="application.status === 'Hold' && !isAdmin" class="usa-button-secondary-alt float-right" routerLink="/applications/noncommercial-group-use/{{application.appControlNumber}}/edit">Edit application</button>
  <div class="usa-width-three-fourths">
    <h1 id="skip-nav-target" tabindex="-1">{{ application.eventName }}
      <span *ngIf="['Submitted'].indexOf(application.status) === -1" class="usa-label" [ngClass]="{
        'success': application.status === 'Accepted',
        'warning': application.status === 'Hold',
        'danger': application.status === 'Rejected',
        'black': application.status === 'Cancelled'
      }">{{ application.status }}</span>
    </h1>
  </div>
</div>
<div class="usa-grid margin-top-1 no-padding">
  <div class="usa-width-one-half">
    <h2>Application identification</h2>
    <h3>Identification number:</h3>
    <span>{{ application.applicationId }}</span>
    <h3>Permit application type:</h3>
    <span id="permit-type">Noncommercial</span>
    <h2 class="app-item-label padding-right-1">Primary permit holder</h2>
    <div *ngIf="application.applicantInfo.orgType === 'Corporation'" class="margin-bottom-1">
      <span class="display-block">{{ application.applicantInfo.organizationName }}</span>
      <ng-container *ngIf="application.applicantInfo.organizationAddress">
        <span class="display-block">{{ application.applicantInfo.organizationAddress.mailingAddress }}</span>
        <span *ngIf="application.applicantInfo.organizationAddress.mailingAddress2" class="display-block">{{ application.applicantInfo.organizationAddress.mailingAddress2 }}</span>
        <span class="display-block">
          {{ application.applicantInfo.organizationAddress.mailingCity }}, {{ application.applicantInfo.organizationAddress.mailingState }} {{ application.applicantInfo.organizationAddress.mailingZIP }}
        </span>
      </ng-container>
    </div>
    <div class="margin-bottom-1">
      <span class="display-block">{{ application.applicantInfo.primaryFirstName }} {{ application.applicantInfo.primaryLastName }}</span>
      <ng-container *ngIf="application.applicantInfo.primaryAddress">
        <span class="display-block">{{ application.applicantInfo.primaryAddress.mailingAddress }}</span>
        <span *ngIf="application.applicantInfo.primaryAddress.mailingAddress2" class="display-block">
          {{ application.applicantInfo.primaryAddress.mailingAddress2 }}
        </span>
        <span *ngIf="application.applicantInfo.primaryAddress.mailingCity && application.applicantInfo.primaryAddress.mailingState && application.applicantInfo.primaryAddress.mailingZIP"
          class="display-block">
          {{ application.applicantInfo.primaryAddress.mailingCity }}, {{ application.applicantInfo.primaryAddress.mailingState }} {{ application.applicantInfo.primaryAddress.mailingZIP }}
        </span>
      </ng-container>
    </div>
    <div class="margin-bottom-1">
      <span class="display-block"><a href="mailto:{{ application.applicantInfo.emailAddress }}">{{ application.applicantInfo.emailAddress }}</a></span>
      <span class="display-block" *ngIf="application.applicantInfo.dayPhone">
        {{ application.applicantInfo.dayPhone.areaCode }}-{{ application.applicantInfo.dayPhone.prefix }}-{{ application.applicantInfo.dayPhone.number }}
        <span *ngIf="application.applicantInfo.dayPhone.extension"> ext. {{ application.applicantInfo.dayPhone.extension }}</span>
      </span>
      <span *ngIf="application.applicantInfo.eveningPhone && application.applicantInfo.eveningPhone.number" class="display-block">
        {{ application.applicantInfo.eveningPhone.areaCode }}-{{ application.applicantInfo.eveningPhone.prefix }}-{{ application.applicantInfo.eveningPhone.number }}
        <span *ngIf="application.applicantInfo.eveningPhone.extension"> ext. {{ application.applicantInfo.eveningPhone.extension }}</span>
      </span>
      <span *ngIf="application.applicantInfo.website">
        <a href="{{ application.applicantInfo.website | UrlPipe }}" target="_blank">{{ application.applicantInfo.website }} (Opens in a new window)</a>
      </span>
    </div>

    <div *ngIf="application.applicantInfo.secondaryFirstName">
      <h2>Secondary Permit Holder</h2>
      <div>
        <span class="display-block">{{ application.applicantInfo.secondaryFirstName }} {{ application.applicantInfo.secondaryLastName }}</span>
        <ng-container *ngIf="application.applicantInfo.secondaryAddress">
          <span class="display-block">{{ application.applicantInfo.secondaryAddress.mailingAddress }}</span>
          <span *ngIf="application.applicantInfo.secondaryAddress.mailingAddress2" class="display-block">
            {{ application.applicantInfo.secondaryAddress.mailingAddress2 }}
          </span>
          <span *ngIf="application.applicantInfo.secondaryAddress.mailingCity && application.applicantInfo.secondaryAddress.mailingState && application.applicantInfo.secondaryAddress.mailingZIP"
            class="display-block">
            {{ application.applicantInfo.secondaryAddress.mailingCity }}, {{ application.applicantInfo.secondaryAddress.mailingState }} {{ application.applicantInfo.secondaryAddress.mailingZIP }}
          </span>
        </ng-container>
      </div>
    </div>

    <app-revision-history id="desktop-revision-history" [application]="application" *ngIf="application.revisions.length"></app-revision-history>
  </div>

  <div class="usa-width-one-half">
    <h2>Event details</h2>

    <ng-container *ngIf="application.dateTimeRange">
      <h3>Start date:</h3>
      <span>{{ application.dateTimeRange.startDateTime | date: 'MM/dd/yyyy h:mm a': 'UTC' }}</span>

      <h3>End date:</h3>
      <span>
        {{ application.dateTimeRange.endDateTime | date: 'MM/dd/yyyy h:mm a': 'UTC' }}
      </span>
    </ng-container>

    <ng-container *ngIf="application.noncommercialFields">
      <h3>Location:</h3>
      <span>{{ application.noncommercialFields.locationDescription }}</span>

      <h3>Description</h3>
      <span>{{ application.noncommercialFields.activityDescription }}</span>

      <h3>Number attending</h3>
      <span>{{ application.noncommercialFields.numberParticipants }}</span>

      <h3>Number spectators</h3>
      <span>{{ application.noncommercialFields.spectators }}</span>
    </ng-container>

    <h3>
      <span *ngIf="application.signature" class="electronic-signature-success"></span>
      Electronic signature
    </h3>

  </div>
</div>
<app-revision-history id="mobile-revision-history" [application]="application" *ngIf="application.revisions.length"></app-revision-history>
