<section id="application-view" class="usa-section">
  <div class="usa-grid">
    <app-breadcrumbs></app-breadcrumbs>
    <app-api-error *ngIf="apiErrors" [errors]="apiErrors"></app-api-error>

    <div *ngIf="application.status === 'Hold'" role="alert" aria-label="warning" class="usa-alert usa-alert-warning application-deadline-warning permit-alert-warning">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">On hold</h3>
        <p class="usa-alert-text">{{application.applicantMessage}}</p>
        <ng-container *ngIf="!isAdmin">
        <h4>To update your application click the edit application button or contact the special use administrator listed below.</h4>
        <p><strong>Name:</strong> Sue Sherman-Biery<br />
        <strong>Phone:</strong> 360-854-2660<br />
        <strong>Email:</strong> <a href="mailto:sshermanbiery@fs.fed.us">sshermanbiery@fs.fed.us</a></p>
        </ng-container>
      </div>
    </div>
    <div class="usa-grid thin-grey-border padding-bottom-2 application-details" appTrackScroll (trackScrollEnter)="enter()" (trackScrollLeave)="leave()">
      <app-noncommercial-details *ngIf="application.type === 'noncommercial'" [application]="application" [isAdmin]="isAdmin"></app-noncommercial-details>
      <app-temp-outfitter-details *ngIf="application.type === 'tempOutfitters'" [application]="application" [isAdmin]="isAdmin"></app-temp-outfitter-details>
    </div>
  </div>
  <div class="usa-grid cancel-application-wrapper">
    <app-cancel-application (applicationCancelled)="applicationCancelled($event)" [application]="application" text="Cancel application."></app-cancel-application>
  </div>
  <div class="sticky-bar bottom app-ctas" [class.fixed]="fixedCtas" *ngIf="isAdmin && (application.status === 'Hold' || ['Submitted', 'Review'].indexOf(application.status) !== -1)">
    <div id="cta-buttons" *ngIf="!reasonOrCancel.open">
      <button id="accept-application-btn" class="usa-button-primary-alt app-cta" name="Accept" (click)="provideReasonOrCancel('Accepted')">Accept<span class="sub-button">Send to SUDS</span></button>
      <button *ngIf="application.status !== 'Hold'" id="hold-application-btn" class="usa-button-primary app-cta" name="Hold" (click)="provideReasonOrCancel('Hold')">Hold<span class="sub-button">Request clarification</span></button>
      <button *ngIf="application.status === 'Hold'" id="hold-application-btn" class="usa-button-grey app-cta" name="Hold" (click)="provideReasonOrCancel('Review')">Remove hold<span class="sub-button">Submitted clarification</span></button>
      <button id="return-application-btn" class="usa-button-red app-cta" name="Return"(click)="provideReasonOrCancel('Rejected')">Reject<span class="sub-button">Notify applicant</span></button>
    </div>
    <div id="reason-for-action" class="usa-grid" *ngIf="reasonOrCancel.open">
      <div class="usa-width-one-whole">
        <div class="close-reason-for-action" aria-label="Close" (click)="reasonOrCancel.open = false;">Close</div>
        <label for="reason-for-return">{{ reasonOrCancel.label }}</label>
        <textarea id="reason-for-return" [(ngModel)]="reasonOrCancel.message"></textarea>
        <div class="reason-for-action-buttons">
          <button class="usa-button-secondary-alt" (click)="reasonOrCancel.open = false;">Cancel</button>
          <button class="{{ reasonOrCancel.buttonClass }}" (click)="updateApplicationStatus(application, reasonOrCancel.status)">{{ reasonOrCancel.confirmButtonText }}</button>
        </div>
      </div>
    </div>
  </div>
</section>
