<div class="tree-speci margin-bottom-4 usa-width-one-whole">
  <hr>
  <div class="tree-cutting-container usa-grid">
    <div class="usa-width-two-thirds">
      <ul>
        <li>Remove any boughs from the stump and scatter around a large area.</li>
        <li>Clean up any debris after you’re finished cutting down your tree.</li>
        <li>Make a fresh cut on the bottom before putting it in water.</li>
        <li>Get your tree into its stand as soon as possible. Even though it has been cut, your tree is
        still “alive” and the needles will take on water. As the days go on, the cells in the cut end
        react to the wound and seal up and less water will be used, and the tree will begin to
          die.</li>
      </ul>
      <h4>Remember: Your safety is your responsibility</h4>
    </div>
    <div class="usa-width-one-third">
      <img src="/assets/img/bough-removal-sm.jpg" alt="bough removal" />
      <figcaption>Scatter trimmings after removal</figcaption>
    </div>
  </div>

</div>