<section id="application-view" class="usa-section">
  <div class="usa-grid">
    <div class="breadcrumbs">
      <a routerLink="/admin/applications">Noncommercial group use applications</a> > <span>{{ application.eventName }}</span>
    </div>
    <div *ngIf="errorMessage" class="usa-alert usa-alert-error application-deadline-warning">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Error</h3>
        <p class="usa-alert-text">{{ errorMessage }}</p>
      </div>
    </div>
    <div class="usa-grid thin-grey-shadow padding-bottom-2 application-details" appTrackScroll (trackScrollEnter)="enter()" (trackScrollLeave)="leave()">
      <div class="usa-grid event-name no-padding padding-top-1">
        <div class="usa-width-three-fourths">
          <h1>{{ application.eventName}}
            <span *ngIf="application.status !== 'Received'" class="usa-label" [ngClass]="{
              'success': application.status === 'Accepted',
              'warning': application.status === 'Hold',
              'danger': application.status === 'Returned'
            }">{{ application.status }}</span>
          </h1>
        </div>
        <div class="usa-width-one-fourth">
          <button class="usa-button-outline">Edit</button>
        </div>
      </div>
      <div class="usa-grid margin-top-1 no-padding">
        <div class="usa-width-one-half">
          <h2 class="app-item-label padding-right-1">Primary permit holder</h2>
          <div *ngIf="application.applicantInfo.orgType === 'Corporation'" class="margin-bottom-1">
            <span class="display-block">{{ application.applicantInfo.organizationName }}</span>
            <span class="display-block">{{ application.applicantInfo.organizationAddress.mailingAddress }}</span>
            <span *ngIf="application.applicantInfo.organizationAddress.mailingAddress2" class="display-block">{{ application.applicantInfo.organizationAddress.mailingAddress2 }}</span>
            <span class="display-block">{{ application.applicantInfo.organizationAddress.mailingCity }}, {{ application.applicantInfo.organizationAddress.mailingState }} {{ application.applicantInfo.organizationAddress.mailingZIP }}</span>
          </div>
          <div class="margin-bottom-1">
            <span class="display-block">{{ application.applicantInfo.primaryFirstName }} {{ application.applicantInfo.primaryLastName }}</span>
            <span class="display-block">{{ application.applicantInfo.primaryAddress.mailingAddress }}</span>
            <span *ngIf="application.applicantInfo.primaryAddress.mailingAddress2" class="display-block">
              {{ application.applicantInfo.primaryAddress.mailingAddress2 }}
            </span>
            <span *ngIf="application.applicantInfo.primaryAddress.mailingCity && application.applicantInfo.primaryAddress.mailingState && application.applicantInfo.primaryAddress.mailingZIP"
              class="display-block">
              {{ application.applicantInfo.primaryAddress.mailingCity }}, {{ application.applicantInfo.primaryAddress.mailingState }} {{ application.applicantInfo.primaryAddress.mailingZIP }}
            </span>
          </div>
          <div class="margin-bottom-1">
            <span class="display-block"><a href="mailto:{{ application.applicantInfo.emailAddress }}">{{ application.applicantInfo.emailAddress }}</a></span>
            <span class="display-block">{{ application.applicantInfo.dayPhone.areaCode }}-{{ application.applicantInfo.dayPhone.prefix }}-{{ application.applicantInfo.dayPhone.number }}</span>
            <span *ngIf="application.applicantInfo.eveningPhone.number" class="display-block">{{ application.applicantInfo.eveningPhone.areaCode }}-{{ application.applicantInfo.eveningPhone.prefix }}-{{ application.applicantInfo.eveningPhone.number }}</span>
          </div>

          <div *ngIf="application.applicantInfo.secondaryFirstName">
            <h2>Secondary Permit Holder</h2>
            <div>
              <span class="display-block">{{ application.applicantInfo.secondaryFirstName }} {{ application.applicantInfo.secondaryLastName }}</span>
              <span class="display-block">{{ application.applicantInfo.secondaryAddress.mailingAddress }}</span>
              <span *ngIf="application.applicantInfo.secondaryAddress.mailingAddress2" class="display-block">
                {{ application.applicantInfo.secondaryAddress.mailingAddress2 }}
              </span>
              <span *ngIf="application.applicantInfo.secondaryAddress.mailingCity && application.applicantInfo.secondaryAddress.mailingState && application.applicantInfo.secondaryAddress.mailingZIP"
                class="display-block">
                {{ application.applicantInfo.secondaryAddress.mailingCity }}, {{ application.applicantInfo.secondaryAddress.mailingState }} {{ application.applicantInfo.secondaryAddress.mailingZIP }}
              </span>
            </div>
          </div>
        </div>

        <div class="usa-width-one-half">
          <h2>Event details</h2>

          <h3>Start date:</h3>
          <span>{{ application.dateTimeRange.startDateTime | date: 'MM/dd/yyyy hh:mm a Z' }}</span>

          <h3>End date:</h3>
          <span>
            {{ application.dateTimeRange.endDateTime | date: 'MM/dd/yyyy hh:mm a Z' }}
          </span>

          <h3>Location:</h3>
          <span>{{ application.noncommercialFields.locationDescription }}</span>

          <h3>Description</h3>
          <span>{{ application.noncommercialFields.activityDescription }}</span>

          <h3>Number attending</h3>
          <span>{{ application.noncommercialFields.numberParticipants }}</span>

          <h3>Number spectators</h3>
          <span>{{ application.noncommercialFields.spectators }}</span>

          <h3>
            <span *ngIf="application.signature" class="electronic-signature-success"></span>
            Electronic signature
          </h3>

        </div>
      </div>
    </div>
  </div>

  <div class="app-ctas" [class.fixed]="fixedCtas">
    <div id="cta-buttons" *ngIf="!reasonOrCancel.open">
      <button id="accept-application-btn" class="usa-button-primary-alt app-cta" name="Accept" (click)="provideReasonOrCancel('Accepted')">Accept</button>
      <button id="hold-application-btn" class="usa-button app-cta" name="Hold" (click)="provideReasonOrCancel('Hold')">Hold</button>
      <button id="return-application-btn" class="usa-button-secondary app-cta" name="Return"(click)="provideReasonOrCancel('Returned')">Reject</button>
    </div>
    <div id="reason-for-action" class="usa-grid" *ngIf="reasonOrCancel.open">
      <div class="usa-width-one-whole">
        <div class="close-reason-for-action" aria-label="Close" (click)="reasonOrCancel.open = false;">Close</div>
        <label for="reason-for-return">{{ reasonOrCancel.label }}</label>
        <textarea id="reason-for-return"></textarea>
        <div class="reason-for-action-buttons">
          <button class="usa-button-outline" (click)="reasonOrCancel.open = false;">Cancel</button>
          <button class="{{ reasonOrCancel.buttonClass }}" (click)="updateApplicationStatus(application, reasonOrCancel.status)">{{ reasonOrCancel.confirmButtonText }}</button>
        </div>
      </div>
    </div>
  </div>
</section>
