<section id="application-view" class="usa-section">
  <div class="usa-grid">
    <div class="breadcrumbs">
      <a routerLink="/admin/applications">Permit applications</a> > <span>{{ application.eventName }}</span>
    </div>
    <div *ngIf="errorMessage" class="usa-alert usa-alert-error application-deadline-warning">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Error</h3>
        <p class="usa-alert-text">{{ errorMessage }}</p>
      </div>
    </div>
    <div class="usa-grid thin-grey-shadow padding-bottom-2 application-details" appTrackScroll (trackScrollEnter)="enter()" (trackScrollLeave)="leave()">
      <app-noncommercial-details *ngIf="application.type === 'noncommercial'" [application]="application"></app-noncommercial-details>
      <app-temp-outfitter-details *ngIf="application.type === 'tempOutfitters'" [application]="application"></app-temp-outfitter-details>
    </div>
  </div>

  <div class="app-ctas" [class.fixed]="fixedCtas">
    <div id="cta-buttons" *ngIf="!reasonOrCancel.open">
      <button id="accept-application-btn" class="usa-button-primary-alt app-cta" name="Accept" (click)="provideReasonOrCancel('Accepted')">Accept</button>
      <button id="hold-application-btn" class="usa-button app-cta" name="Hold" (click)="provideReasonOrCancel('Hold')">Hold</button>
      <button id="return-application-btn" class="usa-button-secondary app-cta" name="Return"(click)="provideReasonOrCancel('Returned')">Reject</button>
    </div>
    <div id="reason-for-action" class="usa-grid" *ngIf="reasonOrCancel.open">
      <div class="usa-width-one-whole">
        <div class="close-reason-for-action" aria-label="Close" (click)="reasonOrCancel.open = false;">Close</div>
        <label for="reason-for-return">{{ reasonOrCancel.label }}</label>
        <textarea id="reason-for-return"></textarea>
        <div class="reason-for-action-buttons">
          <button class="usa-button-outline" (click)="reasonOrCancel.open = false;">Cancel</button>
          <button class="{{ reasonOrCancel.buttonClass }}" (click)="updateApplicationStatus(application, reasonOrCancel.status)">{{ reasonOrCancel.confirmButtonText }}</button>
        </div>
      </div>
    </div>
  </div>
</section>
