// these variables are only here for USWDS defaults! The site breaks when they are removed.
$helvetica: 'helvetica';
$georgia: 'georgia';

@import '../node_modules/uswds/src/stylesheets/core/_defaults.scss';
@import 'sass/_all.scss';

body {
  background-color: $fs-tan;
}
