<section id="forest-finder-intro" class="usa-main">
  <div class="usa-grid">
    <div class="usa-main-callout">
      <h1 id="skip-nav-target" tabindex="-1">{{forest.forestName}}</h1>
    </div>
  </div>
</section>

<section id="forest-template">
    <div id="skip-nav-target" tabindex="-1" class="usa-width-one-whole">
      <app-section-heading heading="This Forest's Products" id="forest-list" tabIndex="-1"></app-section-heading>
      <div *ngFor="let item of forest| keyvalue">
        {{ item.key }} - {{ item.value }}
      </div>

      <div class="help-pick-flex" id="fs-background">
        <div class="small-col">
          <img alt="tree image" role="img" alt="Image of Trees" src="/assets/img/site-wide/test_home.jpg">
          <app-tree-cutting-dates [forest]="forest"></app-tree-cutting-dates>
        </div>
        <div class="big-col">
          <h2>Christmas Trees</h2>
          <p>{{forest.forestName}} allows you to purchase a Christmas tree permit online with Open Forest</p>
          <div class="button-row">
            <button [routerLink]="['/christmas-trees/forests/', forest.forestAbbr]" class="usa-button margin-top-1" tabIndex="-1">Learn More</button>
            <!-- testing season is open -->
            <button #staticBuyButton [routerLink]="['/christmas-trees/forests/', forest.forestAbbr, 'applications']" class="usa-button margin-top-1" tabIndex="-1">Get permit</button>
            <!-- <button #staticBuyButton *ngIf="forest.isSeasonOpen" [routerLink]="['/christmas-trees/forests/', forest.forestAbbr, 'applications']" class="usa-button margin-top-1" tabIndex="-1">Get permit</button> -->
          </div>
        </div>
      </div>
      <!-- <ngx-md *ngIf="forest && forest.content" [data]="forest.content.introduction"></ngx-md> -->

      <!--when to cut-->
      
      

      <app-section-heading heading="Contact us" tabIndex="-1" id="contact-information"></app-section-heading>
      <ngx-md class="contact-table" *ngIf="forest && forest.content" [data]="forest.content.forestContact"></ngx-md>

    </div>
</section>
