<div class="usa-grid">
  <app-breadcrumbs></app-breadcrumbs>
</div>
<section id="forest-finder-intro" class="usa-land" [ngStyle]="{'background-image': 'url(' + bgImg + ')'}">
  <div class="usa-grid">
    <div class="usa-land-callout">
      <h1 id="skip-nav-target" tabindex="-1">{{forest.description}}</h1>
    </div>
  </div>
</section>

<section *ngIf='!specialUse' id="forest-template">
    <div id="skip-nav-target" tabindex="-1" class="usa-width-one-whole">
      <app-section-heading heading="This Forest's Products" id="forest-list" tabIndex="-1"></app-section-heading>
      <div class="tree-flex" id="tree-background">
        <div class="small-col">
          <app-cutting-dates-min class="seas-dates" [forest]="forest"></app-cutting-dates-min>
        </div>
        <div class="big-col">
          <h2>Christmas Trees</h2>
          <p>{{forest.forestName}} allows you to purchase a Christmas tree permit online with Open Forest</p>
          <div class="button-row">
            <button [routerLink]="['/christmas-trees/forests/', forest.forestAbbr]" class="usa-button margin-top-1" tabIndex="-1">Learn More</button>
            <button #staticBuyButton [routerLink]="['/christmas-trees/forests/', forest.forestAbbr, 'applications']" class="usa-button-primary-alt margin-top-1" tabIndex="-1">Get permit</button>
          </div>
        </div>
      </div>
      <div class="diff">
        <h2 class="diff-head">Looking for something different?</h2>
        <p class="diff-text">Contact the forest office of visit their website to get more information on permit avialability for other forest products and special uses.</p>
      </div>
    </div>
</section>
<!-- end of good code -->

<section *ngIf='specialUse' id="forest-template">
  <div id="skip-nav-target" tabindex="-1" class="usa-grid usa-extra-wide">
    <div class="usa-width-one-half">
      <app-section-heading heading="This Forest's Products" id="forest-list" tabIndex="-1"></app-section-heading>
      <div class="tree-flex">
        <div class="small-col">
          <app-cutting-dates-min class="seas-dates" [forest]="forest"></app-cutting-dates-min>
        </div>
        <div class="big-col">
          <h2>Christmas Trees</h2>
          <p>{{forest.forestName}} allows you to purchase a Christmas tree permit online with Open Forest</p>
          <div class="button-row">
            <button [routerLink]="['/christmas-trees/forests/', forest.forestAbbr]" class="usa-button margin-top-1" tabIndex="-1">Learn More</button>
            <button #staticBuyButton [routerLink]="['/christmas-trees/forests/', forest.forestAbbr, 'applications']" class="usa-button-primary-alt margin-top-1" tabIndex="-1">Get permit</button>
          </div>
        </div>
      </div>
    </div>
    <div class="usa-width-one-half pad-one-half">
      <app-section-heading heading="Special Uses Permit Applications" id="forest-list" tabIndex="-1"></app-section-heading>
      <div class="special-use-bg" id="non-commercial-bg">
        <div class="special-use-info">
          <h3>Non-commercial Group</h3>
          <p>{{forest.forestName}} allows you to apply for a special use permit for large group free events.</p>
          <app-button class="wide-btn" link="/special-use/applications/noncommercial-group-use/new" btnAlt="true"></app-button>
          <app-button class="wide-btn" link="/special-use/applications/noncommercial-group-use/learn-more" learnMore="true"></app-button>
        </div>
      </div>
      <div class="special-use-bg" id="temp-outfitters-bg">
        <div class="special-use-info">
          <h3>Temporary Outfitter and Guide</h3>
          <p>{{forest.forestName}} allows you to apply for a special use permit for temporary outfitters and guides.</p>
          <app-button class="wide-btn" link="/special-use/applications/temp-outfitters/new" btnAlt="true"></app-button>
          <app-button class="wide-btn" link="/special-use/applications/temp-outfitters/learn-more" learnMore="true"></app-button>
        </div>
      </div>
    </div>
  </div>
  <div class="diff">
    <h2 class="diff-head">Looking for something different?</h2>
    <p class="diff-text">Contact the forest office of visit their website to get more information on permit avialability for other forest products and special uses.</p>
  </div>
</section>

<section id="contact-us">
  <div id="skip-nav-target" tabindex="-1" class="usa-width-one-whole">
    <div class="left-contact">
      <em class="fas fa-phone phone-ico"></em>
    </div>
    <div class="right-contact">
      <app-section-heading heading="Contact us" tabIndex="-1" id="contact-information"></app-section-heading>
      <p>Please contact us through the {{forest.forestName}} local ranger district offices and public services centers with any questions</p>
    </div>
    
    <ngx-md class="contact-table" *ngIf="forest && forest.content" [data]="forest.content.forestContact"></ngx-md>
    <div class="diff">
      <h2 class="diff-head">
        Not your Nearest Forest?
      </h2>
      <h3>Search by your Location</h3>
    </div>
  </div>
  <!-- map placeholder below -->
  <div class="usa-grid">
  </div>
  <div class="map-grid">
  </div>
  <!-- end of map placeholder -->
</section>




