<section class="usa-section">
  <div class="usa-grid">
    <h1>Applications</h1>
    <div *ngIf="apiErrors" class="usa-alert usa-alert-error" role="alert">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">There are errors preventing your data from loading</h3>
        <ul class="usa-alert-text">
          <li *ngFor="let error of apiErrors">{{error}}</li>
        </ul>
      </div>
    </div>
    <table id="applications-list">
      <thead>
        <tr>
          <th scope="col">Event name</th>
          <th scope="col">Location</th>
          <th scope="col">Start date</th>
          <th scope="col">End date</th>
          <th scope="col">Created</th>
          <th scope="col">Control Number</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
        <tr></tr>
      </thead>
      <tbody>
        <tr *ngFor="let application of applications">
          <td>{{application.eventName}}</td>
          <td>{{application.noncommercialFields.locationDescription}}</td>
          <td>{{ application.noncommercialFields.startDateTime | date: 'MM/dd/yyyy hh:mm a Z' }}</td>
          <td>{{ application.noncommercialFields.endDateTime | date: 'MM/dd/yyyy hh:mm a Z' }}</td>
          <td>{{ application.createdAt | date: 'MM/dd/yyyy hh:mm a Z' }}</td>
          <td>{{ application.controlNumber }}</td>
          <td>{{ application.status }}</td>
          <td><a class="usa-button" routerLink="/admin/applications/{{application.appControlNumber}}">View</a></td>
        </tr>
      </tbody>
    </table>
    <div class="application-list">
      <div class="application-field-list-labels">
        <div>Event name</div>
        <div>Date Submitted</div>
        <div>Date(s)</div>
        <div>Location</div>
        <div>Permit Holder</div>
        <div>&nbsp;</div>
      </div>
      <div *ngFor="let application of applications" class="application-field-list-values">
        <div><strong>{{ application.eventName }}</strong></div>
        <div>{{ application.createdAt | date: 'MM/dd/yyyy hh:mm a Z' }}</div>
        <div>{{ application.noncommercialFields.startDateTime | date: 'MM/dd/yyyy hh:mm a Z' }} to {{ application.noncommercialFields.endDateTime | date: 'MM/dd/yyyy hh:mm a Z' }}</div>
        <div>{{ application.noncommercialFields.locationDescription }}</div>
        <div>{{ application.applicantInfo.primaryFirstName }} {{ application.applicantInfo.primaryLastName }}</div>
        <div><a class="usa-button" routerLink="/admin/applications/{{application.appControlNumber}}">Details</a></div>
      </div>
    </div>
  </div>
</section>
