<section class="usa-section">
  <div class="usa-grid">
    <h1>Applications</h1>
    <div *ngIf="apiErrors" class="usa-alert usa-alert-error" role="alert">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">There are errors preventing your data from loading</h3>
        <ul class="usa-alert-text">
          <li *ngFor="let error of apiErrors">{{error}}</li>
        </ul>
      </div>
    </div>
    <table id="applications-list">
      <thead>
        <tr>
          <th scope="col">Event name</th>
          <th scope="col">Location</th>
          <th scope="col">Start date</th>
          <th scope="col">End date</th>
          <th scope="col">Created</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
        <tr></tr>
      </thead>
      <tbody>
        <tr *ngFor="let application of applications">
          <td>{{application.eventName}}</td>
          <td>{{application.noncommercialFieldsActivityDescription}}</td>
          <td>{{application.noncommercialFieldsStartDateTime | date:'M/d/y'}}</td>
          <td>{{application.noncommercialFieldsEndDateTime | date:'M/d/y'}}</td>
          <td>{{application.createdAt | date:'M/d/y'}}</td>
          <td>{{application.status}}</td>
          <td><a class="usa-button" routerLink="/admin/applications/{{application.id}}">View</a></td>
          <!-- <td>{{application.eventName}}</td>
          <td>{{application.noncommercialFieldsLocationDescription}}</td>
          <td>{{application.noncommercialFieldsStartMonth}}/{{application.noncommercialFieldsStartDay}}/{{application.noncommercialFieldsStartYear}}</td>
          <td>{{application.noncommercialFieldsEndMonth}}/{{application.noncommercialFieldsEndDay}}/{{application.noncommercialFieldsEndYear}}</td>
          <td>{{application.createdAt| date:'M/d/y'}}</td>
          <td>{{application.status}}</td>
          <td><a routerLink="/permit-application-view">View</a></td> -->
        </tr>
      </tbody>
    </table>
  </div>
</section>
