<section class="usa-section">
  <div class="usa-grid">
    <h1>Applications</h1>
    <table id="applications-list">
      <thead>
        <tr>
          <th scope="col">Event name</th>
          <th scope="col">Location</th>
          <th scope="col">Start date</th>
          <th scope="col">End date</th>
          <th scope="col">Created</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
        <tr></tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Christopher Sample Event</th>
          <td>Charlotte Park</td>
          <td>Nov. 7, 2016, 12:00 P.M.</td>
          <td>Nov. 8, 2016, 12:00 P.M.</td>
          <td>Nov. 4, 2016, 12:58 P.M.</td>
          <td>Returned</td>
          <td><a routerLink="/permit-application-view">View</a></td>
        </tr>
        <tr>
          <th scope="row">Matthew</th>
          <td>Hell</td>
          <td>Nov. 4, 2016, 12:00 P.M.</td>
          <td>Nov. 4, 2016, 12:00 P.M.</td>
          <td>Nov. 4, 2016, 5:24 P.M.</td>
          <td>Received</td>
          <td><a routerLink="/permit-application-view">View</a></td>
        </tr>
        <tr>
          <th scope="row">Pizza Party</th>
          <td>downtown</td>
          <td>Nov. 5, 2016, 12:00 P.M.</td>
          <td>Nov. 4, 2016, 12:00 P.M.</td>
          <td>Nov. 4, 2016, 1:20 P.M.</td>
          <td>Received</td>
          <td><a href="#">View</a></td>
        </tr>
        <tr>
          <th scope="row">Chris Smaple Event</th>
          <td>Charlotte Park</td>
          <td>Nov. 7, 2016, 12:00 P.M.</td>
          <td>Nov. 8, 2016, 12:00 P.M.</td>
          <td>Nov. 4, 2016, 12:42 P.M.</td>
          <td>Received</td>
          <td><a routerLink="/permit-application-view">View</a></td>
        </tr>
        <tr>
          <th scope="row">Saddle Club Annual Event</th>
          <td>Horsetooth Mountain</td>
          <td>Nov. 11, 2016, 12:00 P.M.</td>
          <td>Nov. 11, 2016, 12:00 P.M.</td>
          <td>Nov. 4, 2016, 2:14 P.M.</td>
          <td>Received</td>
          <td><a routerLink="/permit-application-view">View</a></td>
        </tr>
        <tr>
          <th scope="row">Test</th>
          <td>Test</td>
          <td>Feb. 23, 2017, 12:00 P.M.</td>
          <td>Feb. 23, 2017, 12:00 P.M.</td>
          <td>Feb. 23, 2017, 6:58 P.M.</td>
          <td>Accepted</td>
          <td><a routerLink="/permit-application-view">View</a></td>
        </tr>
        <tr>
          <th scope="row">Colin</th>
          <td>Test</td>
          <td>Feb. 23, 2017, 12:00 P.M.</td>
          <td>Feb. 23, 2017, 12:00 P.M.</td>
          <td>Feb. 23, 2017, 7:10 P.M.</td>
          <td>Accepted</td>
          <td><a routerLink="/permit-application-view">View</a></td>
        </tr>
        <tr>
          <th scope="row">Test</th>
          <td>Good description of location</td>
          <td>April 18, 2017, 6:19 P.M.</td>
          <td>April 18, 2017, 6:19 P.M.</td>
          <td>April 18, 2017, 6:21 P.M.</td>
          <td>Accepted</td>
          <td><a routerLink="/permit-application-view">View</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
