<div *ngIf="(forest.forestAbbr) == 'ipnf'">
  <h3>When to cut firewood {{forest.forestAbbr}}</h3>
  <p>Firewood permits are valid through December 31, 2020.</p>
  <p>See <a>prohibited areas and restrictions</a> for more information.</p>
  <h3>Cost</h3>
  <p>Firewood permits are <strong>$5.00 per cord</strong> with a <strong>4 cord ($20) minimum purchase. </strong>Limit of 12 cords per household per year. All permits are nonrefundable.
  <h3>Buy a permit</h3>
  <p>You can buy firewood permits online or in-person at one of <a>our district offices</a>.</p>
</div>

<div *ngIf="(forest.forestAbbr) == 'flathead'">
  <h3>I am flathead</h3>
</div>
