<h3>When to cut firewood</h3>
<p>Firewood permits are available through the calendar year. However,
  <strong>firewood cutting is not allowed at certain times of year</strong>
  in parts of the forest.
</p>
<p>See <a>prohibited areas and restrictions</a> for more information.</p>
<h3>Cost</h3>
<p>Firewood permits are $20.00 for <a>4 cords of wood</a>. All permits are nonrefundable.</p>
<h3>Buy a permit</h3>
<p>You can buy firewood permits online or in-person at one of <a>our district offices</a>.</p>