<section class="usa-section">
  <div class="usa-grid">
    <h1>Apply for a Permit</h1>
    <p>If you know which permit you need, click on the permit link below to fill out and submit that permit. If you're not sure which permit is the right permit for you, click on the "Help Me Find a Permit" button and we'll guide you to the correct permit.</p>
    <p>
      <a class="usa-button" routerLink="/applications/noncommercial-group-use/new">Noncommercial Permit</a>
      <button class="usa-button" type="button">Commercial Permit</button>
      <button class="usa-button" type="button">Temp Outfitter's Permit</button>
      <button class="usa-button" type="button">Another Permit</button>
    </p>
    <p><a class="usa-button" routerLink="/pg-flow-step-2">Help me find a Permit</a></p>
  </div>
</section>
