<section id="forest-finder-intro" class="usa-main">
  <div class="usa-grid">
    <div class="usa-main-callout">
      <h2 class="usa-main-top" tabindex="-1">THE U.S. FOREST SERVICE</h2>
      <h1 id="skip-nav-target" tabindex="-1">OPEN FOREST</h1>
      <h3 tabindex="-1">invites you to obtain a permit from participating national forests</h3>
    </div>
  </div>
</section>

<div class="usa-grid">
  <h2 class="usa-target" tabindex="-1">Forest Products Permits</h2>
</div>

<div class="card-container">
  <div class="card tree-card">
    <a href="#">
      <div class="description">
        <h3>Christmas Trees</h3>
        <p>Buy a Christmas tree permit with Open Forest</p>
        <a href="/christmas-trees/forests"><strong>Learn More</strong></a>
      </div>
    </a>
  </div>
  <div class="card mushroom-card">
    <a href="#">
      <div class="description">
        <h3>Mushrooms</h3>
        <p>Not available through Open Forest, please contact your local forest for Availability.
        </p>
        </div>
      </a>
    </div>
    <div class="card huckleberry-card">
      <a href="#">
        <div class="description">
          <h3>Huckleberries</h3>
          <p>Not available through Open Forest, please contact your local forest for Availability.
          </p>
        </div>
      </a>
    </div>
    <div class="card firewood-card">
      <a href="#">
        <div class="description">
          <h3>Firewood</h3>
          <p>Not available through Open Forest, please contact your local forest for Availability.</p>
        </div>
      </a>
    </div>
  </div>

  <div class="usa-grid">
    <h2 class="usa-target" tabindex="-1">Find a national forest near you</h2>
  </div>

  <div class="map-grid">
    <h1>I"M A MAPPPP</h1>
  </div>

<section id="home" class="usa-section">

  <!-- special use section -->
  <h2 class="usa-target" tabindex="-1">Special Uses Permit Applications</h2>
  <div class="mbs-section usa-grid usa-grid-wide">
    <div class="mbs-image-container left-image">
      <div class="mbs-image-hero">
        <span class="hero-icon">
          <img src="/assets/img/site-wide/clear-icon.png"/>
        </span>
        <h3>Non-commercial Group Use</h3>
        <ul>
          <li>A free permit for activities of 75 or more people</li>
          <li>No entry fees can be charged</li>
        </ul>
        <h3 class="link-text" routerLink="/special-use">Learn More</h3>
      </div>
    </div>
    <div class="mbs-image-container right-image">
      <div class="mbs-image-hero">
        <span class="hero-icon">
          <img src="/assets/img/site-wide/clear-icon.png"/>
        </span>
        <h3>Temporary Outfitting and Guiding</h3>
        <ul>
          <li>For outfitters and guides who charge a fee</li>
          <li>Short-term, non renewable</li>
        </ul>
        <h3 class="link-text" routerLink="/special-use">Learn More</h3>
      </div>
    </div>
  </div>

  <div class="usa-width-one-whole wrapper" id="notsure-background">
    <div class="option-content">
      <h2>Lets test some other links</h2>
    </div>
    <div>
      <a id="help-find-permit" class="usa-button-primary-alt usa-button usa-button-small display-inline" routerLink="/special-use/help-me-pick/1">Help me find a permit</a>
    </div>
    <div>
      <a class="usa-button-primary-alt usa-button usa-button-small display-inline" routerLink="/special-use/user/applications">User Applications</a>
    </div>
    <div>
      <a class="usa-button-primary-alt usa-button usa-button-small display-inline" routerLink="/admin/applications">Admin Applications</a>
    </div>
  </div>
</section>
