<section id="firewood-forest-finder">
  <app-forest-finder></app-forest-finder>
</section>

<section id="home" class="usa-section">

  <!-- special use section -->
  <h2 class="usa-target" tabindex="-1">Special Uses Permit Applications</h2>
  <div class="usa-grid usa-grid-wide">

    <div class="usa-width-one-half wrapper no-rmargin" >
        <div class="usa-width-one-half darkbg fixed-height wrapper no-rmargin">
            <h3 class="card-title">Non-Commercial Group Use Permit</h3>
            <ul>
                <li>A free permit for activities of 75 or more people</li>
                <li>No entry fees can be charged</li>
                <li>Primary purpose isn't selling goods or services</li>
                <li>Application Time: Appx. 20-30 minutes</li>
                <li>You will need: Event details such as date, time, etc.</li>
              </ul>
              <app-button link="/special-use/applications/noncommercial-group-use/new" btnAlt="true"></app-button>
              <app-button link="/special-use/applications/noncommercial-group-use/learn-more" learnMore="true"></app-button>
        </div>
        <div class="usa-width-one-half wrapper fixed-height" id="noncommercial-background">
        </div>
    </div>

    <div class="usa-width-one-half wrapper no-rmargin">
        <div class="usa-width-one-half wrapper fixed-height darkbg no-rmargin">
            <h3 class="card-title">Temporary Outfitting and Guiding Permit</h3>
            <ul>
                <li>For outfitters and guides who charge a fee</li>
                <li>Short-term, non renewable</li>
                <li>Application Time: Appx. 1 hour</li>
                <li>You may need: Certificate of good standing or equivelant, operating plan, liability insurance and more (see "Learn More")</li>
              </ul>
              <app-button link="/special-use/applications/temp-outfitters/new" btnAlt="true"></app-button>
              <app-button link="/special-use/applications/temp-outfitters/learn-more" learnMore="true"></app-button>
        </div>
        <div class="usa-width-one-half wrapper fixed-height" id="tempoutfitter-background">
        </div>
    </div>

  </div>


  <div id="help-pick-background">
    <div class="help-pick-flex">
      <div class="small-col small-col-left">
        <span class="hero-icon">
          <i class="far fa-question-circle usa-ico"></i>
        </span>
      </div>
      <div class="big-col">
        <h2 class="left-align">I’m not sure which permit I need...</h2>
        <p class="left-align">If you’re not sure about what kind of permit you need, click on the button below to answer a few questions. We will guide you to the permit that best meets your needs.</p>
      </div>
      <div class="small-col">
        <a id="help-find-permit" class="usa-button-primary-alt usa-button usa-button display-inline" routerLink="/special-use/help-me-pick/1">Help me find a permit</a>
      </div>
    </div>

    <div class="help-pick-flex">
      <div class="small-col small-col-left">
        <span class="hero-icon">
          <i class="fas fa-tree usa-ico"></i>
        </span>
      </div>
      <div class="big-col">
        <h2 class="left-align">Looking for Christmas trees?</h2>
        <p class="left-align">Please click on the following link to be redirected to the new online sales of Christmas Tree permits for the USFS at <a href="https://www.recreation.gov/">recreation.gov</a></p>
      </div>
      <div class="small-col"></div>
    </div>
  </div>

  <div class="usa-grid find-forest">
    <h2 class="usa-target" tabindex="-1">Find a national forest near you</h2>
  </div>

  <app-esri-map></app-esri-map>

  <div class="help-pick-flex" id="fs-background">
    <div class="big-col">
      <p class="left-align">The Forest Service is a multi-faceted agency that protects 154 national forests and 20 grasslands in 43 states and Puerto Rico. Our mission is to sustain the health,
        diversity, and productivity of the nation's forests and grasslands to meet the needs of present and future generations.</p>
    </div>
    <div class="small-col">
      <img alt="US Forest Service" class="fs-logo" role="img" alt="US Forest Service Department of Agriculture" src="/assets/img/site-wide/usfslogo.svg">
    </div>
  </div>
</section>
