<section id="forest-finder-intro" class="usa-main">
  <div class="usa-grid">
    <div class="usa-main-callout">
      <h2 class="usa-main-top" tabindex="-1">THE U.S. FOREST SERVICE</h2>
      <h1 id="skip-nav-target" tabindex="-1">OPEN FOREST</h1>
      <h3 tabindex="-1">invites you to obtain a permit from participating national forests</h3>
    </div>
  </div>
</section>

<div class="usa-grid">
  <h2 class="usa-target" tabindex="-1">Forest Products Permits</h2>
</div>

<div class="card-container">
  <div class="card tree-card">
    <a href="#">
      <div class="description">
        <h3>Christmas Trees</h3>
        <p>Buy a Christmas tree permit with Open Forest</p>
        <a href="/christmas-trees/forests"><strong>Learn More</strong></a>
      </div>
    </a>
  </div>
  <div class="card mushroom-card">
    <a href="#">
      <div class="description">
        <h3>Mushrooms</h3>
        <p>Not available through Open Forest, please contact your local forest for Availability.
        </p>
        </div>
      </a>
    </div>
    <div class="card huckleberry-card">
      <a href="#">
        <div class="description">
          <h3>Huckleberries</h3>
          <p>Not available through Open Forest, please contact your local forest for Availability.
          </p>
        </div>
      </a>
    </div>
    <div class="card firewood-card">
      <a href="#">
        <div class="description">
          <h3>Firewood</h3>
          <p>Not available through Open Forest, please contact your local forest for Availability.</p>
        </div>
      </a>
    </div>
  </div>

  <div class="usa-grid">
    <h2 class="usa-target" tabindex="-1">Find a national forest near you</h2>
  </div>

  <div class="map-grid">
    <h1>I"M A MAPPPP</h1>
  </div>

<section id="home" class="usa-section">

  <!-- special use section -->
  <h2 class="usa-target" tabindex="-1">Special Uses Permit Applications</h2>
  <div class="mbs-section usa-grid usa-grid-wide">
    <div class="mbs-image-container left-image">
      <div class="mbs-image-hero">
        <span class="hero-icon">
          <i class="fas fa-users usa-ico"></i>
        </span>
        <h3>Non-commercial Group Use</h3>
        <ul>
          <li>A free permit for activities of 75 or more people</li>
          <li>No entry fees can be charged</li>
        </ul>
        <a href="/special-use/applications/noncommercial-group-use/learn-more"><strong>Learn More</strong></a>
      </div>
    </div>
    <div class="mbs-image-container right-image">
      <div class="mbs-image-hero">
        <span class="hero-icon">
          <i class="fas fa-hiking usa-ico"></i>
        </span>
        <h3>Temporary Outfitting and Guiding</h3>
        <ul>
          <li>For outfitters and guides who charge a fee</li>
          <li>Short-term, non renewable</li>
        </ul>
        <a href="/special-use/applications/temp-outfitters/learn-more"><strong>Learn More</strong></a>
      </div>
    </div>
  </div>

  <div class="help-pick-flex" id="help-pick-background">
    <div class="small-col">
      <span class="hero-icon">
        <i class="far fa-question-circle usa-ico"></i>
      </span>
    </div>
    <div class="big-col">
      <h2 class="left-align">I’m not sure which permit I need...</h2>
      <p class="left-align">If you’re not sure about what kind of permit you need, click on the button below to answer a few questions. We will guide you to the permit that best meets your needs.</p>
    </div>
    <div class="small-col">
      <a id="help-find-permit" class="usa-button-primary-alt usa-button usa-button display-inline" routerLink="/special-use/help-me-pick/1">Help me find a permit</a>
    </div>
  </div>

  <div class="help-pick-flex" id="fs-background">
    <div class="big-col">
      <p class="left-align">The Forest Service is a multi-faceted agency that protects 154 national forests and 20 grasslands in 43 states and Puerto Rico. Our mission is to sustain the health,
        diversity, and productivity of the nation's forests and grasslands to meet the needs of present and future generations.</p>
    </div>
    <div class="small-col">
      <img alt="US Forest Service" class="fs-logo" role="img" alt="US Forest Service Department of Agriculture" src="/assets/img/site-wide/usfslogo.svg">
    </div>
  </div>
</section>
