.usa-nav {
    background-color: $fs-green;
    .usa-nav-primary {
        button[aria-expanded=false] {
            background-image: url(../img/angle-arrow-down-hover.png) !important;
            background-image: url(../img/angle-arrow-down-hover.svg) !important;
        }
        li {
            a,
            span {
                color: $white;
                font-size: 12px;
            }
        }
    }
}
