$font-sans: 'Arial', 'helvetica';
$font-sans-alt: 'Verdana';

$white: #FFFFFF;
$grey: #5b616b;
$medium-grey: #dddddd;
$fs-white: #E6FAE9;
$fs-green: #076727;
$fs-green-darker: #0a531b;
$fs-tan: rgba(242,239,231,1.0);
