<ng-container [formGroup]="tempOutfitterFields">
  <fieldset>

    <legend>Advertising</legend>

    <label class="usa-input" for="advertising-url">Promotional website (optional)</label>
    <input id="advertising-url" type="url" formControlName="advertisingURL" pattern="https?://.+" />
    <app-error-message fieldId="advertising-url-error" name="Advertising url" [control]="tempOutfitterFields.controls.advertisingURL"></app-error-message>

    <label class="usa-input" for="advertising-description">Advertising description (optional)</label>
    <p class="help-text usa-form-hint">Any other marketing details related to your trips.</p>
    <textarea id="advertising-description" type="text" formControlName="advertisingDescription" aria-required="true"></textarea>
    <app-error-message fieldId="advertising-description-error" name="Advertising description" [control]="tempOutfitterFields.controls.advertisingDescription"></app-error-message>

  </fieldset>
</ng-container>
