<ng-container [formGroup]="tempOutfitterFields">
  <fieldset>
    <legend>Client Charges</legend>

    <label class="usa-input" for="client-charges">Provide a description of client charges and fees and what they cover.</label>
    <textarea id="client-charges" type="text" formControlName="clientCharges" aria-required="true"></textarea>
    <app-error-message id="client-charges-error" name="Client charges" [control]="tempOutfitterFields.controls.clientCharges"></app-error-message>

  </fieldset>
</ng-container>
