<ng-container [formGroup]="tempOutfitterFields">
  <fieldset>
    <legend>Client Charges</legend>
    <label class="usa-input" id="client-charges-label">Provide description of the fees you plan to charge your clients, and what those fees would cover. <span class="required-fields-asterisk">*</span></label>
    <p id="client-charges-hint-text" class="help-text usa-form-hint">Your description of client fees will not impact what you would be charged for this permit. Charges for a temporary outfitting and guiding permit are based on a flat rate.</p>
    <textarea id="client-charges" type="text" formControlName="clientCharges" aria-required="true"
      [attr.aria-labelledby]="afs.labelledBy(tempOutfitterFields.controls.clientCharges, 'client-charges-label client-charges-hint-text', 'client-charges-error')"
      [attr.aria-invalid]="afs.hasError(tempOutfitterFields.controls.clientCharges)"></textarea>
    <app-error-message fieldId="client-charges-error" name="Client charges" [control]="tempOutfitterFields.controls.clientCharges"></app-error-message>

  </fieldset>
</ng-container>
