<ng-container [formGroup]="parentForm">
  <fieldset formGroupName="{{ experienceFields }}">
    <legend>Experience</legend>

    <input id="have-national-forest-permits" type="checkbox" formControlName="haveNationalForestPermits" />
    <label id="have-national-forest-permits-label" class="usa-input" for="have-national-forest-permits">{{ pointOfView }} have held permits for outfitting and guiding on National Forest System lands in the past 3 years.</label>
    <ng-container *ngIf="parentForm.get('experienceFields.haveNationalForestPermits').value">
      <label class="usa-input" for="list-all-national-forest-permits">List all permits for outfitting and guiding on National Forest System lands that you have held in the past 3 years.</label>
      <textarea id="list-all-national-forest-permits" formControlName="listAllNationalForestPermits" aria-required="true"></textarea>
      <app-error-message fieldId="list-all-national-forest-permits-error" name="A list of your US Forest Service permits" [control]="parentForm.get('experienceFields.listAllNationalForestPermits')"></app-error-message>
    </ng-container>

    <input id="have-other-permits" type="checkbox" formControlName="haveOtherPermits" />
    <label id="have-other-permits-label" class="usa-input" for="have-other-permits">{{ pointOfView }} have held permits with other federal or state agencies in the past 3 years.</label>
    <ng-container *ngIf="parentForm.get('experienceFields.haveOtherPermits').value">
      <label class="usa-input" for="list-all-other-permits">List all permits that you have held with other federal or state agencies in the past 3 years.</label>
      <textarea id="list-all-other-permits" formControlName="listAllOtherPermits" aria-required="true"></textarea>
      <app-error-message fieldId="list-all-other-permits-error" name="A list of your other permits" [control]="parentForm.get('experienceFields.listAllOtherPermits')"></app-error-message>
    </ng-container>

    <input id="have-citations" type="checkbox" formControlName="haveCitations" />
    <label id="have-citations-label" class="usa-input" for="have-citations">{{ pointOfView }} have been issued citations or violations in association with outfitting and guiding activities.</label>
    <ng-container *ngIf="parentForm.get('experienceFields.haveCitations').value">
      <label class="usa-input" for="list-all-other-permits">List all citations or violations received in association with outfitting and guiding activities.</label>
      <p class="help-text usa-form-hint">Answers to this and other questions are used to assess whether you have "the financial or technical capability to undertake the use and to fully comply with the terms and conditions of the authorization."</p>
      <textarea id="list-all-citations" formControlName="listAllCitations" aria-required="true"></textarea>
      <app-error-message fieldId="list-all-citations-error" name="A list of your citations or violations" [control]="parentForm.get('experienceFields.listAllCitations')"></app-error-message>
    </ng-container>

  </fieldset>
</ng-container>
