<div class="usa-file-input" [ngClass]="{'file-selected ng-valid': uploader.queue[0], 'ng-untouched': !uploader.queue[0], 'ng-invalid': errorMessage, 'required': required}">
  <button (click)="clickInput($event)" [attr.aria-label]="!field.value ? 'click here to upload a file for ' + name: 'click here to replace file for ' + name" class="usa-button upload-file-btn" [ngClass]="{'usa-button-secondary-alt': uploader.queue[0]}" aria-live="polite" [attr.aria-required]="required ? 'true' : null">
    <span id="{{type}}-choose-file" *ngIf="!uploader.queue[0] && !field.value">Choose file</span>
    <span id="{{type}}-replace-file" *ngIf="uploader.queue[0] || field.value">Replace<span class="hidden-text"> file </span></span>
    <span class="hidden-text">to upload for {{name}}</span>
  </button>
  <input name="{{type}}" type="file" id="{{type}}" ng2FileSelect [uploader]="uploader" [attr.aria-required]="required ? 'true' : null" tabindex="5000"
    [attr.aria-labelledby]="errorMessage ? type + '-error' : type + '-label'"
    [attr.aria-invalid]="errorMessage ? 'true' : 'false'"
  />
  <div *ngIf="!uploader.queue[0] && !field.value">No file selected.</div>
  <div id="{{type}}-file-name" class="file-name" *ngIf="uploader.queue[0] || field.value">{{field.value}}</div>
  <span *ngIf="errorMessage" id="{{type}}-error" class="usa-input-error-message" role="alert" aria-live="assertive" aria-hidden="false">{{errorMessage}}</span>
</div>
