<ng-container [formGroup]="parentForm">
  <ng-container formGroupName="{{formName}}">
    <label id="location-label" class="usa-input">Location <span class="required-fields-asterisk">*</span></label>
    <span id="location-hint-text" class="help-text usa-form-hint">Description of National Forest lands and facilities you would like to use.</span>
    <input id="location" type="text" formControlName="locationDescription" aria-required="true"
      [attr.aria-labelledby]="afs.labelledBy(noncommercialFields.controls.locationDescription, 'location-label location-hint-text', 'location-error')"
      [attr.aria-invalid]="afs.hasError(noncommercialFields.controls.locationDescription)"
    />
    <app-error-message fieldId="location-error" name="Location" [control]="noncommercialFields.controls.locationDescription"></app-error-message>

    <label id="participants-label" class="usa-input">Estimated number of participants <span class="required-fields-asterisk">*</span></label>
    <span id="participants-hint-text" class="help-text usa-form-hint">Please provide the number of event participants.</span>
    <input id="participants" type="number" (keypress)="numberOnly($event)" formControlName="numberParticipants" aria-required="true" min="1"
      [attr.aria-labelledby]="afs.labelledBy(noncommercialFields.controls.numberParticipants, 'participants-label participants-hint-text', 'participants-error')"
      [attr.aria-invalid]="afs.hasError(noncommercialFields.controls.numberParticipants)"
    />
    <app-error-message fieldId="participants-error" name="Participants" [control]="noncommercialFields.controls.numberParticipants"></app-error-message>

    <label id="spectators-label" class="usa-input">Estimated number of spectators <span class="required-fields-asterisk">*</span></label>
    <span id="spectators-hint-text" class="help-text usa-form-hint">If your event will have spectators (such as a sporting event), please provide the number of spectators.</span>
    <input id="spectators" type="number" (keypress)="numberOnly($event)" formControlName="numberSpectators" aria-required="true"
      [attr.aria-labelledby]="afs.labelledBy(noncommercialFields.controls.numberSpectators, 'spectators-label spectators-hint-text', 'spectators-error')"
      [attr.aria-invalid]="afs.hasError(noncommercialFields.controls.numberSpectators)"
    />
    <app-error-message fieldId="spectators-error" name="Spectators" [control]="noncommercialFields.controls.numberSpectators"></app-error-message>

    <app-error-message fieldId="total-attendees-error" name="Total attendees" [control]="noncommercialFields"></app-error-message>

    <label id="activity-description-label" class="usa-input">Description of proposed activity <span class="required-fields-asterisk">*</span></label>
    <textarea id="activity-description" formControlName="activityDescription" aria-required="true"
      [attr.aria-labelledby]="afs.labelledBy(noncommercialFields.controls.activityDescription, 'activity-description-label', 'activity-description-error')"
      [attr.aria-invalid]="afs.hasError(noncommercialFields.controls.activityDescription)"></textarea>
    <app-error-message fieldId="activity-description-error" name="Activity description" [control]="noncommercialFields.controls.activityDescription"></app-error-message>
  </ng-container>
</ng-container>
