
<div [formGroup]="applicantInfo" *ngIf="!type">
    <label id="{{unique}}-primary-permit-holder-first-name-label" class="usa-input">Permit holder first name</label>
    <input id="{{unique}}-primary-permit-holder-first-name" class="primary-permit-holder-first-name" type="text" formControlName="firstName"
    [attr.aria-labelledby]="afs.labelledBy(applicantInfo.controls.primaryFirstName, unique+'-primary-permit-holder-first-name-label', unique+'-primary-permit-holder-first-name-error')"
    [attr.aria-invalid]="afs.hasError(applicantInfo.controls.primaryFirstName)"
    aria-required="true" aria-controls="primary-permit-holder-first-name" />
    <app-error-message fieldId="{{unique}}-primary-permit-holder-first-name-error" name="First name" [control]="applicantInfo.controls.firstName"></app-error-message>


    <label id="{{unique}}-primary-permit-holder-last-name-label" class="usa-input">Permit holder last name</label>
    <input id="{{unique}}-primary-permit-holder-last-name" class="primary-permit-holder-last-name" type="text" formControlName="lastName"
      [attr.aria-labelledby]="afs.labelledBy(applicantInfo.controls.primaryLastName, unique+'-primary-permit-holder-last-name-label', unique+'-primary-permit-holder-last-name-error')"
      [attr.aria-invalid]="afs.hasError(applicantInfo.controls.primaryLastName)"
      aria-required="true" aria-controls="primary-permit-holder-last-name" />
    <app-error-message fieldId="{{unique}}-primary-permit-holder-last-name-error" name="Last name" [control]="applicantInfo.controls.lastName"></app-error-message>
</div>

<div [formGroup]="applicantInfo" *ngIf="type === 'primary'">
    <label id="{{unique}}-primary-permit-holder-first-name-label" class="usa-input">{{ name }} first name</label>
    <input id="{{unique}}-primary-permit-holder-first-name" class="primary-permit-holder-first-name" type="text" formControlName="primaryFirstName"
    [attr.aria-labelledby]="afs.labelledBy(applicantInfo.controls.primaryFirstName, unique+'-primary-permit-holder-first-name-label', unique+'-primary-permit-holder-first-name-error')"
    [attr.aria-invalid]="afs.hasError(applicantInfo.controls.primaryFirstName)"
    aria-required="true" aria-controls="primary-permit-holder-first-name" />
    <app-error-message fieldId="{{unique}}-primary-permit-holder-first-name-error" name="Primary permit holder first name" [control]="applicantInfo.controls.primaryFirstName"></app-error-message>


    <label id="{{unique}}-primary-permit-holder-last-name-label" class="usa-input">{{ name }} last name</label>
    <input id="{{unique}}-primary-permit-holder-last-name" class="primary-permit-holder-last-name" type="text" formControlName="primaryLastName"
      [attr.aria-labelledby]="afs.labelledBy(applicantInfo.controls.primaryLastName, unique+'-primary-permit-holder-last-name-label', unique+'-primary-permit-holder-last-name-error')"
      [attr.aria-invalid]="afs.hasError(applicantInfo.controls.primaryLastName)"
      aria-required="true" aria-controls="primary-permit-holder-last-name" />
    <app-error-message fieldId="{{unique}}-primary-permit-holder-last-name-error" name="Primary permit holder last name" [control]="applicantInfo.controls.primaryLastName"></app-error-message>
</div>

<div [formGroup]="applicantInfo" *ngIf="type === 'secondary'">
    <label id="{{unique}}-secondary-permit-holder-first-name-label" class="usa-input">{{ name }} first name</label>
    <input id="{{unique}}-secondary-permit-holder-first-name" class="secondary-permit-holder-first-name"
      [attr.aria-labelledby]="afs.labelledBy(applicantInfo.controls.secondaryFirstName, unique+'-secondary-permit-holder-first-name-label', unique+'-secondary-permit-holder-first-name-error')"
      [attr.aria-invalid]="afs.hasError(applicantInfo.controls.secondaryFirstName)"
      type="text" formControlName="secondaryFirstName" aria-required="true" />
    <app-error-message fieldId="{{unique}}-secondary-permit-holder-first-name-error" name="Secondary permit holder first name" [control]="applicantInfo.controls.secondaryFirstName"></app-error-message>

    <label id="{{unique}}-secondary-permit-holder-last-name-label" class="usa-input">{{ name }} last name</label>
    <input id="{{unique}}-secondary-permit-holder-last-name" class="secondary-permit-holder-last-name"
      [attr.aria-labelledby]="afs.labelledBy(applicantInfo.controls.secondaryLastName, unique+'-secondary-permit-holder-last-name-label', unique+'-secondary-permit-holder-last-name-error')"
      [attr.aria-invalid]="afs.hasError(applicantInfo.controls.secondaryLastName)"
      type="text" formControlName="secondaryLastName" aria-required="true" />
    <app-error-message fieldId="{{unique}}-secondary-permit-holder-last-name-error" name="Secondary permit holder last name" [control]="applicantInfo.controls.secondaryLastName"></app-error-message>
</div>
