<div class="tree-speci margin-bottom-4">
   <div class="tree-cutting-container usa-grid">
      <div class="usa-width-one-whole">
        <h4>Rules</h4>
        <ul>
          <li>Be sure you know which tree species to avoid.</li>
          <li>Do not pick a tree within 100 feet of a trail, 200 feet of
               campgrounds or recreation sites, or within 300 feet of a stream
               or lake.</li>
          <li>Be sure another tree has space to grow within 8 feet of the one
               you plan to cut. Cutting trees from overcrowded areas is beneficial, as the remaining trees will grow faster.
          </li>
          <li>Avoid trees marked with blue paint or designated as a wildlife
               tree.</li>
          <li>Make sure you are on National Forest land before cutting your tree.</li>
        </ul>
        <h4>Helpful information</h4>
        <ul>
          <li>Park your car in an area where it can’t be hit by a falling tree.</li>
          <li>Tools you will need include: a hacksaw, gloves, a tarp and rope or straps to secure your tree.</li>
          <li>Use an axe or handsaw to cut your tree. Motorized saws and chainsaws are prohibited.</li>
        </ul>
      </div>
   </div>
</div>
