<div class="tree-speci margin-bottom-4 usa-width-one-whole">
   <hr>
   <div class="tree-cutting-container">
      <div class="usa-width-two-thirds">
         <ul>
            <li>An abundance of tree types are available for harvesting; be sure
              you know which tree species to avoid.</li>
            <li>Do not pick a tree within 100 feet of a trail, 200 feet of
               campgrounds or recreation sites, or within 300 feet of a stream
               or lake.</li>
            <li>Be sure another tree has space to grow within 8 feet of the one
               you plan to cut.</li>
            <li>Avoid trees marked with blue paint or designated as a wildlife
               tree.</li>
            <li>Make sure you are on National Forest land before cutting your tree.</li>
            <li>Park your car in an area where it can’t be hit by a falling tree.</li>
            <li>Tools you will need include: a hacksaw, gloves, a tarp and rope or straps to secure your tree.</li>
            <li>Use an axe or handsaw to cut your tree. Motorized saws and chainsaws are prohibited.</li>
         </ul>
      </div>
      <div class="usa-width-one-third tree-image-container">
        <img src="/assets/img/no-snowmobile.jpg" alt="snowmobiles are prohibited" />
        <img src="/assets/img/cutting-tools.gif" alt="hacksaw, rope, tarp, gloves" />
        <figcaption class="caption">Tools you will need</figcaption>
        <img src="/assets/img/no-chainsaw.jpg" alt="no chainsaws" />
      </div>
   </div>
</div>
