<app-section-heading heading="How to gather your firewood" id="cutting-instructions" tabIndex="-1"></app-section-heading>

<!-- ipnf block -->
<div *ngIf="(forest.forestAbbr) == 'ipnf'">
  <h3>Equipment you'll need</h3>
  <p>Chainsaw operators must have a serviceable fire extinguisher (liquid 8 oz. or dry chemical 1 lb.) and shovel available at all times.</p>
  <p>Chainsaws must be equipped with an approved spark arrestor screen.</p>
  <p>All vehicles must be equipped with a baffled muffler and serviceable tailpipe.</p>
  <p>A shovel and a bucket are mandatory when traveling through or on National Forest lands during fire season.</p>
  <h3>What to expect</h3>
  <p>Dead trees can be dangerous when they fall. Make sure you understand how to collect dead trees safely, using the right equipment and skills. </p>
  <p>Forest Service roads may have heavy logging traffic. Stay alert and give log truck and equipment plenty of space.</p>
  <p>Park in areas so that traffic can get by safely and do not block gates.</p>
  <p>The permit must be in your possession while harvesting and transporting products. Copies are not allowed and the permit is nontransferable.</p>
</div>

<!-- flathead block -->
<div *ngIf="(forest.forestAbbr)=='flathead'">
  <h3>Equipment you'll need during the Proclaimed Fire Season</h3>
  <p>Chainsaw operators must have a serviceable fire extinguisher (liquid 8 oz. or dry chemical 1 lb.) and shovel available at all times.</p>
  <p>Chainsaws must be equipped with an approved spark arrester screen.</p>
  <p>All vehicles must be equipped with a baffled muffler and serviceable tailpipe.</p>
  <h3>What to expect</h3>
  <p>Dead trees are dangerous to fell. Make sure you are experienced with your felling equipment and skills.</p>
  <p>Drive safely and be alert for winter driving conditions. Your vehicle should be equipped with 4-wheel drive, snow tires, chains, and a shovel during the winter season.</p>
  <p>Before you go check the weather forecast and always let someone know where you will be and when you are expected to return</p>
  <p>Forest Service roads may have heavy logging traffic. Stay alert and give log truck and equipment plenty of space.</p>
  <p>Park in areas so that traffic can get by safely and do not block gates.</p>
  <p>Drive safely and be alert for winter driving conditions. Your vehicle should be equipped with 4-wheel drive, snow tires, chains, and a shovel during the winter season.</p>
  <p>The maximum piece length for firewood removal is six (6) feet.</p>
</div>

<!-- conf block -->
<div *ngIf="(forest.forestAbbr)=='conf'">
  <p>Dead trees can be dangerous when they fall. Make sure you understand how to collect dead trees safely, using the right equipment and skills. </p>
  <p>Before you go check the weather forecast and always let someone know where you will be and when you are expected to return.</p>
  <p>Forest Service roads may have heavy logging traffic. Stay alert and give log truck and equipment plenty of space.</p>
  <p>Park in areas so that traffic can get by safely and do not block gates.</p>
  <p>How much wood can be gathered? 4 cords/$20 minimum purchase.</p>
  <p>Firewood is commonly measured in cords. A standard cord is the amount of lightly stacked wood 4 feet wide by 4 feet high by 8 feet long.</p>
  <p>Always wear proper clothing with PPE and safely operate equipment.</p>
</div>

<!-- gwj block -->
<div *ngIf="(forest.forestAbbr)=='gwj'">
  <h3>Equipment</h3>
  <p>Chainsaw operators must have a serviceable fire extinguisher (liquid 8 oz. or dry chemical 1 lb.) and shovel available at all times.</p>
  <p>Chainsaws must be equipped with an approved spark arrestor screen.</p>
  <p>All vehicles must be equipped with a baffled muffler and serviceable tailpipe.</p>
  <p>A shovel and a bucket are mandatory when traveling through or on National Forest lands during fire season.</p>
  <h3>What to expect</h3>
  <p>Dead trees can be dangerous when they fall. Make sure you understand how to collect dead trees safely, using the right equipment and skills.</p>
  <p>Before you go check the weather forecast and always let someone know where you will be and when you are expected to return.</p>
  <p>Forest Service roads may have heavy logging traffic. Stay alert and give log truck and equipment plenty of space.</p>
  <p>Park in areas so that traffic can get by safely and do not block gates.</p>
  <p>You are permitted to gather SIX cords of wood.</p>
  <p>How much is six cords?</p>
    <ul>
      <li>12 loads in a truck with an 8-foot long bed.</li>
      <li>18 loads in a truck with a 6-foot long bed.</li>
      <li>24 loads in a mini-pickup truck.</li>
    </ul>
  <p>The maximum piece length for firewood removal is six (6) feet.</p>
  <p>Product Quantity Removal Record must be completed each day in ink by Permittee before leaving permit area. Date entry must be completed before harvesting begins and amount must be completed before leaving the permit area.</p>
  <p>Display your permit on your dashboard at all times while gathering wood.</p>
  <p>You are required to remove your firewood slash from roadway, ditchline, and streamcourse before leaving the area.</p>
  <h3>Using your firewood</h3>
  <p>For home uses only. Firewood gathered using this permit is not for commercial resale.</p>
</div>

<!-- GMUG block -->
<div *ngIf="(forest.forestAbbr)=='GMUG'">
  <h3>Equipment</h3>
  <p>Chainsaw operators must have a serviceable fire extinguisher (liquid 8 oz. or dry chemical 1 lb.) and shovel available at all times.</p>
  <p>Chainsaws must be equipped with an approved spark arrestor device properly installed, maintained, and in effective working order.</p>
  <h3>What to expect</h3>
  <p>Dead trees can be dangerous when they fall. Make sure you understand how to collect dead trees safely, using the right equipment and skills.</p>
  <p>Before you go, check the weather forecast and always let someone know where you will be and when you are expected to return.</p>
  <p>Forest Service roads may have heavy logging traffic. Stay alert and give log truck and equipment plenty of space.</p>
  <p>Park in areas so that traffic can get by safely and do not block gates.</p>
  <p>The permit must be in your possession while harvesting and transporting products. Copies are not allowed and the permit is nontransferable.</p>
  <p>Stumps shall be cut flat and less than 8 inches above the ground.</p>
  <p>The maximum piece length for firewood removal that is larger than seven (7) inches in diameter at either end is six (6) feet.</p>
  <p>DO NOT damage vegetation, riparian areas, the forest floor, or roadbed surfaces. Use of heavy equipment (such as tractors, bulldozers, skidders, etc) is prohibited. DO NOT drive off roads in areas closed to motorized travel and DO NOT drive on closed roads. Note that the weather conditions may cause roads to be closed.</p>
  <p>You are required to reduce your firewood slash to 24 inch height maximum from roadway, ditchline, and streamcourse before leaving the area. </p>
  <p>You shall remove trash and litter resulting from your activities.</p>
  <p>You shall prevent and suppress forest fires, pay the United States for any unnecessary damage resulting from your activities, and repair all damage to roads, trails, fences, ditches, and telephone lines resulting from your activities under this permit.</p>
  <h3>Using your firewood</h3>
  <p>For home uses only. Firewood gathered using this permit is not for commercial resale.</p>
</div>

<!-- shoshone block -->
<div *ngIf="(forest.forestAbbr)=='shoshone'">
  <h3>Equipment</h3>
  <p>Chainsaws must be in good repair and equipped with a spark arrester with a 0.023 screen.</p>
  <h3>What to expect</h3>
  <p>Dead trees can be dangerous when they fall. Make sure you understand how to collect dead trees safely, using the right equipment and skills.</p>
  <p>Before you go, check the weather forecast and always let someone know where you will be and when you are expected to return.</p>
  <p>Forest Service roads may have heavy logging traffic. Stay alert and give log truck and equipment plenty of space.</p>
  <p>Park in areas so that traffic can get by safely and do not block gates.</p>
  <p>The permit must be in your possession while cutting and transporting the firewood. Copies are not allowed and the permit is nontransferable.</p>
  <p>Stumps shall be cut flat and less than 12 inches above the ground.</p>
  <p>Limbs, tops, and other debris will be removed from roads, ditches, streams, lakes and scattered to a depth of less than 24 inches high on the surrounding landscape.</p>
  <p>The maximum piece length for firewood removal that is larger than seven (7) inches in diameter at either end is eight (8) feet.</p>
  <p>DO NOT damage vegetation, riparian areas, the forest floor, or roadbed surfaces. Use of heavy equipment (such as tractors, bulldozers, skidders, etc) is prohibited. DO NOT drive off roads in areas closed to motorized travel and DO NOT drive on closed roads. Note that the weather conditions may cause roads to be closed.</p>

  <h3>Using your firewood</h3>
  <p>For home uses only. Firewood gathered using this permit is not for commercial resale.</p>
</div>

<!-- Hiawatha block -->
<div *ngIf="(forest.forestAbbr)=='hiawatha'">
  <h3>Equipment you'll need</h3>
  <p>The use of portable sawmill equipment, large capacity hydraulic boom loaders and large capacity truck/trailer combinations are prohibited.</p>
  <p>The use of equipment to move firewood out to a road such as tractors, rubber-tired skidders, ATV's/OHV's or similar vehicles is prohibited.</p>
  <h3>What to expect</h3>
  <p>Dead trees can be dangerous when they fall. Make sure you understand how to collect dead trees safely, using the right equipment and skills.</p>
  <p>Before you go check the weather forecast and always let someone know where you will be and when you are expected to return.</p>
  <p>Forest Service roads may have heavy logging traffic. Stay alert and give log truck and equipment plenty of space.</p>
  <p>Park in areas so that traffic can get by safely and do not block gates.</p>
  <p>The maximum piece length for firewood removal is three (3) feet (36").</p>
  <h3>Using your firewood</h3>
  <p>Help prevent the spread of invasive pests and pathogens. Please make an effort to burn your firewood locally.</p>
</div>

<!-- Tagging Your Load Block for Regions 1, 8, and 9-->
<div *ngIf="(forest.forestAbbr) == 'ipnf' || (forest.forestAbbr)=='flathead'|| (forest.forestAbbr)=='conf' || (forest.forestAbbr)=='gwj' || (forest.forestAbbr)=='hiawatha'">
  <h3>Load tags are required for permits bought online</h3>
  <p>
    If you get your permit online, you’ll need to tag your load by filling out
    and attaching a load tag to your firewood before you haul it out of the forest.
    You'll get your load tags after you purchase your permit.
  </p>
  <h3>How to tag your load</h3>
  <p>After you purchase your permit online, you’ll be emailed black and white load tags along with your permit. You will need to print your load tags and your permit and bring them with you when you go to the forest.</p>
  <p>Fill out your tag(s) after you've loaded your wood, but before you start hauling it.</p>
  <h3>To fill out a tag, you'll need to:</h3>
  <ul>
    <li>Write in the day and the month that you get the wood with a black marker. For example, if you get wood  on the 4th of July, you would fill in "4" for day and "7" for month.</li>
  </ul>
  <h3>To attach a tag, you'll need to:</h3>
  <ul>
    <li>Fold your tag on the dotted lines.</li>
    <li>Place each tag in a zip-top bag, and close the bag.</li>
    <li>Nail your tag(s) to a piece of wood in the back of your load so that it is visible to cars behind you.</li>
  </ul>
</div>

<!-- Tagging Your Load Block for Region 2 -->
<div *ngIf="(forest.forestAbbr)=='shoshone' || (forest.forestAbbr)=='GMUG'">
  <h3>Tagging your load</h3>
  <p>You’ll need to tag your load by filling out and attaching a load tag to your firewood before you haul it out of the forest. You'll get your load tags after you purchase your permit. </p>
  <p>The load tag helps law enforcement see that you have a valid permit and have collected your wood legally.</p>
  <h3>How to tag your load if you bought your permit online</h3>
  <p>After you purchase your permit online, you’ll be emailed black and white load tags along with your permit. </p>
  <p>You’ll need to print your load tags and your permit and bring them with you when you go to the forest. </p>
  <p>Fill out and attach your tag(s) after you’ve loaded your wood, but before you start hauling it.</p>
  <p>To fill out  a tag, you’ll need to:</p>
    <ul>
      <li>Write in the day and the month that you  get wood with a black marker. For example, if you get wood on the 4th of July, you would write in "4" for day and "7" for month.</li>
    </ul>
  <p>To attach a tag, you’ll need to: </p>
  <ul>
    <li>Fold your tag on the dotted lines.</li>
    <li>Place each tag in a zip-top bag, and close the bag.</li>
    <li>Nail your tag(s) to a piece of wood in the back of your load so that it is visible to cars behind you.</li>
  </ul>
  <p>How to tag your load if you bought your permit at a District office or from a vendor.</p>
  <p>You’ll be given colored load tags when you buy your permit from a district office or a registered vendor.</p>
  <p>Fill out and attach your tag(s) after you’ve loaded your wood, but before you start hauling it.</p>
  <h3>To fill out a tag, you'll need to:</h3>
  <ul>
    <li>Punch out the month</li>
    <li>Punch out the date</li>
  </ul>
  <h3>To attach a tag, you'll need to:</h3>
  <ul>
    <li>Nail your tag to a piece of wood in the back of your load so that it’s visible to cars behind you.</li>
  </ul>
  <h3>How many tags you'll need</h3>
  <p>Load tags are in 1/2 cord increments. So, for example, if you're hauling 1 cord of wood, you'll need to fill in and attach 2 tags.</p>
</div>