<app-section-heading heading="How to cut your firewood" id="cutting-instructions" tabIndex="-1"></app-section-heading>
<h3>What to expect</h3>
<ul>
  <li>The permit must be in your possession while cutting and transporting the firewood.</li>
  <li>The person purchasing the permit (permittee) or a member of the permittee's immediate family must be present when cutting, gathering, and transporting firewood.</li>
  <li>Stumps shall be cut flat and less than 12 inches above the ground.</li>
  <li>Limbs, tops, and other debris will be removed from roads, ditches, streams, lakes and scattered to a depth of less than 24 inches high on the surrounding landscape.</li>
  <li>Chainsaws must be in good repair and equipped with a spark arrester with a 0.023 screen.</li>
  <li>The maximum length of wood removed must be less than 8 feet in length on logs that are 7 inches or larger in diameter. The 7-inch diameter is measured on the large end of the log.</li>
  <li>Skidding of logs with any motorized vehicle is prohibited as multiple trips causes ruts, 2 tracks ruts and bare soil resulting in channeling water that erodes soil and causes compaction that further erodes soil.</li>
</ul>
<h3>Tagging your load</h3>
<p>Before hauling wood out of the forest, you will need to fill out a load tag and attach it
  to the back of your vehicle. The load tag helps law enforcement see that you have a valid
  permit and have collected your wood legally.
</p>
<p>You'll get your load tags after you purchase your permit. Each load tag is equal to 1/2 cord of wood.</p>
<h3>Filling out tags for online permits</h3>
<p>Online permit buyers are emailed black and white load tags that you will need to print with your permit</p>
<p>To validate your tag, you will need to:</p>
<ul>
  <li>Fill in the day and the month that you are harvesting the wood with a black marker. For example,
    if you harvested on the 4th of July, you would fill in "4" for day and "7" for month.</li>
  <li>Fold your tag on the dotted lines</li>
  <li>Place each tag in a zip-top bag, and close the bag.</li>
  <li>Nail your tag(s) to a piece of wood in the back of your load so that it is visible to cars behind you.</li>
</ul>
<h3>Filling out tags for in-person permits</h3>
<p>You will be given colored load tags when you buy your permit from a district office or a registered vendor.</p>
<p>To validate your tag, you will need to:</p>
<ul>
  <li>Punch out the month</li>
  <li>Punch out the date</li>
  <li>Nail your tag(s) to a piece of wood in the back of your load so that it is visible to cars behind you.</li>
</ul>
<h3>Using your firewood</h3>
<p>For home uses only. Firewood gathered using this permit is not for commercial resale.</p>