<app-section-heading heading="How to cut your firewood" id="cutting-instructions" tabIndex="-1"></app-section-heading>
<h3>Equipment you'll need</h3>
<div *ngIf="(forest.forestAbbr) == 'ipnf'">
  <p>Chainsaw operators must have a serviceable fire extinguisher (liquid 8 oz. or dry chemical 1 lb.) and shovel available at all times.</p>
  <p>Chainsaws must be equipped with an approved spark arrestor screen.</p>
  <p>All vehicles must be equipped with a baffled muffler and serviceable tailpipe.</p>
  <p>A shovel and a bucket are mandatory when traveling through or on National Forest lands during fire season.</p>
  <h3>What to expect</h3>
  <p>The permit must be in the Permittee's possession while harvesting and transporting products. Copies are not allowed and the permit is nontransferable.</p>
</div>

