<section id="sidebar-page" class="usa-section usa-content permit-guidelines">
  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <app-breadcrumbs></app-breadcrumbs>
    </div>

    <app-sidebar permitType="firewood" mobileMenu="true" [items]="sidebarItems" [user]="user" class="usa-width-one-third usa-layout-docs-sidenav"></app-sidebar>

    <div id="skip-nav-target" tabindex="-1" class="usa-width-two-thirds sidebar-page-main-content">

      <!-- general forest info -->
      <h3 *ngIf="forest">{{forest.forestName}}</h3>
      <h1>Firewood permit information</h1>
      <p>With a firewood permit, you can cut and collect firewood from the {{forest.forestName}}.</p>

      <!-- getting a firewood permit -->
      <app-section-heading heading="Getting a firewood permit" id="season-dates" tabIndex="-1"></app-section-heading>
      <app-cutting-dates [forest]="forest"></app-cutting-dates>
      <app-when-to-cut></app-when-to-cut>

      <!-- where to find firewood -->
      <app-where-to-find></app-where-to-find>

      <!-- how to cut your firewood -->
      <app-how-to-cut></app-how-to-cut>

      <!-- how to plan your trip -->
      <app-how-to-plan></app-how-to-plan>

      <!-- contact us -->
      <app-contact-us></app-contact-us>

    </div>
  </div>
</section>
