<section id="sidebar-page" class="usa-section usa-content permit-guidelines">
  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <app-breadcrumbs></app-breadcrumbs>
    </div>

    <app-sidebar permitType="firewood" mobileMenu="true" [items]="sidebarItems" [user]="user" class="usa-width-one-third usa-layout-docs-sidenav"></app-sidebar>

    <div id="skip-nav-target" tabindex="-1" class="usa-width-two-thirds sidebar-page-main-content">

      <!-- general forest info -->
      <h3 *ngIf="forest">{{forest.forestName}}</h3>
      <h1>Firewood permit information</h1>
      <p *ngIf="(forest.forestAbbr)==='ipnf'">
        With a firewood permit, you can collect firewood from the {{forest.forestName}}.
      </p>
      <p *ngIf="(forest.forestAbbr)==='flathead' || (forest.forestAbbr)==='gwj' || (forest.forestAbbr)==='conf'">
        With a firewood permit, you can gather firewood from the {{forest.forestName}}.
      </p>
      <p *ngIf="(forest.forestAbbr)==='hiawatha' || (forest.forestAbbr)==='gmug' || (forest.forestAbbr)==='shoshone'">
        With a firewood permit, you can cut and gather firewood from the {{forest.forestName}}.
      </p>
      <!-- getting a firewood permit -->
      <app-section-heading heading="Getting a firewood permit" id="season-dates" tabIndex="-1"></app-section-heading>
      <h3>Cost</h3>
      <p>Firewood permits are <strong>${{forest.woodCost}} per cord</strong> with a <strong>{{forest.minCords}} cord (${{minCost()}}) minimum purchase. </strong>Limit of 12 cords per household per year. All permits are nonrefundable.
      <h3>Buy a permit</h3>
      <p>You can buy firewood permits online or in-person at one of <a href="#prohibited">our district offices</a>.</p>
      <app-button routerLink="/firewood/forests/{{forest.forestAbbr}}/buy" firewood="true"></app-button>

      <!-- where to find firewood -->
      <app-where-to-find></app-where-to-find>

      <!-- how to cut your firewood -->
      <app-how-to-cut></app-how-to-cut>

      <!-- how to plan your trip -->
      <app-how-to-plan></app-how-to-plan>

      <!-- contact us -->
      <app-contact-us></app-contact-us>

    </div>
  </div>
</section>
