<section id="sidebar-page" class="usa-section usa-content permit-guidelines">
  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <app-breadcrumbs></app-breadcrumbs>
    </div>

    <app-sidebar permitType="firewood" mobileMenu="true" [items]="sidebarItems" [user]="user" class="usa-width-one-third usa-layout-docs-sidenav"></app-sidebar>

    <div id="skip-nav-target" tabindex="-1" class="usa-width-two-thirds sidebar-page-main-content">

      <!-- general forest info -->
      <h3 *ngIf="forest">{{forest.forestName}}</h3>
      <h1>Firewood permit information</h1>
      <p>With a firewood permit, you can cut and collect firewood from the {{forest.forestName}}.</p>

      <!-- getting a firewood permit -->
      <app-section-heading heading="Getting a firewood permit" id="season-dates" tabIndex="-1"></app-section-heading>
      <app-firewood-cutting-dates [forest]="forest"></app-firewood-cutting-dates>
      <h3>When to cut firewood</h3>
      <p>Firewood permits are available through the calendar year. However,
        <strong>firewood cutting is not allowed at certain times of year</strong>
        in parts of the forest.
      </p>
      <p>See <a>prohibited areas and restrictions</a> for more information.</p>
      <h3>Cost</h3>
      <p>Firewood permits are $20.00 for <a>4 cords of wood</a>. All permits are nonrefundable.</p>
      <h3>Buy a permit</h3>
      <p>You can buy firewood permits online or in-person at one of <a>our district offices</a>.</p>

      <!-- where to find firewood -->
      <app-section-heading heading="Where to find firewood" id="firewood-locations" tabIndex="-1"></app-section-heading>
      <h3>What kind of wood you can collect</h3>
      <p>All dead and down trees may be gathered.
        <strong>Live trees may NOT be cut.</strong>
      </p>
      <p>Standing dead trees may be cut only if they are within 200 feet of a legal public road.</p>
      <h3>Where you can cut</h3>
      <p>Cutting and gather is only allowed on areas open to cutting and gathering on the firewood maps.</p>
      <p>You can download a firemap below, or pick one up at one of <a>our district offices</a>.</p>
      <!-- download a map -->
      <h3>Download a firewood cutting map</h3>
      <!-- maps -->
      <h3>Prohibited areas and restrictions</h3>
      <ul>
        <li>No cutting or gathering of dead and/or down wood will occur within 200 feet of any lake,
           pond, stream, or river within 200 feet of any recreation area.
         </li>
        <li>Live tree may NOT be cut.</li>
        <li>Standing dead trees may be cut only if they are within 200 feet of a legal public road.</li>
        <li>No gathering or harvesting of any dead trees identified by having pain marks at breast height and stump height or dead trees which have directional, trail, den tree, Animal Inn or land survey signs attached.</li>
      </ul>

      <!-- how to cut your firewood -->
      <app-section-heading heading="How to cut your firewood" id="cutting-instructions" tabIndex="-1"></app-section-heading>
      <h3>Equipment you'll need</h3>
      <textarea name="equipment" rows="8" cols="80"></textarea>
      <h3>What to expect</h3>
      <textarea name="expectations" rows="8" cols="80"></textarea>
      <h3>Tagging your load</h3>
      <p>Before hauling wood out of the forest, you will need to fill out a load tag and attach it
        to the back of your vehicle. The load tag helps law enforcement see that you have a valid
        permit and have collected your wood legally.
      </p>
      <p>You'll get your load tags after you purchase your permit. Each load tag is equal to 1/2 cord of wood.</p>
      <h3>How many tags will you need?</h3>
      <textarea name="tags" rows="8" cols="80"></textarea>
      <h3>Filling out tags for online permits</h3>
      <p>Online permit buyers are emailed black and white load tags that you will need to print with your permit</p>
      <p>To validate your tag, you will need to:</p>
      <ul>
        <li>Fill in the day and the month that you are harvesting the wood with a black marker. For example,
          if you harvested on the 4th of July, you would fill in "4" for day and "7" for month.</li>
        <li>Fold your tag on the dotted lines</li>
        <li>Place each tag in a zip-top bag, and close the bag.</li>
        <li>Nail your tag(s) to a piece of wood in the back of your load so that it is visible to cars behind you.</li>
      </ul>
      <h3>Filling out tags for in-person permits</h3>
      <p>You will be given colored load tags when you buy your permit from a district office or a registered vendor.</p>
      <p>To validate your tag, you will need to:</p>
      <ul>
        <li>Punch out the month</li>
        <li>Punch out the date</li>
        <li>Nail your tag(s) to a piece of wood in the back of your load so that it is visible to cars behind you.</li>
      </ul>
      <h3>Using your firewood</h3>
      <textarea name="usage" rows="8" cols="80"></textarea>

      <app-section-heading heading="How to plan your trip" id="trip-planning" tabIndex="-1"></app-section-heading>
      <textarea name="planning1" rows="4" cols="80"></textarea>
      <textarea name="planning2" rows="4" cols="80"></textarea>
      <textarea name="planning3" rows="4" cols="80"></textarea>
      <textarea name="planning4" rows="4" cols="80"></textarea>

      <app-section-heading heading="Contact us" id="contact-information" tabIndex="-1"></app-section-heading>
      <h3>District Office 1</h3>
      <textarea name="office1" rows="6" cols="80"></textarea>
      <h3>District Office 2</h3>
      <textarea name="office2" rows="6" cols="80"></textarea>
      <h3>District Office 3</h3>
      <textarea name="office3" rows="6" cols="80"></textarea>

    </div>
  </div>
</section>
