<p>Our National Forests have an abundance of tree species for you to choose from when you’re ready to harvest your
  Christmas tree. As you search the forest, you’ll see trees that are not trimmed or pruned but instead have been free
  to grow naturally. Learning about the available trees in your nearby National Forest can help you find the perfect
  tree.
</p>
<p>Let’s take a look at how to recognize the trees you’ll see. We’ve listed the more popular varieties first, and we’ve
  marked trees that you can’t harvest as prohibited.
</p>
