<section id="application" class="usa-section">
  <div class="usa-grid">
    <app-breadcrumbs></app-breadcrumbs>

    <h2 *ngIf="forest">{{forest.forestName}}</h2>

    <h1 id="skip-nav-target" tabindex="-1">
      <span>Buy a firewood permit</span>
    </h1>
    <div *ngIf="!showRules">
      <h2 *ngIf="forest">You are purchasing a...</h2>

      <!-- inpf block -->
      <div class="buy-firewood-box" *ngIf="(forest.forestAbbr) == 'ipnf'">
        <div class="box-top">
          <h2>2020 Personal-use Firewood permit</h2>
          <h3>For the {{forest.forestName}}</h3>
          <h3 class="not-bold">Jan 1, 2020 - Dec 31, 2020</h3>
        </div>
        <div class="box-bottom">
          <ul>
            <li><strong>Permits are non refundable</strong></li>
            <li>
              <strong>Your permit must be printed to be valid and cannot be stored on a mobile device.</strong>
              If you do not have access to a printer, you can purchase your permit in-person from a district office.
            </li>
            <li><strong>This permit is not intended for commercial firewood operations.</strong></li>
          </ul>
        </div>
      </div>

      <!-- flathead block -->
      <div class="buy-firewood-box" *ngIf="(forest.forestAbbr) == 'flathead'">
        <div class="box-top">
          <h2>2020 Personal-use Firewood permit</h2>
          <h3>For the {{forest.forestName}}</h3>
          <h3 class="not-bold">Expires 6 months after the date of purchase.</h3>
        </div>
        <div class="box-bottom">
          <ul>
            <li><strong>Permits are non refundable</strong></li>
            <li>
              <strong>Your permit must be printed to be valid and cannot be stored on a mobile device.</strong>
              If you do not have access to a printer, you can purchase your permit in-person from a district office.
            </li>
            <li><strong>This permit is not intended for commercial firewood operations.</strong></li>
          </ul>
        </div>
      </div>

      <!-- conf block -->
      <div class="buy-firewood-box" *ngIf="(forest.forestAbbr) == 'conf'">
        <div class="box-top">
          <h2>2020 Personal-use Firewood permit</h2>
          <h3>For the {{forest.forestName}}</h3>
          <h3 class="not-bold">Expires 6 months after the date of purchase.</h3>
        </div>
        <div class="box-bottom">
          <ul>
            <li><strong>Permits are non refundable</strong></li>
            <li>
              <strong>Your permit must be printed to be valid and cannot be stored on a mobile device.</strong>
              If you do not have access to a printer, you can purchase your permit in-person from a district office.
            </li>
            <li><strong>This permit is not intended for commercial firewood operations.</strong></li>
          </ul>
        </div>
      </div>

      <!-- gwj block -->
      <div class="buy-firewood-box" *ngIf="(forest.forestAbbr) == 'gwj'">
        <div class="box-top">
          <h2>2020 Personal-use Firewood permit</h2>
          <h3>For the {{forest.forestName}}</h3>
          <h3 class="not-bold">Expires 12 months after the date of purchase. No extensions granted.</h3>
        </div>
        <div class="box-bottom">
          <ul>
            <li><strong>Permits are non refundable</strong></li>
            <li>
              <strong>Your permit must be printed to be valid and cannot be stored on a mobile device.</strong>
              If you do not have access to a printer, you can purchase your permit in-person from a district office.
            </li>
            <li><strong>This permit is not intended for commercial firewood operations.</strong></li>
          </ul>
        </div>
      </div>

      <!-- shoshone block -->
      <div class="buy-firewood-box" *ngIf="(forest.forestAbbr) == 'shoshone'">
        <div class="box-top">
          <h2>2020 Personal-use Firewood permit</h2>
          <h3>For the {{forest.forestName}}</h3>
          <h3 class="not-bold">Expires December 31, 2020.</h3>
        </div>
        <div class="box-bottom">
          <ul>
            <li><strong>Permits are non refundable</strong></li>
            <li>
              <strong>Your permit must be printed to be valid and cannot be stored on a mobile device.</strong>
              If you do not have access to a printer, you can purchase your permit in-person from a district office.
            </li>
            <li><strong>This permit is not intended for commercial firewood operations.</strong></li>
          </ul>
        </div>
      </div>

      <!-- hiawatha block -->
      <div class="buy-firewood-box" *ngIf="(forest.forestAbbr) == 'hiawatha'">
        <div class="box-top">
          <h2>2020 Personal-use Firewood permit</h2>
          <h3>For the {{forest.forestName}}</h3>
          <h3 class="not-bold">Expires December 31, 2020.</h3>
        </div>
        <div class="box-bottom">
          <ul>
            <li><strong>Permits are non refundable</strong></li>
            <li>
              <strong>Your permit must be printed to be valid and cannot be stored on a mobile device.</strong>
              If you do not have access to a printer, you can purchase your permit in-person from a district office.
            </li>
            <li><strong>This permit is not intended for commercial firewood operations.</strong></li>
          </ul>
        </div>
      </div>

      <!-- GMUG block -->
      <div class="buy-firewood-box" *ngIf="(forest.forestAbbr) == 'GMUG'">
        <div class="box-top">
          <h2>2020 Personal-use Firewood permit</h2>
          <h3>For the {{forest.forestName}}</h3>
          <h3 class="not-bold">Expires December 31, 2020</h3>
        </div>
        <div class="box-bottom">
          <ul>
            <li><strong>Permits are non refundable</strong></li>
            <li>
              <strong>Your permit must be printed to be valid and cannot be stored on a mobile device.</strong>
              If you do not have access to a printer, you can purchase your permit in-person from a district office.
            </li>
            <li><strong>This permit is not intended for commercial firewood operations.</strong></li>
          </ul>
        </div>
      </div>

      <app-api-error *ngIf="apiErrors" [errors]="apiErrors"></app-api-error>

      <form [formGroup]="applicationForm" class="usa-form-large" novalidate (ngSubmit)="showRulesForm()">
          <fieldset>
            <legend>Permit details</legend>
            <app-numer-of-cords [applicantInfo]="applicationForm" (onkeyup)="quantityChange($event)" hintText="Cost: ${{forest.woodCost}}/cord. You can buy {{forest.minCords}} - {{forest.maxCords}} cords."></app-numer-of-cords>
            <label class="margin-top-2">Total cost for firewood permit: ${{totalCost}} </label>

            <legend class="firewood-permit-holder-legend">Permit holder information</legend>
            <app-permit-holder-name id="person-primary-name" [applicantInfo]="applicationForm" formName="primaryAddress" name="Permit holder"></app-permit-holder-name>
            <app-address id="person-primary-address" [parentForm]="applicationForm" formName="primaryAddress" type="primary-permit-holder"></app-address>
            <app-email [applicantInfo]="applicationForm" hintText="Your permit will be sent to the email address you provide and must be printed. Please enter your email address so that your permit can be emailed to you."></app-email>
            <app-email-confirmation [applicantInfo]="applicationForm" hintText="Please verify your email address"></app-email-confirmation>
            <div class="trees-applications-pii-accept-checkbox-container">
              <input id="accept-pii" type="checkbox" formControlName='acceptPII' name="accept-pii" required>
              <label id='accept-pii-label' for="accept-pii"><span class="required-fields-asterisk">*</span> By checking this box, I acknowledge that Open Forest will collect and store my name and email address. For more
                information, please see our <a href="/assets/files/OpenForestePermits-Privacy-Impact-Assessment-2018.pdf">privacy impact assessment</a>. </label>
              <app-error-message fieldId="accept-rules-error" name="To purchase a tree permit, consenting to our collection of your name and email" [control]="applicationForm.controls.acceptPII"></app-error-message>
            </div>
        </fieldset>

        <button id="application-next" class="usa-button-primary usa-button-big" type="submit">Next</button>

        <p class="usa-form-hint">
          You can also buy a permit offline by visiting a Ranger District office.
        </p>
      </form>
    </div>

    <div class='tree-application-rules-container' *ngIf="showRules">
      <p>
        Firewood may be taken from the {{forest.forestName}} under the below rules and guidelines. Failure to follow these
        rules and conditions may result in a fine.
      </p>
      <app-firewood-permit-rules [firstName]="applicationForm.controls.firstName.value" [lastName]="applicationForm.controls.lastName.value" [numberOfCords]="applicationForm.controls.numberOfCords.value"
        [emailAddress]="applicationForm.controls.emailAddress.value" [forest]="forest"></app-firewood-permit-rules>
    </div>
  </div>
</section>
