<section id="forest-finder-intro" class="usa-hero">
  <div class="usa-grid">
    <div class="usa-hero-callout usa-section-dark">
      <h1 id="skip-nav-target" tabindex="-1">Buy a Christmas tree permit</h1>
      <p>The U.S. Forest Service invites you to purchase permits to cut down Christmas trees in some national forests, following certain rules and guidelines.</p>
      <div id="forest-finder-form">
        <form name='forestPickerForm' class="usa-forms" (submit)="goToForest(selectedForest)" autocomplete="off">
          <label for="forest-finder-select">Choose your forest <span>(required)</span></label>
          <select
           required
           #forestFinder
           role="listbox"
           (click)="showForestSelectError = false"
           [(ngModel)]="selectedForest"
           id="forest-finder-select"
           name="forestFinderSelect"
          >
            <option role='option' *ngFor="let forest of forests" [ngValue]="forest">{{ forest.description }}</option>
          </select>
          <div id='forest-finder-error' aria-live="assertive" [ngClass]="{ 'hidden': !showForestSelectError }">
            <span tabindex="0" *ngIf="showForestSelectError">You are required to choose a forest.</span>
          </div>
          <input id='forest-finder-submit' class='usa-button usa-button-inverse' type='submit' value='Get started now' />
        </form>
      </div>
    </div>
  </div>
</section>
<section id="what-to-expect" class="usa-section">
  <div class="usa-grid">
    <h2>What to expect</h2>
    <div class="usa-width-one-third">
      <div id="what-to-expect-image-container" class="vertical-center">
        <a class="cursor-text" href='#' (click)="scrollToForestFinder($event)">
          <img alt="" role="img" width="150" src="/assets/img/site-wide/forests-icon.svg" class="padding-right-1">
        </a>
        <img alt="choose your forest then explore" role="img" width="150" src="/assets/img/site-wide/arrow-next-step.svg" class="padding-right-1 next-arrow">
      </div>
      <h3>Choose your forest</h3>
      <p>
        Some national forests currently allow you to buy a Christmas tree permit online, and each forest has
        its own season dates and rules.
      </p>
    </div>
    <div class="usa-width-one-third">
      <div class="vertical-center transparent">
        <a class="cursor-text" href='#' (click)="scrollToForestFinder($event)">
          <img alt="" role="img" width="150" src="/assets/img/site-wide/cutting-icon.svg" class="padding-right-1">
        </a>
        <img alt="explore then buy your permit" role="img" width="150" src="/assets/img/site-wide/arrow-next-step.svg" class="padding-right-1 next-arrow">
      </div>
      <h3>Get the details</h3>
      <p>Whether it's your first time, or a long-standing family tradition, learn more about Christmas tree cutting on the
        national forest you select above.
      </p>
    </div>
    <div class="usa-width-one-third">
      <div class="vertical-center transparent">
        <a class="cursor-text" href='#' (click)="scrollToForestFinder($event)">
          <img alt="" role="img" width="150" src="/assets/img/site-wide/permit-icon.svg" class="padding-right-1">
        </a>
      </div>
      <h3>Buy a permit</h3>
      <p>Help us ensure national forest resources into the future by carefully reading and following the rules and guidelines for a Christmas tree permit.
      </p>
    </div>
  </div>
</section>
<section id="every-kid-in-a-park" class="usa-section usa-section-tan-dark">
  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <div>
        <img class="every-kid-img" alt="Every kid in a park" role="img" src="/assets/img/site-wide/kid-in-a-park.png">
        The <a href="https://everykidinapark.gov/">Every Kid in a Park</a> initiative offers free access to national parks for children and their families. Fourth graders may also be eligible to receive a free Christmas tree permit. Contact your <a href="https://www.fs.fed.us/ivm/">local forest</a> for details.</div>
    </div>
  </div>
</section>
<section id="multi-faceted-agency" class="multi-faceted-agency usa-section">
  <div class="usa-grid">
    <div class="usa-width-one-whole vertical-center">
      <div>We are a <a href="https://www.fs.fed.us/about-agency">multi-faceted agency</a> that protects 154 national forests and 20 grasslands in 43 states and Puerto Rico. Our mission is to sustain the health, diversity, and productivity of the nation's forests and grasslands to meet the needs of present and future generations.</div>
      <img alt="US Forest Service" class="fs-logo padding-left-1" role="img" src="/assets/img/site-wide/usfslogo.svg">
    </div>
  </div>
</section>
