
  -webkit-print-color-adjust: exact;
  #loadTags {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
  }
  .section {
    overflow: hidden;
    border: 1px solid black;
    top: 0px;
    left: 0px;
    max-width: 40%;
    max-height: 40%;
  }
  .section-one {
    /* border-bottom: 1px dotted black;
    border-right: 1px dotted black; */
  }
  .section-two {
    display: flex;
    flex-direction: row;
  }
